force-app/main/default/flows/AccountInformationRequestTobSignedSub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>270</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>fps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_ready</name>
        <label>Is this ready?</label>
        <locationX>402</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop.FinServ__PrimaryOwner__r.Date_terms_of_business_last_accepted__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.FinServ__JointOwner__r.Date_terms_of_business_last_accepted__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.FinServ__JointOwner__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_first_TOB_for_this_household</name>
        <label>Is this the first TOB for this household?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_financial_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFirstTob</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>account.Household_Lookup__r.FinServ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.Household_Lookup__r.FinServ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_financial_products_including_juniors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sub flow called by party state manager when TOB signed</description>
    <environments>Default</environments>
    <interviewLabel>Account | IR | TOB Signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | IR | TOB Signed</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <collectionReference>gotFps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_information_requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_financial_products</name>
        <label>Get financial products</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>gotFps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_financial_products_including_juniors</name>
        <label>Get financial products (including juniors)</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR ( 3 AND 4)</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Junior</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Household_Lookup__c</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>gotFps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_the_first_TOB_for_this_household</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_information_requests</name>
        <label>Create information requests</label>
        <locationX>182</locationX>
        <locationY>926</locationY>
        <flowName>InformationRequestCreate</flowName>
        <inputAssignments>
            <name>financialAccounts</name>
            <value>
                <elementReference>fps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>account.Household_Lookup__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>fps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>gotFps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
</Flow>
