force-app/main/default/flows/AccountGetPeopleFromIdList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_id_list</name>
        <label>Split id list</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_person_accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>idList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Autolaunched flow that takes in a single string containing a semi colon separated list of person id&#39;s, which returns a collection of person accounts</description>
    <environments>Default</environments>
    <interviewLabel>Account | Get people from id list {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Get people from id list</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_person_accounts</name>
        <label>Get person accounts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Split_id_list.tasksToCreate</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>personAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BankDetailsStatus__c</queriedFields>
        <queriedFields>EmployerBankDetailsVisible__c</queriedFields>
        <queriedFields>Household_Lookup__c</queriedFields>
        <queriedFields>FinServ__Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_id_list</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
