force-app/main/default/flows/AccountValidationCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Screen flow that simply checks for outstanding validations.</description>
    <environments>Default</environments>
    <formulas>
        <name>validationsMessage</name>
        <dataType>String</dataType>
        <expression>IF({!validationsOutstanding}, &quot;Validations outstanding.&quot;, &quot;No validations! The message should disappear.&quot;)</expression>
    </formulas>
    <interviewLabel>FF objects | check for validations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Validation check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidationsMessageDisplay</name>
            <fieldText>&lt;p&gt;{!validationsMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_outstanding_validations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_outstanding_validations</name>
        <label>Check for outstanding validations</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <flowName>OW_ff_objects_check_for_outstanding_validations</flowName>
        <inputAssignments>
            <name>householdID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>validationsOutstanding</assignToReference>
            <name>validationsOutstanding</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationsOutstanding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
