force-app/main/default/flows/AccountChildMoveToOwnHousehold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetRecordTypeIdAccountHousehold</name>
        <label>Get household record type ID</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_primary_ACR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>IndustriesHousehold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetRecordTypeIdAccountPersonAccount</name>
        <label>Get person record type ID</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetRecordTypeIdAccountHousehold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetRecordTypeIdFinancialProductSIPP</name>
        <label>Get record type ID | Financial Product | SIPP</label>
        <locationX>534</locationX>
        <locationY>1946</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_adult_product_to_clone_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <elementReference>adultProductRecordTypeDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>FinServ__FinancialAccount__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <outputParameters>
            <assignToReference>financialProductAdult.RecordTypeId</assignToReference>
            <name>recordTypeId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetRecordTypeIdOpportunityDiscovery</name>
        <label>Get record type ID | Opportunity | Discovery</label>
        <locationX>446</locationX>
        <locationY>3302</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Define_discovery_opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>Advice_Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetRecordTypeIdOpportunityFastTrack</name>
        <label>Get record type ID | Opportunity | Fast track</label>
        <locationX>182</locationX>
        <locationY>3302</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Define_fast_track_opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>AdviceFastTrack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_adult_product_to_clone_collection</name>
        <label>Add adult product to clone collection</label>
        <locationX>534</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>financialProductsNewHouseholdInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>financialProductAdult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_the_child_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_clone_to_collection</name>
        <label>Add clone to collection</label>
        <locationX>666</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>financialProductsNewHouseholdInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>financialProductClone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_original_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_original_to_collection</name>
        <label>Add original to collection</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>financialProductsOriginalHouseholdUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_financial_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_financial_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_original_ACR_as_not_primary</name>
        <label>Assign original ACR as not primary</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_primary_ACR.FinServ__PrimaryGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_original_household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_original_household_ID</name>
        <label>Assign original household ID</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>originalHouseholdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_primary_ACR.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_original_ACR_as_not_primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_original_product</name>
        <label>Close original product</label>
        <locationX>666</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Loop_financial_products.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_original_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_the_child_product</name>
        <label>Close the child product</label>
        <locationX>534</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>financialProductClone.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_clone_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_adult_FP_SIPP</name>
        <label>Create adult FP</label>
        <locationX>534</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>financialProductAdult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialProductClone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_adult_FP_values_SIPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_clone</name>
        <label>Create clone</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>financialProductClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_financial_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_new_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_common_opportunity_variables</name>
        <label>Define common opportunity variables</label>
        <locationX>446</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.FastTrackReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fastTrackReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentsHousehold.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.FinServ__Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_discovery_opportunity</name>
        <label>Define discovery opportunity</label>
        <locationX>446</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeIdOpportunityDiscovery.recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Book discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_common_opportunity_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_fast_track_opportunity</name>
        <label>Define fast track opportunity</label>
        <locationX>182</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeIdOpportunityFastTrack.recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Await decision</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_common_opportunity_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_adult_FP_values_SIPP</name>
        <label>Set adult FP values</label>
        <locationX>534</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>financialProductAdult.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adultProductPortalDisplayType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordTypeIdFinancialProductSIPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_values</name>
        <label>Set new values</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>financialProductClone.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProductClone.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProductClone.FinServ__Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProductClone.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProductClone.OW_external_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Nova_Junior_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_ID</name>
        <label>Set opportunity ID</label>
        <locationX>446</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_partner_task_to_set_this_client_up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variables_JPH</name>
        <label>Set variables - JPH</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child of client - JPH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fastTrackReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Junior policy holder turning 18</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Initial_percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Opportunity_Initial_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Opportunity_Initial_Fee_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JUNIOR_POLICY_HOLDER_OPPORTUNITY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variables_prospect_discovery</name>
        <label>Set variables - prospect discovery</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child of client - referred</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHILD_OF_CLIENT_TO_DISCO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variables_prospect_fast_track</name>
        <label>Set variables - prospect fast track</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child of client - referred</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fastTrackReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child of client without junior products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHILD_OF_CLIENT_TO_FAST_TRACK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_household</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Move_reason</name>
        <label>Move reason</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>CHILD_OF_CLIENT_JUNIOR_POLICY_HOLDER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_JUNIOR_POLICY_HOLDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_variables_JPH</targetReference>
            </connector>
            <label>JPH</label>
        </rules>
        <rules>
            <name>Prospect_fast_track</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_PROSPECT_FAST_TRACK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_variables_prospect_fast_track</targetReference>
            </connector>
            <label>Prospect - fast track</label>
        </rules>
        <rules>
            <name>Prospect_discovery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_PROSPECT_DISCOVERY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_variables_prospect_discovery</targetReference>
            </connector>
            <label>Prospect - discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_reason_tasks</name>
        <label>Move reason</label>
        <locationX>446</locationX>
        <locationY>4034</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>JPH_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_JUNIOR_POLICY_HOLDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ops_task_to_convert_junior_products</targetReference>
            </connector>
            <label>JPH</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this is a Nova junior product as, if so, we need to convert it to a regular one.</description>
        <name>Nova_Junior_product</name>
        <label>Nova Junior product?</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Add_clone_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financialProductClone.Public_Provider_Name__r.OW_own_company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>financialProductClone.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Junior_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_adult_FP_SIPP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_type</name>
        <label>Opportunity type</label>
        <locationX>446</locationX>
        <locationY>3194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fast_Track</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_JUNIOR_POLICY_HOLDER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_PROSPECT_FAST_TRACK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIdOpportunityFastTrack</targetReference>
            </connector>
            <label>Fast Track</label>
        </rules>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moveReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHILD_OF_CLIENT_PROSPECT_DISCOVERY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIdOpportunityDiscovery</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <description>The sub-flow is called by either a manually launched screen flow or a scheduled flow and will take a given person (child) and move them into their own household and kick off their onboarding journey. This ensures consistency in how we do this, whether it&#39;s a child over 18 or a junior policy holder turning 18 to become a client.</description>
    <environments>Default</environments>
    <formulas>
        <name>adultProductPortalDisplayType</name>
        <dataType>String</dataType>
        <expression>CASE({!financialProductClone.RecordType.DeveloperName},
&quot;Junior_ISA&quot;, &quot;Stocks &amp; Shares ISA&quot;,
&quot;Junior_SIPP&quot;, &quot;Defined Contribution&quot;,
&quot;ERROR&quot;)</expression>
    </formulas>
    <formulas>
        <name>adultProductRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <expression>CASE({!financialProductClone.RecordType.DeveloperName},
&quot;Junior_ISA&quot;, &quot;FP_Stocks_Shares_ISA&quot;,
&quot;Junior_SIPP&quot;, &quot;FP_SIPP&quot;,
&quot;ERROR&quot;)</expression>
    </formulas>
    <formulas>
        <description>The name that should be given to this household in the format of &quot;{last name}, {initial of first name}&quot;</description>
        <name>householdName</name>
        <dataType>String</dataType>
        <expression>{!childPersonAccount.LastName} &amp; &quot;, &quot; &amp; LEFT( {!childPersonAccount.FirstName} , 1 )</expression>
    </formulas>
    <interviewLabel>Account | Convert child to own household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Convert child to own household</label>
    <loops>
        <name>Loop_financial_products</name>
        <label>Loop financial products</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_original_financial_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_original_financial_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the new household in which the child will be a client</description>
        <name>Create_new_household</name>
        <label>Create new household</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_original_financial_products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <elementReference>accountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoreSegmentStatus__c</field>
            <value>
                <stringValue>In criteria</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoreSegment__c</field>
            <value>
                <stringValue>Children of clients who turn 18</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fact_Find_Type__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__NextReview__c</field>
            <value>
                <elementReference>parentsHousehold.FinServ__NextReview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Status__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>householdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_annual_review_month__c</field>
            <value>
                <elementReference>parentsHousehold.OW_annual_review_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>parentsHousehold.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeIdAccountHousehold.recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsegment__c</field>
            <value>
                <stringValue>No sub-segment</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the opportunity we&#39;ll use to get the child to sign TOB etc.</description>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>446</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>Set_opportunity_ID</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Insert the account contact relationship record</description>
        <name>Insert_new_ACR</name>
        <label>Insert new ACR</label>
        <locationX>446</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Insert_new_financial_products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>childPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__PrimaryGroup__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Rollups__c</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_new_financial_products</name>
        <label>Insert new financial products</label>
        <locationX>446</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Opportunity_type</targetReference>
        </connector>
        <inputReference>financialProductsNewHouseholdInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_original_financial_products</name>
        <label>Get original financial products</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_financial_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalHouseholdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>childPersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_original_household</name>
        <label>Get original household</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Move_reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalHouseholdId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>parentsHousehold</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__NextReview__c</queriedFields>
        <queriedFields>OW_annual_review_month__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_primary_ACR</name>
        <label>Get primary ACR</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_original_household_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>childPersonAccount.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FinServ__PrimaryGroup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update these to have a status of closed.</description>
        <name>Close_original_financial_products</name>
        <label>Close original financial products</label>
        <locationX>446</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Update_original_ACR</targetReference>
        </connector>
        <inputReference>financialProductsOriginalHouseholdUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update this so that it is no longer the primary relationship. This is done after the financial products are updated as otherwise validation on primary group may be triggered.</description>
        <name>Update_original_ACR</name>
        <label>Update original ACR</label>
        <locationX>446</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Insert_new_ACR</targetReference>
        </connector>
        <inputReference>Get_primary_ACR</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeIdAccountPersonAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_ops_task_to_convert_junior_products</name>
        <label>Create ops task to convert junior products</label>
        <locationX>314</locationX>
        <locationY>4142</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>JUNIOR_PRODUCT_CONVERT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>who_id</name>
            <value>
                <elementReference>childPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_partner_task_to_set_this_client_up</name>
        <label>Create partner task to set this client up</label>
        <locationX>446</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Move_reason_tasks</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>Create_new_household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_opportunity</name>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <elementReference>taskType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>who_id</name>
            <value>
                <elementReference>childPersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>accountSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the person account of the child being given their own households</description>
        <name>childPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>fastTrackReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Adult/non-junior version of the product this junior policy holds</description>
        <name>financialProductAdult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <description>Used in the loop to create a clone of the financial product that&#39;ll be copied to the new household</description>
        <name>financialProductClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <description>The new financial products to be added to the new household</description>
        <name>financialProductsNewHouseholdInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>financialProductsOriginalHouseholdUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <description>The reason why the person is being moved into their own household, either CHILD_OF_CLIENT_JUNIOR_POLICY_HOLDER or CHILD_OF_CLIENT_PROSPECT</description>
        <name>moveReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>originalHouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the household of the parent(s)</description>
        <name>parentsHousehold</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>taskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
