force-app/main/default/flows/AccountHouseholdDsQueueUpdatedMoveTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>1986</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_message_display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_owner_variables</name>
        <label>Assign task owner variables</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>priorTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_owner_variables_added</name>
        <label>Assign task owner variables</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>priorTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_owner_variables_queue</name>
        <label>Assign task owner variables</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>priorTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_prior_queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_owner_variables_removed</name>
        <label>Assign task owner variables</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>priorTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_queue_error</name>
        <label>No queue error</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Household queue for tasks could not be found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_message_display</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_message_display</name>
        <label>Error message display</label>
        <locationX>1986</locationX>
        <locationY>1397</locationY>
        <customErrorMessages>
            <errorMessage>Household tasks have failed to be reassigned. {!$Label.LogATicketMessage}
Include the following message:
{!errorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Dedicated_specialist_has_changed</name>
        <label>Dedicated specialist has changed?</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change</defaultConnectorLabel>
        <rules>
            <name>DS_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_action</targetReference>
            </connector>
            <label>DS has changed</label>
        </rules>
        <rules>
            <name>Team_queue_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_queue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_prior_queue_Id</targetReference>
            </connector>
            <label>Team queue has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_household_have_a_queue</name>
        <label>Does household have a queue?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>No_queue_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No queue</defaultConnectorLabel>
        <rules>
            <name>Has_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_queue__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_owner_variables_removed</targetReference>
            </connector>
            <label>Has queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_action</name>
        <label>Update action</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No action to take</defaultConnectorLabel>
        <rules>
            <name>Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_owner_variables</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Added</label>
        </rules>
        <rules>
            <name>Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_household_have_a_queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Removed</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_owner_variables_added</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>After save flow to reassign dedicated specialist and queue tasks if the DS or queue is changed on a household.</description>
    <environments>Default</environments>
    <interviewLabel>Account | Household | DS Queue Updated Move Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Household | DS Queue Updated Move Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_existing_queue_Id</name>
        <label>Get existing queue Id</label>
        <locationX>1194</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dedicated_specialist_has_changed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_prior_queue_Id</name>
        <label>Get prior queue Id</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_task_owner_variables_queue</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OW_queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tasks</name>
        <label>Update tasks</label>
        <locationX>1194</locationX>
        <locationY>1181</locationY>
        <faultConnector>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>priorTaskOwner</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_existing_queue_Id</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;IndustriesHousehold&quot;
&amp;&amp; 
(ISCHANGED({!$Record.OW_dedicated_specialist__c})
||
ISCHANGED({!$Record.OW_queue__c}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priorTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
