force-app/main/default/flows/AdviceRegularAmendmentOrchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_advice_updates</name>
        <label>Assign advice updates</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.Assigned_planner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_planner.plannerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_PLANNER_REVIEW</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Confirm_fulfilment_submitted</name>
        <label>Confirm fulfilment submitted</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_recommendations_are_created</name>
        <label>Confirm recommendations are created</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_MARK_RECOMMENDATIONS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Await decision</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_recommendations_marked1</name>
        <label>Confirm recommendations marked</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_SUBMIT_FULFILMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In fulfilment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Planner_review_complete</name>
        <label>Planner review complete</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_CREATE_RECOMMENDATIONS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_no_advice_type_error</name>
        <label>Set no advice type error</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration. No advice type status found for {!advice.Advice_Status__c}.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_unidentified_task_error</name>
        <label>Set unidentified task error</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration flow. {!task.OW_task_information_name__c} task not found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_advice_type_status</name>
        <label>Found advice type status</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_no_advice_type_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No advice type status</defaultConnectorLabel>
        <rules>
            <name>Advice_type_status_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_advice_type_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Advice type status found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Task type</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_unidentified_task_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown task</defaultConnectorLabel>
        <rules>
            <name>Assign_advice_planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_ASSIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_planner</targetReference>
            </connector>
            <label>Assign advice | Planner</label>
        </rules>
        <rules>
            <name>Planner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_PLANNER_REVIEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planner_review_complete</targetReference>
            </connector>
            <label>Planner review</label>
        </rules>
        <rules>
            <name>Create_recommendations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_CREATE_RECOMMENDATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations_are_created</targetReference>
            </connector>
            <label>Create recommendations</label>
        </rules>
        <rules>
            <name>Mark_recommendations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_MARK_RECOMMENDATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations_marked1</targetReference>
            </connector>
            <label>Mark recommendations</label>
        </rules>
        <rules>
            <name>Submit_fulfilment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_SUBMIT_FULFILMENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_fulfilment_submitted</targetReference>
            </connector>
            <label>Submit fulfilment</label>
        </rules>
    </decisions>
    <description>Orchestrates the process of making amendments to regular contributions that do not require full advice.</description>
    <environments>Default</environments>
    <interviewLabel>Advice | Regular amendment | Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Regular amendment | Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_advice_type_status</name>
        <label>Get advice type status</label>
        <locationX>1172</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_advice_type_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdviceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.AdviceType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Status__c</elementReference>
            </value>
        </filters>
        <object>AdviceTypeStatus__c</object>
        <outputReference>adviceTypeStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>NextStatus__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_task_complete_generic</name>
        <label>Confirm task complete</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmCompletePrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;When you have finished the work for this task, click complete task to trigger the next steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskCompleted</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice_type_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_planner</name>
        <label>Assign planner</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_advice_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestratorAssignPlanner</flowName>
        <inputAssignments>
            <name>adviceType</name>
            <value>
                <elementReference>adviceType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The advice record that is being worked with.</description>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The advice type status record that applies for this advice given its current status.</description>
        <name>adviceTypeStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceTypeStatus__c</objectType>
    </variables>
    <variables>
        <name>adviceUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>closeTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
