force-app/main/default/flows/AdviceWithdrawalOrchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_advice_updates</name>
        <label>Assign advice updates</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.Assigned_planner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_planner.plannerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_WRITE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Confirm_meeting_booked</name>
        <label>Confirm meeting booked</label>
        <locationX>5066</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>confirm_meeting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_deck_updates</name>
        <label>Create deck updates</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_DECK_REVIEW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planner review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceDeckCompleteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_will_customer_receive_this_advice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceDeckExpiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deckExpiryDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Deck_review_changes_needed</name>
        <label>Deck review changes needed</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_DECK_RESOLVE_COMMENTS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve planner comments</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Illustrations_updates</name>
        <label>Illustrations updates</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_DECK_WRITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_outcome_to_partner_review_error</name>
        <label>No outcome to partner review error</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown outcome of partner narrative review.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_outcome_to_planner_deck_review</name>
        <label>No outcome to planner deck review</label>
        <locationX>4274</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown outcome of planner deck review.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_outcome_to_planner_review_error</name>
        <label>No outcome to planner review error</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown outcome of planner narrative review.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Push_to_narrative_complete</name>
        <label>Push to narrative complete</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_ILLUSTRATIONS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Push_to_partner_review</name>
        <label>Push to partner review</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_APPROVAL_PARTNER</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Resolve_deck_comments_updates</name>
        <label>Resolve deck comments updates</label>
        <locationX>4538</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_BOOK_MEETING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolve_deck_comments_updates_non_presented</name>
        <label>Resolve deck comments updates - non presented</label>
        <locationX>4802</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PORTAL_DOCS_UPLOAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolve_partner_comments_updates</name>
        <label>Resolve partner comments updates</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_ILLUSTRATIONS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Resolve_planner_comments_updates</name>
        <label>Resolve planner comments updates</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceChecklistUpdated.PlannerCommentsResolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_APPROVAL_PARTNER</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_to_planner</name>
        <label>Return to planner</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve planner comments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_RESOLVE_PLANNER</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_to_planner_partner_rework</name>
        <label>Return to planner</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve partner comments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_RESOLVE_PARTNER</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_book_meeting_task</name>
        <label>Set book meeting task</label>
        <locationX>3746</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_BOOK_MEETING</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_doc_upload_task</name>
        <label>Set doc upload task</label>
        <locationX>4010</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PORTAL_DOCS_UPLOAD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_no_advice_type_error</name>
        <label>Set no advice type error</label>
        <locationX>6562</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration. No advice type status found for {!advice.Advice_Status__c}.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_deck_complete_and_present_advice</name>
        <label>Set to deck complete and present advice</label>
        <locationX>3878</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Advice_presented1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_not_close_task</name>
        <label>Set to not close task</label>
        <locationX>3174</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>closeTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_unidentified_task_error</name>
        <label>Set unidentified task error</label>
        <locationX>6298</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration flow. {!task.OW_task_information_name__c} task not found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_up_advice_updates</name>
        <label>Set up advice updates</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepare advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_narrative_updates</name>
        <label>Write narrative updates</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planner review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_APPROVAL_PLANNER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Advice_method</name>
        <label>Advice method</label>
        <locationX>5726</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_to_not_close_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Presented</defaultConnectorLabel>
        <rules>
            <name>Non_presented_doc_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice.AdviceMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON_PRESENTED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_advice_document_upload_flow.clientEmailedDateTime</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_deck_non_presented</targetReference>
            </connector>
            <label>Non-presented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Advice_presented1</name>
        <label>Advice presented?</label>
        <locationX>3878</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_doc_upload_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not presented</defaultConnectorLabel>
        <rules>
            <name>Presented_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice.AdviceMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRESENTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_book_meeting_task</targetReference>
            </connector>
            <label>Presented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_deck_planner</name>
        <label>Changes?</label>
        <locationX>3878</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_outcome_to_planner_deck_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No changes</defaultConnectorLabel>
        <rules>
            <name>Changes_required_deck_planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Planner_deck_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deck_review_changes_needed</targetReference>
            </connector>
            <label>Changes required</label>
        </rules>
        <rules>
            <name>No_changes_planner_deck_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Planner_deck_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_deck_complete_and_present_advice</targetReference>
            </connector>
            <label>No changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_narrative_review_partner</name>
        <label>Changes?</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_outcome_to_partner_review_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No value</defaultConnectorLabel>
        <rules>
            <name>Changes_required_partner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_narrative_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_to_planner_partner_rework</targetReference>
            </connector>
            <label>Changes required</label>
        </rules>
        <rules>
            <name>No_changes_partner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_narrative_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_to_narrative_complete</targetReference>
            </connector>
            <label>No changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_narrative_review_planner</name>
        <label>Changes?</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_outcome_to_planner_review_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No value</defaultConnectorLabel>
        <rules>
            <name>Changes_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Planner_narrative_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_to_planner</targetReference>
            </connector>
            <label>Changes required</label>
        </rules>
        <rules>
            <name>No_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Planner_narrative_review.changesNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_to_partner_review</targetReference>
            </connector>
            <label>No changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_advice_type_status</name>
        <label>Found advice type status</label>
        <locationX>4868</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_no_advice_type_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No advice type status</defaultConnectorLabel>
        <rules>
            <name>Advice_type_status_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_advice_type_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Advice type status found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_advice_presented</name>
        <label>Is advice presented?</label>
        <locationX>4670</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Resolve_deck_comments_updates_non_presented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not presented</defaultConnectorLabel>
        <rules>
            <name>Presented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice.AdviceMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRESENTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_deck_comments_updates</targetReference>
            </connector>
            <label>Presented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Task type</label>
        <locationX>3174</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_unidentified_task_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown task</defaultConnectorLabel>
        <rules>
            <name>Set_up_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_SET_UP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_advice_updates</targetReference>
            </connector>
            <label>Set up advice</label>
        </rules>
        <rules>
            <name>Assign_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_ASSIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_planner</targetReference>
            </connector>
            <label>Assign advice</label>
        </rules>
        <rules>
            <name>Narrative_Write</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_WRITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Narrative_completeSubFlow</targetReference>
            </connector>
            <label>Narrative | Write</label>
        </rules>
        <rules>
            <name>Narrative_Planner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_APPROVAL_PLANNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planner_narrative_review</targetReference>
            </connector>
            <label>Narrative | Planner review</label>
        </rules>
        <rules>
            <name>Narrative_Resolve_planner_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_RESOLVE_PLANNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_planner_narrative_comments</targetReference>
            </connector>
            <label>Narrative | Resolve planner comments</label>
        </rules>
        <rules>
            <name>Narrative_Partner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_APPROVAL_PARTNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_narrative_review</targetReference>
            </connector>
            <label>Narrative | Partner review</label>
        </rules>
        <rules>
            <name>Narrative_Resolve_partner_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_NARRATIVE_RESOLVE_PARTNER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_partner_narrative_comments</targetReference>
            </connector>
            <label>Narrative | Resolve partner comments</label>
        </rules>
        <rules>
            <name>Illustrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_ILLUSTRATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Illustrations_updates</targetReference>
            </connector>
            <label>Illustrations</label>
        </rules>
        <rules>
            <name>Create_deck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_DECK_WRITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_How_Deck_Was_Presented</targetReference>
            </connector>
            <label>Create deck</label>
        </rules>
        <rules>
            <name>Deck_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_DECK_REVIEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planner_deck_review</targetReference>
            </connector>
            <label>Deck review</label>
        </rules>
        <rules>
            <name>Resolve_deck_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_DECK_RESOLVE_COMMENTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_advice_presented</targetReference>
            </connector>
            <label>Resolve deck comments</label>
        </rules>
        <rules>
            <name>Book_meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_WITHDRAWAL_BOOK_MEETING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>advice.AdviceMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRESENTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_meeting_booked</targetReference>
            </connector>
            <label>Book meeting</label>
        </rules>
        <rules>
            <name>Confirm_meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>confirm_meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>advice.Suitability_meeting_date_time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_meeting_took_place</targetReference>
            </connector>
            <label>Confirm meeting</label>
        </rules>
        <rules>
            <name>Share_deck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD_MIGRATION_4_EYE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD_SEND_EMAIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_deck_shared</targetReference>
            </connector>
            <label>Share deck</label>
        </rules>
        <rules>
            <name>Chase_recommendation_acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chase_recommendation_acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations</targetReference>
            </connector>
            <label>Chase recommendation acceptance</label>
        </rules>
    </decisions>
    <description>Orchestrates the process of withdrawal advice</description>
    <dynamicChoiceSets>
        <name>howWillCustomerReceiveAdvice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AdviceMethod__c</picklistField>
        <picklistObject>Advice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The date on which the advice deck expires.</description>
        <name>deckExpiryDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},3)</expression>
    </formulas>
    <interviewLabel>Advice | Top Up | Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Withdrawal | Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_advice_type_status</name>
        <label>Get advice type status</label>
        <locationX>4868</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_advice_type_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdviceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.AdviceType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Status__c</elementReference>
            </value>
        </filters>
        <object>AdviceTypeStatus__c</object>
        <outputReference>adviceTypeStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>NextStatus__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_deck_shared</name>
        <label>Confirm deck shared</label>
        <locationX>5726</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_advice_document_upload_flow</targetReference>
        </connector>
        <fields>
            <name>ConfirmCompleteShareDeck</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click next to confirm how you shared the deck. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_How_Deck_Was_Presented</name>
        <label>Confirm How Deck Was Presented</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_deck_updates</targetReference>
        </connector>
        <fields>
            <name>confirmHowTheAdviceWasPresented</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select how the customer will receive this advice. Then proceed to confirm the task is complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_will_customer_receive_this_advice</name>
            <choiceReferences>howWillCustomerReceiveAdvice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How will customer receive this advice?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_meeting_took_place</name>
        <label>Confirm meeting took place</label>
        <locationX>5330</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_advice</targetReference>
        </connector>
        <fields>
            <name>ConfirmMeeting</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click next to confirm the meeting took place.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_recommendations</name>
        <label>Confirm recommendations</label>
        <locationX>6034</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_decisions_sub_flow</targetReference>
        </connector>
        <fields>
            <name>recConfirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Proceed to &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;update the recommendations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_task_complete_generic</name>
        <label>Confirm task complete</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmCompletePrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;When you have finished the work for this task, click complete task to trigger the next steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskCompleted</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>4742</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice_type_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_planner</name>
        <label>Assign planner</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_advice_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestratorAssignPlanner</flowName>
        <inputAssignments>
            <name>adviceType</name>
            <value>
                <elementReference>adviceType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_advice_document_upload_flow</name>
        <label>Call advice document upload flow</label>
        <locationX>5726</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Advice_method</targetReference>
        </connector>
        <flowName>AdviceCustomerDocumentUpload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskType</name>
            <value>
                <elementReference>task.OW_task_information_name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Confirm_advice</name>
        <label>Confirm advice</label>
        <locationX>5330</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_to_not_close_task</targetReference>
        </connector>
        <flowName>AdviceConfirmPresented</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Confirm_deck_non_presented</name>
        <label>Confirm deck non-presented</label>
        <locationX>5594</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_to_not_close_task</targetReference>
        </connector>
        <flowName>AdviceConfirmPresented</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>clientEmailedDateTime</name>
            <value>
                <elementReference>Call_advice_document_upload_flow.clientEmailedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Mark_decisions_sub_flow</name>
        <label>Mark decisions sub flow</label>
        <locationX>6034</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_to_not_close_task</targetReference>
        </connector>
        <flowName>AdviceMarkDecisions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Narrative_completeSubFlow</name>
        <label>Narrative complete</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Write_narrative_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestrationNarrativeComplete</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceChecklistUpdated</name>
            <value>
                <elementReference>adviceChecklistUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceType</name>
            <value>
                <elementReference>adviceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceUpdated</name>
            <value>
                <elementReference>adviceUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>adviceChecklistUpdated</assignToReference>
            <name>adviceChecklistUpdated</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adviceUpdated</assignToReference>
            <name>adviceUpdated</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>closeTask</assignToReference>
            <name>closeTask</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpTask</assignToReference>
            <name>followUpTask</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Partner_narrative_review</name>
        <label>Partner narrative review</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Changes_narrative_review_partner</targetReference>
        </connector>
        <flowName>AdviceOrchestratorNarrativeReview</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reviewType</name>
            <value>
                <stringValue>NARRATIVE_PARTNER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Planner_deck_review</name>
        <label>Planner deck review</label>
        <locationX>3878</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Changes_deck_planner</targetReference>
        </connector>
        <flowName>AdviceOrchestratorNarrativeReview</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reviewType</name>
            <value>
                <stringValue>DECK_PLANNER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Planner_narrative_review</name>
        <label>Planner narrative review</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Changes_narrative_review_planner</targetReference>
        </connector>
        <flowName>AdviceOrchestratorNarrativeReview</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reviewType</name>
            <value>
                <stringValue>NARRATIVE_PLANNER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Resolve_partner_narrative_comments</name>
        <label>Resolve partner narrative comments</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Resolve_partner_comments_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestratorNarrativeReview</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reviewType</name>
            <value>
                <stringValue>NARRATIVE_PARTNER_RESOLVE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Resolve_planner_narrative_comments</name>
        <label>Resolve planner narrative comments</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Resolve_planner_comments_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestratorNarrativeReview</flowName>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>reviewType</name>
            <value>
                <stringValue>NARRATIVE_PLANNER_RESOLVE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The advice record that is being worked with.</description>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceChecklist__c</objectType>
    </variables>
    <variables>
        <name>adviceChecklistUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AdviceChecklist__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Text value of the advice type developer name.</description>
        <name>adviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The advice type status record that applies for this advice given its current status.</description>
        <name>adviceTypeStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceTypeStatus__c</objectType>
    </variables>
    <variables>
        <description>Any updates to the advice record should be made to this variable.</description>
        <name>adviceUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>closeTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
