force-app/main/default/flows/AdviceProtectionOrchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_advice_updates</name>
        <label>Assign advice updates</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.Assigned_planner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_planner.plannerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_NARRATIVE_WRITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_planner.plannerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_deck_updates</name>
        <label>Create deck updates</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PORTAL_DOCS_UPLOAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceDeckCompleteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.AdviceType__r.AdviceMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.AdviceDeckExpiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deckExpiryDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_illustrations_updates</name>
        <label>Create illustrations updates</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_RECOMMENDATIONS_CREATE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_proposal_deck_updates</name>
        <label>Create proposal deck updates</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_DECK_PROPOSAL_PRESENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_recommendations_updates</name>
        <label>Create recommendations updates</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_DECK_PROPOSAL_WRITE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_gathering_status_complete</name>
        <label>Data gathering status complete</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.DataGatheringStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_task_to_stay_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_gathering_status_in_progress</name>
        <label>Data gathering status in progress</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.DataGatheringStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_task_to_stay_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_gathering_status_not_required</name>
        <label>Data gathering status not required</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.DataGatheringStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_task_to_stay_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_task_to_stay_open</name>
        <label>Mark task to stay open</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>closeTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Move_to_data_gathering</name>
        <label>Move to data gathering</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_DATA_GATHERING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Data gathering</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Move_to_prepare_advice</name>
        <label>Move to prepare advice</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_ASSIGN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepare advice</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Present_proposal_deck_updates</name>
        <label>Present proposal deck updates</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_DECK_ADVICE_WRITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present advice</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_no_advice_type_error</name>
        <label>Set no advice type error</label>
        <locationX>4450</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration. No advice type status found for {!advice.Advice_Status__c}.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_profile_update_status</name>
        <label>Set profile update status</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.ProfileUpdateStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProfileUpdateStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_task_to_stay_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_not_close_task</name>
        <label>Set to not close task</label>
        <locationX>2184</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>closeTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_unidentified_task_error</name>
        <label>Set unidentified task error</label>
        <locationX>4186</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Raise a ticket with this message: {!adviceType} orchestration flow. {!task.OW_task_information_name__c} task not found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Write_narrative_updates</name>
        <label>Write narrative updates</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>adviceUpdated.NarrativeStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_PROTECTION_ILLUSTRATIONS_CREATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.DeckStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Complete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_progress</name>
        <choiceText>In progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotRequired</name>
        <choiceText>Not required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Required</name>
        <choiceText>Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REQUIRED</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Button_clicked</name>
        <label>Button clicked?</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Next_step_data_gathering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not clicked</defaultConnectorLabel>
        <rules>
            <name>Clicked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DataGatheringProceedWhileInProgress.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataGatheringNotRequiredNow.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataGatheringRequiredNow.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_modal</targetReference>
            </connector>
            <label>Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_advice_type_status</name>
        <label>Found advice type status</label>
        <locationX>3317</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_no_advice_type_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No advice type status</defaultConnectorLabel>
        <rules>
            <name>Advice_type_status_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_advice_type_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Advice type status found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_step_data_gathering</name>
        <label>Next step</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Set_profile_update_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_while_IRs_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataGatheringProceedWhileInProgress.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_gathering_status_complete</targetReference>
            </connector>
            <label>Proceed while IRs in progress</label>
        </rules>
        <rules>
            <name>IRs_now_not_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataGatheringNotRequiredNow.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_gathering_status_not_required</targetReference>
            </connector>
            <label>IRs now not required</label>
        </rules>
        <rules>
            <name>Data_gathering_now_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataGatheringRequiredNow.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_gathering_status_in_progress</targetReference>
            </connector>
            <label>Data gathering now required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_step_setup</name>
        <label>Next step</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Move_to_prepare_advice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prepare advice</defaultConnectorLabel>
        <rules>
            <name>Data_gathering_next_step</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_up_advice.dataGatheringRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_data_gathering</targetReference>
            </connector>
            <label>Data gathering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_confirm_deck</name>
        <label>Ready to confirm deck?</label>
        <locationX>3614</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_to_not_close_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ready</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_advice_deck.clientEmailedDateTime</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_deck_non_presented</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Task type</label>
        <locationX>2184</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_unidentified_task_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown task</defaultConnectorLabel>
        <rules>
            <name>Set_up_advice_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_SET_UP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_advice</targetReference>
            </connector>
            <label>Set up advice</label>
        </rules>
        <rules>
            <name>Data_gathering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_DATA_GATHERING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_information_requests</targetReference>
            </connector>
            <label>Data gathering</label>
        </rules>
        <rules>
            <name>Assign_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_ASSIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_planner</targetReference>
            </connector>
            <label>Assign advice</label>
        </rules>
        <rules>
            <name>Narrative_Write</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_NARRATIVE_WRITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_narrative_updates</targetReference>
            </connector>
            <label>Narrative | Write</label>
        </rules>
        <rules>
            <name>Create_illustrations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_ILLUSTRATIONS_CREATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_illustrations_updates</targetReference>
            </connector>
            <label>Create illustrations</label>
        </rules>
        <rules>
            <name>Create_recommendations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_RECOMMENDATIONS_CREATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_recommendations_updates</targetReference>
            </connector>
            <label>Create recommendations</label>
        </rules>
        <rules>
            <name>Create_proposal_deck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_DECK_PROPOSAL_WRITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_proposal_deck_updates</targetReference>
            </connector>
            <label>Create proposal deck</label>
        </rules>
        <rules>
            <name>Present_protection_proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_DECK_PROPOSAL_PRESENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_proposal_deck_updates</targetReference>
            </connector>
            <label>Present protection proposal</label>
        </rules>
        <rules>
            <name>Create_protection_advice_deck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_PROTECTION_DECK_ADVICE_WRITE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_deck_updates</targetReference>
            </connector>
            <label>Create protection advice deck</label>
        </rules>
        <rules>
            <name>Share_deck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD_MIGRATION_4_EYE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTAL_DOCS_UPLOAD_SEND_EMAIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_deck_shared</targetReference>
            </connector>
            <label>Share deck</label>
        </rules>
        <rules>
            <name>Chase_recommendation_acceptance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>chase_recommendation_acceptance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations</targetReference>
            </connector>
            <label>Chase recommendation acceptance</label>
        </rules>
    </decisions>
    <description>Orchestrates the specific tasks for protection advice.</description>
    <dynamicChoiceSets>
        <name>dataGatheringStatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>DataGatheringStatus__c</picklistField>
        <picklistObject>Advice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProfileUpdateStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>ProfileUpdateStatus__c</picklistField>
        <picklistObject>Advice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>confirmModalMessage</name>
        <dataType>String</dataType>
        <expression>IF({!DataGatheringNotRequiredNow.renderNext}, &quot;Are you sure you want to mark data gathering as not required? No information requests may be linked and the advice will complete data gathering without them.&quot;,
IF({!DataGatheringRequiredNow.renderNext}, &quot;Are you sure you want to mark data gathering as required? This advice will complete data gathering when associated information requests receive their information.&quot;,
IF({!DataGatheringProceedWhileInProgress.renderNext}, &quot;Associated information requests are not yet at information received. Are you sure you want to mark them as complete?&quot;,
&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Contextual help for the data gathering status field.</description>
        <name>dataGatheringStatusHelp</name>
        <dataType>String</dataType>
        <expression>CASE({!advice.DataGatheringStatus__c},
&quot;Not required&quot;, &quot;No information requests are needed for this advice.&quot;,
&quot;In progress&quot;, &quot;This will update to complete automatically when all associated information requests have their information.&quot;,
&quot;Complete&quot;, &quot;&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>The date on which the advice deck expires.</description>
        <name>deckExpiryDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},3)</expression>
    </formulas>
    <interviewLabel>Advice | Protection | Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Protection | Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_advice_type_status</name>
        <label>Get advice type status</label>
        <locationX>3317</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_advice_type_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdviceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.AdviceType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Status__c</elementReference>
            </value>
        </filters>
        <object>AdviceTypeStatus__c</object>
        <outputReference>adviceTypeStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>NextStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_information_requests</name>
        <label>Get information requests</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_gathering_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>InformationRequest__c</object>
        <outputReference>informationRequests</outputReference>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Status__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_deck_shared</name>
        <label>Confirm deck shared</label>
        <locationX>3614</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_advice_deck</targetReference>
        </connector>
        <fields>
            <name>ConfirmCompleteShareDeck</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click next to progress with this task.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_recommendations</name>
        <label>Confirm recommendations</label>
        <locationX>3922</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_decisions_sub_flow</targetReference>
        </connector>
        <fields>
            <name>recConfirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Proceed to &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;update the recommendations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_task_complete_generic</name>
        <label>Confirm task complete</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmCompletePrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;When you have finished the work for this task, click complete task to trigger the next steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskCompleted</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_modal</name>
        <label>Confirmation modal</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_step_data_gathering</targetReference>
        </connector>
        <fields>
            <name>ConfirmDataGatheringStatusChange</name>
            <extensionName>c:confirmModalFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>navigateBackOnCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateForwardOnConfirm</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>confirmModalMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <stringValue>info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirmation needed</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DataGatheringNotRequiredNow.renderNext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DataGatheringRequiredNow.renderNext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DataGatheringProceedWhileInProgress.renderNext</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_gathering_screen</name>
        <label>Data gathering</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Button_clicked</targetReference>
        </connector>
        <fields>
            <name>ConfirmCompletePromptDataGathering</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Record any status updates and proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProfileUpdateStatus</name>
            <choiceReferences>ProfileUpdateStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>advice.ProfileUpdateStatus__c</elementReference>
            </defaultValue>
            <fieldText>Profile update status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Mark as complete if we have everything from the client or not required if profiles updates are no longer needed. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataGatheringStatus</name>
            <choiceReferences>dataGatheringStatusChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>advice.DataGatheringStatus__c</elementReference>
            </defaultValue>
            <fieldText>Data gathering status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;{!dataGatheringStatusHelp}&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DataGatheringNotRequiredNow</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Information requests not required</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advice.DataGatheringStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In progress</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DataGatheringRequiredNow</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Information requests required</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advice.DataGatheringStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DataGatheringProceedWhileInProgress</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Information requests complete</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advice.DataGatheringStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In progress</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update advice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3191</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice_type_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_planner</name>
        <label>Assign planner</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_advice_updates</targetReference>
        </connector>
        <flowName>AdviceOrchestratorAssignPlanner</flowName>
        <inputAssignments>
            <name>adviceType</name>
            <value>
                <elementReference>adviceType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Confirm_deck_non_presented</name>
        <label>Confirm deck non-presented</label>
        <locationX>3482</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_to_not_close_task</targetReference>
        </connector>
        <flowName>AdviceConfirmPresented</flowName>
        <inputAssignments>
            <name>clientEmailedDateTime</name>
            <value>
                <elementReference>Upload_advice_deck.clientEmailedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Mark_decisions_sub_flow</name>
        <label>Mark decisions sub flow</label>
        <locationX>3922</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_to_not_close_task</targetReference>
        </connector>
        <flowName>AdviceMarkDecisions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_up_advice</name>
        <label>Set up advice</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Next_step_setup</targetReference>
        </connector>
        <flowName>AdviceOrchestrationSetUp</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceType</name>
            <value>
                <elementReference>adviceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upload_advice_deck</name>
        <label>Upload advice deck</label>
        <locationX>3614</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Ready_to_confirm_deck</targetReference>
        </connector>
        <flowName>AdviceCustomerDocumentUpload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskType</name>
            <value>
                <elementReference>task.OW_task_information_name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The advice record that is being worked with.</description>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The advice type status record that applies for this advice given its current status.</description>
        <name>adviceTypeStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceTypeStatus__c</objectType>
    </variables>
    <variables>
        <description>Updated version of the advice</description>
        <name>adviceUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <description>Passed out to the orchestration flow, this indicates whether the task passed in should be closed.</description>
        <name>closeTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>informationRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
