force-app/main/default/flows/AdviceInformationRequestConvertLoas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>loaIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_LOA_ids.LOA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_LOA_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collectionFps</name>
        <label>Add to collection</label>
        <locationX>352</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>fpsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fpSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_specific_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_output_collection</name>
        <label>Add to output collection</label>
        <locationX>352</locationX>
        <locationY>1988</locationY>
        <assignmentItems>
            <assignToReference>InformationRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>informationRequestSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_financial_product_values</name>
        <label>Assign financial product values</label>
        <locationX>352</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>fpSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOAs.LOA_Financial_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fpSingle.FinancialProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fptSelect.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collectionFps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_date</name>
        <label>Assign task date</label>
        <locationX>440</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>informationRequestSingle.TempTaskDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_tasks.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_output_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_specific_task</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get specific task</label>
        <locationX>352</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Get_specific_task</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_specific_task.WhatId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOAs.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Old_tasks</targetReference>
        </connector>
    </collectionProcessors>
    <description>Flow to allow specialists to convert existing LOAs to information requests</description>
    <environments>Default</environments>
    <interviewLabel>Advice | IR | Convert LOAs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | IR | Convert LOAs</label>
    <loops>
        <name>Collect_LOA_ids</name>
        <label>Collect LOA ids</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_LOAsToAdvice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_LOAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOAs</name>
        <label>LOAs</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_LOAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_irs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Old_tasks</name>
        <label>Old tasks</label>
        <locationX>352</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_specific_task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_task_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_output_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_irs</name>
        <label>Create irs</label>
        <locationX>176</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>Update_LOAs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>InformationRequests</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_financial_product_types</name>
        <label>Get financial product types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LOAsToAdvice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialProductType__c</object>
        <sortField>SortOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_info_request_types</name>
        <label>Get info request types</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_financial_product_types</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformationRequestType__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LOAs</name>
        <label>Get LOAs</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>loaIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LOAsToAdvice</name>
        <label>Get LOAs to advice</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_LOA_ids</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOA_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOA_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOA_to_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_tasks</name>
        <label>Get tasks</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>loaIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>440</locationX>
        <locationY>2612</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Close_tasks</name>
        <label>Close tasks</label>
        <locationX>176</locationX>
        <locationY>2504</locationY>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>loaIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_financial_products</name>
        <label>Update financial products</label>
        <locationX>176</locationX>
        <locationY>2396</locationY>
        <connector>
            <targetReference>Close_tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>fpsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LOAs</name>
        <label>Update LOAs</label>
        <locationX>176</locationX>
        <locationY>2288</locationY>
        <connector>
            <targetReference>Update_financial_products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>loaIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>MainLOAStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MainLOAStatus__c</field>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <stringValue>Replaced by info request</stringValue>
            </value>
        </inputAssignments>
        <object>LOA__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Collect_details</name>
        <label>Collect details</label>
        <locationX>352</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TransformSubflow</targetReference>
        </connector>
        <fields>
            <name>explain</name>
            <fieldText>&lt;p&gt;Choose the information request type for this LOA:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name:&lt;/strong&gt; {!LOAs.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Value: &lt;/strong&gt;£{!LOAs.LOA_Financial_Account__r.FP_Value__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>irtType</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>InformationRequestType__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_info_request_types</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ea20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Information Request Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-4aaa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fptExplain</name>
            <fieldText>&lt;p&gt;Choose the financial product type for this financial product:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!LOAs.LOA_Financial_Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Portal display type:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!LOAs.LOA_Financial_Account__r.Subtype__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fptSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinancialProductType__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_financial_product_types</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2f7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DescriptionInternal__c&quot;,&quot;guid&quot;:&quot;column-c447&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description (internal)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>440</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Uh oh! There&#39;s been an error here. Please let the product team know the following message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_info_request_types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>TransformSubflow</name>
        <label>Transform</label>
        <locationX>352</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_financial_product_values</targetReference>
        </connector>
        <flowName>InformationRequestLoaTransform</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InformationRequestType</name>
            <value>
                <elementReference>irtType.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>loa</name>
            <value>
                <elementReference>LOAs</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>informationRequestSingle</assignToReference>
            <name>ir</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Get_specific_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>fpSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>fpsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>InformationRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
    <variables>
        <name>informationRequestSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
    <variables>
        <name>loaIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskRequestSingle</name>
        <apexClass>TaskRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
