force-app/main/default/flows/AdviceOrchestrationNarrativeComplete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_updates</name>
        <label>Assign updates</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>adviceChecklistUpdated.SuitabilityBuilder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuitabilityBuilder.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdated.Suitability_Builder_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuitabilityBuilder.value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Updates_to_make</name>
        <label>Updates to make?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adviceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TOP_UP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>adviceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WITHDRAWAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_updates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sub flow to allow planners to confirm that the narrative has been written</description>
    <environments>Default</environments>
    <interviewLabel>Advice | Orchestration | Narrative complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Orchestration | Narrative complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Narrative_complete</name>
        <label>Narrative complete?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_core_advice_details</targetReference>
        </connector>
        <fields>
            <name>confirmNarrative</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click next to confirm that the suitability narrative is complete. The next task will be the planner review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuitabilityBuilder</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Suitability builder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>adviceChecklist.SuitabilityBuilder__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>adviceType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>TOP_UP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>adviceType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>WITHDRAWAL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Snapshot_taken</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>adviceChecklist.SnapshotTaken__c</elementReference>
            </defaultValue>
            <fieldText>Snapshot taken?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Narrative complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Narrative_complete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Capture_core_advice_details</name>
        <label>Capture core advice details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Updates_to_make</targetReference>
        </connector>
        <flowName>AdviceOrchestrationConfirmDeckComplete</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceChecklist</name>
            <value>
                <elementReference>adviceChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceChecklistUpdated</name>
            <value>
                <elementReference>adviceChecklistUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>adviceUpdated</name>
            <value>
                <elementReference>adviceUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>adviceChecklistUpdated</assignToReference>
            <name>adviceChecklistUpdated</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adviceUpdated</assignToReference>
            <name>adviceUpdated</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceChecklist__c</objectType>
    </variables>
    <variables>
        <name>adviceChecklistUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AdviceChecklist__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Any updates to the advice record should be made to this variable.</description>
        <name>adviceUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>closeTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
