force-app/main/default/flows/AdviceRegularAmendmentOrchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_advice_updates</name>
        <label>Assign advice updates</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>advice.Assigned_planner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlannerSelect.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdateRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_PLANNER_REVIEW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Advice_update_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_fulfilment_submitted</name>
        <label>Confirm fulfilment submitted</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>advice.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdateRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_recommendations_are_created</name>
        <label>Confirm recommendations are created</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_MARK_RECOMMENDATIONS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Await decision</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdateRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_recommendations_marked1</name>
        <label>Confirm recommendations marked</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_SUBMIT_FULFILMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceUpdateRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice.Advice_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In fulfilment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Planner_review_complete</name>
        <label>Planner review complete</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADVICE_REGULAR_AMENDMENT_CREATE_RECOMMENDATIONS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_task_complete_generic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_advice_ID</name>
        <label>Set advice ID</label>
        <locationX>2096</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Advice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error</name>
        <label>Set error</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No advice type status record found. Please raise a ticket. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Advice_update_required</name>
        <label>Advice update required?</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Close_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adviceUpdateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_advice</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_on_task_to_create</name>
        <label>Follow on task to create</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>CompleteScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No task</defaultConnectorLabel>
        <rules>
            <name>Task_to_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>followUpTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_next_task</targetReference>
            </connector>
            <label>Task to create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_advice_type_status</name>
        <label>Found advice type status</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No advice type status</defaultConnectorLabel>
        <rules>
            <name>Advice_type_status_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_advice_type_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Advice type status found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_task</name>
        <label>Found task?</label>
        <locationX>2096</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Task_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No task</defaultConnectorLabel>
        <rules>
            <name>Task_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId18Char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>task.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_advice_type_status</targetReference>
            </connector>
            <label>Task found</label>
        </rules>
        <rules>
            <name>Doesn_t_own_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId18Char</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>task.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Task_For_You_Screen</targetReference>
            </connector>
            <label>Doesn&#39;t own task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Task type</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Unknown_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown task</defaultConnectorLabel>
        <rules>
            <name>Assign_advice_planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_ASSIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_planner_profile_ID</targetReference>
            </connector>
            <label>Assign advice | Planner</label>
        </rules>
        <rules>
            <name>Planner_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_PLANNER_REVIEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planner_review_complete</targetReference>
            </connector>
            <label>Planner review</label>
        </rules>
        <rules>
            <name>Create_recommendations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_CREATE_RECOMMENDATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations_are_created</targetReference>
            </connector>
            <label>Create recommendations</label>
        </rules>
        <rules>
            <name>Mark_recommendations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_MARK_RECOMMENDATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_recommendations_marked1</targetReference>
            </connector>
            <label>Mark recommendations</label>
        </rules>
        <rules>
            <name>Submit_fulfilment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task.OW_task_information_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVICE_REGULAR_AMENDMENT_SUBMIT_FULFILMENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_fulfilment_submitted</targetReference>
            </connector>
            <label>Submit fulfilment</label>
        </rules>
    </decisions>
    <description>Orchestrates the process of a regular amendments advice</description>
    <dynamicChoiceSets>
        <name>howWillCustomerReceiveAdvice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AdviceMethod__c</picklistField>
        <picklistObject>Advice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Planners</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_planner_profile_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The date on which the advice deck expires.</description>
        <name>deckExpiryDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},3)</expression>
    </formulas>
    <formulas>
        <name>userId18Char</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Advice | Regular amendment | Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Regular amendment | Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Advice</name>
        <label>Get Advice</label>
        <locationX>2096</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_advice_type_status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>Advice__c</object>
        <outputReference>advice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Advice_Status__c</queriedFields>
        <queriedFields>Assigned_planner__c</queriedFields>
        <queriedFields>AdviceType__c</queriedFields>
        <queriedFields>Advice_Household__c</queriedFields>
        <queriedFields>AdviceChecklist__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_advice_type_status</name>
        <label>Get advice type status</label>
        <locationX>2096</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdviceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.AdviceType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Status__c</elementReference>
            </value>
        </filters>
        <object>AdviceTypeStatus__c</object>
        <outputReference>adviceTypeStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>NextStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_planner_profile_ID</name>
        <label>Get planner profile ID</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_planner_screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_tasks</name>
        <label>Get tasks</label>
        <locationX>2096</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrchestrationTaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OW_task_information_name__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OrchestrationTaskStatus__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_changes</name>
        <label>Roll back changes</label>
        <locationX>1898</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Close_task</name>
        <label>Close task</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Follow_on_task_to_create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>task.OW_task_information_name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_advice</name>
        <label>Update advice</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Close_task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <inputReference>advice</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_planner_screen</name>
        <label>Choose planner screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_advice_updates</targetReference>
        </connector>
        <fields>
            <name>ConfirmCompletePromptAssign</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Choose the planner and click complete task to trigger the next steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PlannerSelect</name>
            <choiceReferences>Planners</choiceReferences>
            <defaultValue>
                <elementReference>advice.Assigned_planner__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Assigned planner</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Choose planner...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Complete task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompleteScreen</name>
        <label>Complete screen</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Complete!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_task_complete_generic</name>
        <label>Confirm task complete</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Advice_update_required</targetReference>
        </connector>
        <fields>
            <name>ConfirmCompletePrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;When you have finished the work for this task, click complete task to trigger the next steps.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskCompleted</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the task?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>1898</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_ConfirmComplete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Task_For_You_Screen</name>
        <label>No Task For You Screen</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTaskForYouMessage</name>
            <fieldText>&lt;p&gt;There are no tasks assigned to you on this advice. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Task_Screen</name>
        <label>No Task Screen</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTaskMessage</name>
            <fieldText>&lt;p&gt;No tasks to complete here, though you might have some in the list below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unknown_task</name>
        <label>Unknown task</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnknownTaskMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;);&quot;&gt;Task not identified&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;);&quot;&gt;Please raise with the product team so they can incorporate this task. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_advice_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_next_task</name>
        <label>Create next task</label>
        <locationX>710</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>CompleteScreen</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_advice_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <elementReference>followUpTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The advice record that is being worked with.</description>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceChecklist__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The advice type status record that applies for this advice given its current status.</description>
        <name>adviceTypeStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceTypeStatus__c</objectType>
    </variables>
    <variables>
        <name>adviceUpdateRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
