force-app/main/default/flows/AdviceInformationRequestsAssess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_statuses</name>
        <label>Assign statuses</label>
        <locationX>842</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>dataGatheringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataAnalysisStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not required</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_statusesAllInfoRec</name>
        <label>Assign statuses</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>dataGatheringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataAnalysisStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_statusesAwaitInfo</name>
        <label>Assign statuses</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>dataGatheringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataAnalysisStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not started</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_statusesComplete</name>
        <label>Assign statuses</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>dataGatheringStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataAnalysisStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignFlagsAwaitInfo</name>
        <label>Assign flags</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>gatheringFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>analysisFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Information_requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFlagssInfoRec</name>
        <label>Assign flags</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>analysisFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Information_requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_IRs_for_this_advice</name>
        <label>Are there any IRs for this advice?</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Assign_statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>irs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_included_information_request_id_blank</name>
        <label>Is the included information request id blank?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_IRs_for_this_advice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIncludedIrBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>includedIrId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IRs_for_this_adviceWithoutInclusion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>AssignFlagsAwaitInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Awaiting information</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Information_requests.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Information_requests.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCELLED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Information_requests.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>READY_FOR_ADVICE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_requests</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Information_received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Information_requests.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checklist review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Information_requests.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fund analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFlagssInfoRec</targetReference>
            </connector>
            <label>Information received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_the_advice_at</name>
        <label>Where is the advice at?</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Assign_statusesAwaitInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Awaiting information</defaultConnectorLabel>
        <rules>
            <name>All_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gatheringFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>analysisFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_statusesComplete</targetReference>
            </connector>
            <label>All complete</label>
        </rules>
        <rules>
            <name>All_information_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gatheringFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>analysisFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_statusesAllInfoRec</targetReference>
            </connector>
            <label>All information received</label>
        </rules>
    </decisions>
    <description>Subflow to reassess the data gatheirng and analysis statuses on a piece of advice whenever an information request is linked or unlinked from it</description>
    <environments>Default</environments>
    <interviewLabel>Advice | Information Requests | Assess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Information Requests | Assess</label>
    <loops>
        <name>Information_requests</name>
        <label>Information requests</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <collectionReference>irs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Where_is_the_advice_at</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IRs_for_this_advice</name>
        <label>Get IRs for this advice</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_IRs_for_this_advice</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>excludedIrId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>includedIrId</elementReference>
            </value>
        </filters>
        <object>InformationRequest__c</object>
        <outputReference>irs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IRs_for_this_adviceWithoutInclusion</name>
        <label>Get IRs for this advice</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_IRs_for_this_advice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>excludedIrId</elementReference>
            </value>
        </filters>
        <object>InformationRequest__c</object>
        <outputReference>irs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_included_information_request_id_blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>analysisFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dataAnalysisStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataGatheringStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>excludedIrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gatheringFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includedIrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>irs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
</Flow>
