force-app/main/default/flows/Auto_Activate_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>StopInternalUserUpdate</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Account_Contact_Relationships.Contact.Account.Stop_Internal_User_Update__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Auto - Activate Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Activate Portal Dashboard</label>
    <loops>
        <name>Loop_Account_Contact_Relationships</name>
        <label>Loop Account-Contact Relationships</label>
        <locationX>172</locationX>
        <locationY>479</locationY>
        <collectionReference>Get_Account_Contact_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Trigger_on_Person_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account - Contact Relationships</label>
        <locationX>171</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account_Contact_Relationships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trigger_on_Person_Account</name>
        <label>Update Trigger on Person Account</label>
        <locationX>171</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Loop_Account_Contact_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Account_Contact_Relationships.Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stop_Internal_User_Update__c</field>
            <value>
                <elementReference>StopInternalUserUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Auto_Portal_Activation_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>householdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
