force-app/main/default/flows/BankAccountCreatedUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_owner_Ids</name>
        <label>Split owner Ids</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_owner_IdsInactive</name>
        <label>Split owner Ids</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_1b_Person_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1282</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recommendationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_5_Recommendations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_5_Recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_employment_id</name>
        <label>Assign employment id</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>employmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fake_fulfilment_values</name>
        <label>Assign fake fulfilment values</label>
        <locationX>1282</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>fakeFulfilment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.EmployerBankAccountStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.BankDetailStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.BankDetailStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.ExpressionOfWishFormStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.ExpressionOfWishFormStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.TransferFormsStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.TransferFormsStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.EmployerAmlStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.EmployerAmlStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.Recommendation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.FulfilmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.FulfilmentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fakeFulfilment.AdditionalAmlStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_7_Fulfilment.AdditionalAmlStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_specific_recommendation</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_specific_recommendation</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get specific recommendation</label>
        <locationX>1282</locationX>
        <locationY>1703</locationY>
        <assignNextValueToReference>currentItem_Get_specific_recommendation</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_employer_recommendation</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_specific_recommendation.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_7_Fulfilment.Recommendation__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_fulfilment_status</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Bank_account_status</name>
        <label>Bank account status</label>
        <locationX>886</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>active_person_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_person_bank_details_status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_account_statusSpecific</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Awaiting_replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_person_account.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_account_statusAwaitingReplacement</targetReference>
            </connector>
            <label>Awaiting replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_account_statusAwaitingReplacement</name>
        <label>Bank account status</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_task_to_verify_replacement_bank_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verifying</defaultConnectorLabel>
        <rules>
            <name>ActiveAwaitReplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_person_bank_details_statusReplacement</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_account_statusSpecific</name>
        <label>Bank account status</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>active_person_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlatformStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Updates required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_to_replace_bank_details</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Verifying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_to_verify_bank_details</targetReference>
            </connector>
            <label>Verifying</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_client_have_another_active_bank_account</name>
        <label>Does this client have another active bank account?</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_persons_bank_account_status_to_awaiting_replacemnt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_bank_accountsInactive.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1b_Person_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Verifying</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_owner_Ids</targetReference>
            </connector>
            <label>Active/Verifying</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_owner_IdsInactive</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_status_is_the_account</name>
        <label>What status is the account?</label>
        <locationX>1458</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActiveEmployer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_employment_id</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>InactiveEmployer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_employmentBankPending</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_bank_account_is_this</name>
        <label>What type of bank account is this?</label>
        <locationX>952</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>What_status_is_the_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
    </decisions>
    <description>Flow to handle bank accounts being created or deactivated. This manages updates to person bank details status and closing off tasks.</description>
    <environments>Default</environments>
    <formulas>
        <name>ownersText</name>
        <dataType>String</dataType>
        <expression>LEFT({!accountOwners},LEN({!accountOwners})-2)</expression>
    </formulas>
    <interviewLabel>Bank account | created or updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank account | created or updated</label>
    <loops>
        <name>active_person_loop</name>
        <label>Loop 1a | Person Ids</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Split_owner_Ids.tasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_person_account</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_1b_Person_Ids</name>
        <label>Loop 1b | Person Ids</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <collectionReference>Split_owner_IdsInactive.tasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_existing_bank_accountsInactive</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_5_Recommendations</name>
        <label>Loop 5 | Recommendations</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_employer_recommendation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_fulfilment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_7_Fulfilment</name>
        <label>Loop 7 | Fulfilment</label>
        <locationX>1194</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_fulfilment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_fake_fulfilment_values</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_employer_recommendation</name>
        <label>Get employer recommendation</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_5_Recommendations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaidBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_bank_accountsInactive</name>
        <label>Get existing bank accounts</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_client_have_another_active_bank_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerIds__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_1b_Person_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_fulfilment</name>
        <label>Get fulfilment</label>
        <locationX>1194</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_7_Fulfilment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recommendation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>recommendationIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting pre-requisites</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fulfilment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_person_account</name>
        <label>Get person account</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_account_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>active_person_loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_bank_details_status</name>
        <label>Update bank details status</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <inputAssignments>
            <field>PlatformStatus__c</field>
            <value>
                <stringValue>In place</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_chase_task</name>
        <label>Update chase task</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_employer_recommendation</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_employer_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_employment</name>
        <label>Update employment</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccountStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>FinServ__Employment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_employmentBankPending</name>
        <label>Update employment</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccountStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>FinServ__Employment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_person_bank_details_status</name>
        <label>Update person bank details status</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_bank_details_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>active_person_loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_person_bank_details_statusReplacement</name>
        <label>Update person bank details status</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Create_task_to_replace_bank_detailsAwaiting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>active_person_loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_persons_bank_account_status_to_awaiting_replacemnt</name>
        <label>Update persons bank account status to awaiting replacemnt</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Loop_1b_Person_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1b_Person_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Awaiting replacement</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update request task</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_chase_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_employer_bank_account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_type_of_bank_account_is_this</targetReference>
        </connector>
        <object>BankAccount__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_task_to_replace_bank_details</name>
        <label>Create task to replace bank details</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>replace_bank_details_hubwise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_task_to_replace_bank_detailsAwaiting</name>
        <label>Create task to replace bank details</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>replace_bank_details_hubwise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_task_to_verify_bank_details</name>
        <label>Create task to verify bank details</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>verify_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_task_to_verify_replacement_bank_details</name>
        <label>Create task to verify replacement bank details</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>active_person_loop</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>verify_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_fulfilment_status</name>
        <label>Set fulfilment status</label>
        <locationX>1282</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Loop_7_Fulfilment</targetReference>
        </connector>
        <flowName>FulfilmentSetStatus</flowName>
        <inputAssignments>
            <name>fulfilment</name>
            <value>
                <elementReference>fakeFulfilment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendation</name>
            <value>
                <elementReference>currentItem_Get_specific_recommendation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountOwners</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_specific_recommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>employmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fakeFulfilment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>recommendationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
