force-app/main/default/flows/CaseGdprCreated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_channel</name>
        <label>Create channel</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Set_Slack_channel_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>slackChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>TB9E6U1ED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TB9E6U1ED</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Invite_GDPR_members</name>
        <label>Invite GDPR members</label>
        <locationX>484</locationX>
        <locationY>1908</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Send_message_to_channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>users</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Create_channel.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>TB9E6U1ED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TB9E6U1ED</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackInviteUsersToChannel</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_message_to_channel</name>
        <label>Send message to channel</label>
        <locationX>484</locationX>
        <locationY>2016</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Create_channel.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>slackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TB9E6U1ED</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_users</name>
        <label>Add users</label>
        <locationX>572</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_group_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_group_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_client_1</name>
        <label>Assign client 1</label>
        <locationX>572</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>relationship1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACRs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_client_2</name>
        <label>Assign client 2</label>
        <locationX>836</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>relationship2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACRs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_client_count</name>
        <label>Get client count</label>
        <locationX>484</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>clientCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_client_relationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACRs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>userObjectPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Client</name>
        <label>Client #</label>
        <locationX>704</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Assign_client_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relationship1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_client_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_is_user</name>
        <label>Member is user?</label>
        <locationX>704</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Loop_group_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-user</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_group_members.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>userObjectPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_users</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Runs when a GDPR case is created, coordinating actions within Slack.</description>
    <environments>Default</environments>
    <formulas>
        <name>slackChannelName</name>
        <dataType>String</dataType>
        <expression>&quot;support-gdpr-&quot; &amp; LOWER(TEXT({!$Record.Type})) &amp; &quot;-&quot; &amp; {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>slackMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Hey &lt;!here&gt;, there&#39;s a new GDPR case to get on with due on &quot; &amp; TEXT({!$Record.DateOfRequest__c} + 30) &amp; &quot;.&quot; &amp; BR() &amp; 
&quot;Adviser: &quot; &amp; {!$Record.Account.Owner.FirstName}  &amp; &quot; &quot; &amp; {!$Record.Account.Owner.LastName} &amp; BR() &amp; 
&quot;Household ID: &quot; &amp; {!$Record.AccountId}  &amp; BR() &amp; 
&quot;Household Ref: &quot; &amp; {!$Record.Account.Account_ID__c} &amp; BR() &amp; 
&quot;Client 1 Name: &quot; &amp; {!relationship1.Contact.FirstName} &amp; &quot; &quot; &amp; {!relationship1.Contact.LastName} &amp; BR() &amp;
&quot;Client 1 Email: &quot; &amp; {!relationship1.Contact.Email}  &amp; BR() &amp; 
&quot;Client 1 Mobile: &quot; &amp; {!relationship1.Contact.MobilePhone} &amp; BR() &amp;
&quot;Client 1 Phone: &quot; &amp; {!relationship1.Contact.Account.Phone} &amp;
IF({!clientCount} = 2, 
BR() &amp; &quot;Client 2 Name: &quot; &amp; {!relationship2.Contact.FirstName} &amp; &quot; &quot; &amp; {!relationship2.Contact.LastName} &amp; BR() &amp;
&quot;Client 2 Email: &quot; &amp; {!relationship2.Contact.Email}  &amp; BR() &amp; 
&quot;Client 2 Mobile: &quot; &amp; {!relationship2.Contact.MobilePhone} &amp; BR() &amp;
&quot;Client 2 Phone: &quot; &amp; {!relationship2.Contact.Account.Phone}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case | GDPR | Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | GDPR | Created</label>
    <loops>
        <name>Loop_ACRs</name>
        <label>Loop ACRs</label>
        <locationX>484</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_client_relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_group_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_group_members</name>
        <label>Loop group members</label>
        <locationX>484</locationX>
        <locationY>1416</locationY>
        <collectionReference>Get_group_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Member_is_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invite_GDPR_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_client_relationships</name>
        <label>Get client relationships</label>
        <locationX>484</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_client_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GDPR_group_ID</name>
        <label>Get GDPR group ID</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_group_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GdprOwners</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_group_members</name>
        <label>Get group members</label>
        <locationX>484</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_client_relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GDPR_group_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Slack_channel_ID</name>
        <label>Set Slack channel ID</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_GDPR_group_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>SlackChannelId__c</field>
            <value>
                <elementReference>Create_channel.slackChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;GDPR&quot;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_channel</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clientCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>relationship1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>relationship2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
