force-app/main/default/flows/EmploymentMarkAml.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>930</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recommendationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_recommendation_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_recommendation_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_employment_AML_status</name>
        <label>Assign employment AML status</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>employment.AmlStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_employmentAccept</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_employment_ID</name>
        <label>Assign employment ID</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>employmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_messageDefault</name>
        <label>Assign error message</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown action taken in EmploymentMarkAml. Please raise a ticket.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_household_ID</name>
        <label>Assign household ID</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>employment.Household__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_aml_complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_individual_recommendation_to_value</name>
        <label>Assign individual recommendation to value</label>
        <locationX>1106</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>individualRecommendation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_individual_recommendation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_individual_recommendation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rejected_employment_AML_status</name>
        <label>Assign rejected employment AML status</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>employment.AmlStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_employment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Select_individual_recommendation</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Select individual recommendation</label>
        <locationX>1018</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Select_individual_recommendation</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_recommendations_linked_to_this_employment</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Select_individual_recommendation.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Check_each_fulfilment.Recommendation__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_individual_recommendation</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Was_the_sub_flow_successful</name>
        <label>Was the sub flow successful?</label>
        <locationX>1018</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_each_fulfilment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_selected</name>
        <label>Which button was selected?</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_error_messageDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rejectButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rejected_employment_AML_status</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acceptButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_employment_AML_status</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
    </decisions>
    <description>Screen flow to allow users to update employment aml status</description>
    <environments>Default</environments>
    <interviewLabel>Employment | Mark AML {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employment | Mark AML</label>
    <loops>
        <name>Assign_individual_recommendation</name>
        <label>Assign individual recommendation</label>
        <locationX>1018</locationX>
        <locationY>1622</locationY>
        <collectionReference>Select_individual_recommendation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_individual_recommendation_to_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_set_status_sub_flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_each_fulfilment</name>
        <label>Check each fulfilment</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_fulfilment_that_may_require_an_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_individual_recommendation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Collect_recommendation_IDs</name>
        <label>Collect recommendation IDs</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_recommendations_linked_to_this_employment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_fulfilment_that_may_require_an_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_employment</name>
        <label>Get employment</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_household_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employmentId</elementReference>
            </value>
        </filters>
        <object>FinServ__Employment__c</object>
        <outputReference>employment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Household__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_fulfilment_that_may_require_an_update</name>
        <label>Get fulfilment that may require an update</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_each_fulfilment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recommendation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>recommendationIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting pre-requisites</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fulfilment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendations_linked_to_this_employment</name>
        <label>Get recommendations linked to this employment</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_recommendation_IDs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_employment</name>
        <label>Update employment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <inputReference>employment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_employmentAccept</name>
        <label>Update employment</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_recommendations_linked_to_this_employment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <inputReference>employment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>974</locationX>
        <locationY>2456</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>employer_aml</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirm_aml_complete</name>
        <label>Confirm AML complete</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_button_was_selected</targetReference>
        </connector>
        <fields>
            <name>Have_you_saved_the_certificate_of_incorporation</name>
            <dataType>Boolean</dataType>
            <fieldText>Have you saved the certificate of incorporation?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Make sure this is done&lt;/p&gt;</errorMessage>
                <formulaExpression>true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Have_you_saved_the_Companies_House_overview</name>
            <dataType>Boolean</dataType>
            <fieldText>Have you saved the Companies House overview?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Make sure this is done&lt;/p&gt;</errorMessage>
                <formulaExpression>true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Has_everything_else_been_completed</name>
            <dataType>Boolean</dataType>
            <fieldText>Has everything else been completed?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Make sure this is done&lt;/p&gt;</errorMessage>
                <formulaExpression>true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Confirm_aml_complete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_aml_complete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rejectButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Reject AML</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_aml_complete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>acceptButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Accept AML</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;There&#39;s been an error here, with the following message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_employment_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_set_status_sub_flow</name>
        <label>Call set status sub flow</label>
        <locationX>1018</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Was_the_sub_flow_successful</targetReference>
        </connector>
        <flowName>FulfilmentSetStatus</flowName>
        <inputAssignments>
            <name>fulfilment</name>
            <value>
                <elementReference>Check_each_fulfilment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendation</name>
            <value>
                <elementReference>individualRecommendation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Select_individual_recommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>employment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>employmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualRecommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
