force-app/main/default/flows/Facts_Inactivate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_conflict_of_interest_for_household</name>
        <label>Evaluate conflict of interest for household</label>
        <locationX>50</locationX>
        <locationY>1388</locationY>
        <actionName>CustomerFactConflictEvaluation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_evaluate_COI_error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountList</name>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerFactConflictEvaluation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_household_vulnerability</name>
        <label>Update household vulnerability</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>CustomerFactVulnerabilityEvaluation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_conflict_of_interest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountList</name>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerFactVulnerabilityEvaluation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>updateFacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentFact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Facts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set</name>
        <label>Set evaluation error message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There&#39;s been a problem updating the vulnerability status on this household.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_message</name>
        <label>Set error message</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There&#39;s been an issue updating this fact.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_evaluate_COI_error</name>
        <label>Set evaluate COI error</label>
        <locationX>314</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was a problem evaluating the conflict of interest status for this household.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Inactive_Fields</name>
        <label>Update Inactive Fields</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentFact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Facts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentFact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_vulnerability_or_conflict_of_interest</name>
        <label>Is a vulnerability or conflict of interest?</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither vulnerability or COI</defaultConnectorLabel>
        <rules>
            <name>Vulnerability_or_COI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>singleFact.FactCategoryEnum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VULNERABILITY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>singleFact.FactCategoryEnum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONFLICT_OF_INTEREST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_accounts</targetReference>
            </connector>
            <label>Vulnerability or COI?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_conflict_of_interest</name>
        <label>Is conflict of interest?</label>
        <locationX>314</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not conflict of interest</defaultConnectorLabel>
        <rules>
            <name>Conflict_of_interest_fact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleFact.FactCategoryEnum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONFLICT_OF_INTEREST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_conflict_of_interest_for_household</targetReference>
            </connector>
            <label>Conflict of interest fact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_vulnerability</name>
        <label>Is vulnerability?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Is_conflict_of_interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not vulnerability</defaultConnectorLabel>
        <rules>
            <name>Vulnerability_fact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleFact.FactCategoryEnum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VULNERABILITY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_household_vulnerability</targetReference>
            </connector>
            <label>Vulnerability fact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Record_Collection</name>
        <label>Single or Record Collection?</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Inactivate_Facts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collection</defaultConnectorLabel>
        <rules>
            <name>Single_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>Single Record</label>
        </rules>
    </decisions>
    <description>Screen flow to set the status of a single or list of customer fact to inactive. Before save flow will then set the inactivated date and by who fields.</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Facts - Inactivate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facts | Inactivate</label>
    <loops>
        <name>Loop_through_Facts</name>
        <label>Loop through Facts</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Inactive_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Facts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_accounts</name>
        <label>get accounts</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_vulnerability</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleFact.Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleFact.Person__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Vulnerability_Detected__c</queriedFields>
        <queriedFields>Vulnerable_Client__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Facts</name>
        <label>Get Customer Facts</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CustomerFact__c</object>
        <outputReference>singleFact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>FactCategoryEnum__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <queriedFields>Person__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fact</name>
        <label>Update Fact</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Is_a_vulnerability_or_conflict_of_interest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleFact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CustomerFact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Facts</name>
        <label>Update Facts</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <inputReference>updateFacts</inputReference>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Customer_Facts</targetReference>
        </connector>
        <fields>
            <name>uSure2</name>
            <fieldText>&lt;p&gt;Are you sure you want to inactivate this fact?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errorMessage} {!$Label.LogATicketMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactivate_Facts_0</name>
        <label>Inactivate Facts</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Loop_through_Facts</targetReference>
        </connector>
        <fields>
            <name>uSure_0</name>
            <fieldText>&lt;p&gt;Are you Sure want to activate these facts?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>534</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Single_or_Record_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentFact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerFact__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factsToInactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CustomerFact__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleFact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerFact__c</objectType>
    </variables>
    <variables>
        <name>singleFactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerFact__c</objectType>
    </variables>
    <variables>
        <name>updateFacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerFact__c</objectType>
    </variables>
</Flow>
