force-app/main/default/flows/FinancialProductViewAuditHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_a_list_of_audit_rows</name>
        <label>Get a list of audit rows</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <actionName>NovaServiceAuditHistory.getFinancialProductsAuditHistory</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>finprodId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NovaServiceAuditHistory.getFinancialProductsAuditHistory</nameSegment>
        <outputParameters>
            <assignToReference>finProdOverviewResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>callOutException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_financial_product_record</name>
        <label>Get financial product record</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>NovaServiceAuditHistory.getFinancialProductAuditRecord</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>IsSuccessAuditRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>auditRecordId</name>
            <value>
                <elementReference>auditHistoryList.selectedAuditRow.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NovaServiceAuditHistory.getFinancialProductAuditRecord</nameSegment>
        <outputParameters>
            <assignToReference>finProdAuditRecord</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>callOutException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Clear_no_row_selected</name>
        <label>Clear no row selected</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>noRowSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_financial_product_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_no_row_selected</name>
        <label>Set no row selected</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>noRowSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_changes_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_success</name>
        <label>Is success</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsucessful</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_changes_list</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSuccessAuditRecord</name>
        <label>Is success?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsuccessful</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayDetailedChanges</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Row_chosen</name>
        <label>Row chosen?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>set_no_row_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Row not chosen</defaultConnectorLabel>
        <rules>
            <name>RowChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>auditHistoryList.selectedAuditRow.id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_no_row_selected</targetReference>
            </connector>
            <label>Row chosen</label>
        </rules>
    </decisions>
    <description>View the history of changes in a financial product record</description>
    <environments>Default</environments>
    <interviewLabel>Financial product | View history of changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial product | View audit history</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_changes_list</name>
        <label>Display changes list</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Row_chosen</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select a row to view detailed changes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>noRowSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>auditHistoryList</name>
            <extensionName>c:auditHistoryList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>auditRows</name>
                <value>
                    <elementReference>finProdOverviewResponse.history</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayDetailedChanges</name>
        <label>Display Detailed Changes</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_changes_list</targetReference>
        </connector>
        <fields>
            <name>DisplayUpdatesInfo</name>
            <fieldText>&lt;p&gt;Displaying changes made by &lt;strong&gt;{!auditHistoryList.selectedAuditRow.updateMadeBy}&lt;/strong&gt; at &lt;strong&gt;{!auditHistoryList.selectedAuditRow.updateMadeAt}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAuditRowDetail</name>
            <extensionName>c:auditDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedAuditRow</name>
                <value>
                    <elementReference>auditHistoryList.selectedAuditRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>auditRecordResponseFinancialProduct</name>
                <value>
                    <elementReference>finProdAuditRecord.oneOfFinancialProductAuditRecordResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>auditRecordResponseRole</name>
                <value>
                    <elementReference>finProdAuditRecord.oneOfRoleAuditRecordResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>auditHistoryList.selectAuditRowObject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Return to list</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_a_list_of_audit_rows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_errors</name>
        <label>Handle errors</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <flowName>ExceptionHandlingNovaServiceErrors</flowName>
        <inputAssignments>
            <name>Calloutexceptionmessage</name>
            <value>
                <elementReference>callOutException</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowError</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>callOutException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>financialProductOverviewResponse</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_FinancialProductAuditResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finProdAuditRecord</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_getFinancialProductAuditRecord_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finProdOverviewResponse</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_AuditHistoryOverviewResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fpResponse</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_FinancialProductAuditRecordResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noRowSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>test2</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_getFinancialProductAuditRecord_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
