force-app/main/default/flows/FulfilmentOpenProductStatusChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1282</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>fulfilmentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fulfilmentToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subsequent_fulfilment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection2</name>
        <label>Add to collection</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>tasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection3</name>
        <label>Add to collection</label>
        <locationX>1018</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>tasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_tasks_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_variables</name>
        <label>Assign task variables</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.whatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>submit_initial_fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.RelatedFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_fees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variables</name>
        <label>Assign variables</label>
        <locationX>1282</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>fulfilmentToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subsequent_fulfilment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfilmentToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_status.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1106</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>tasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ongoing_fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_count</name>
        <label>Assign count</label>
        <locationX>72</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>openJointCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Tasks_for_joint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Are_there_any_tasks_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_task_variables</name>
        <label>Assign task variables</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.whatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>submit_ongoing_fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.RelatedFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ongoing_fees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_count</name>
        <label>Assign count</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>openRegCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Tasks_for_reg_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_count</name>
        <label>Assign count</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>openPrimaryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Tasks_for_primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Are_there_any_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_id_list</name>
        <label>Create id list</label>
        <locationX>1282</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>idList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subsequent_recommendations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subsequent_recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_set_up_product_task</name>
        <label>Create set up product task</label>
        <locationX>1018</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>set_up_product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.whatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.RelatedFee</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection3</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_initial_fees</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get initial fees</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <assignNextValueToReference>currentItem_Get_ongoing_fees</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_fees_which_will_be_taken_from_this_account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_ongoing_fees.FeeModel__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_initial_advice_fee_model.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_ongoing_fees</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_ongoing_fees</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get ongoing fees</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_Get_ongoing_fees</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_fees_which_will_be_taken_from_this_account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_ongoing_fees.FeeModel__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_ongoing_advice_fee_model.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_fees</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Tasks_for_joint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Tasks for joint</label>
        <locationX>72</locationX>
        <locationY>1355</locationY>
        <assignNextValueToReference>currentItem_Tasks_for_primary</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_bank_details_tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Tasks_for_primary.WhatId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Destination__r.FinServ__JointOwner__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Assign_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Tasks_for_primary</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Tasks for primary</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Tasks_for_primary</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_bank_details_tasks</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Tasks_for_primary.WhatId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Destination__r.FinServ__PrimaryOwner__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Tasks_for_primary.WhatId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Recommendation__r.RegisteredContact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_3_of_Assign_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Tasks_for_reg_contact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Tasks for reg contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Tasks_for_reg_contact</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_bank_details_tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Tasks_for_reg_contact.WhatId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Recommendation__r.RegisteredContact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_Assign_count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_any_open</name>
        <label>Are there any open?</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_request_bank_details_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRegOpen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>openRegCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommendation__r.RegisteredContact__r.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_joint_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_tasks_to_create</name>
        <label>Are there any tasks to create?</label>
        <locationX>1018</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Get_recommendations_that_depend_on_this</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTasksToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tasksToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Are_there_any_open</name>
        <label>Are there any open?</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Create_request_bank_details_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>openPrimaryCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.FinServ__PrimaryOwner__r.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_joint_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Are_there_any_tasks_open</name>
        <label>Are there any tasks open?</label>
        <locationX>72</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_request_bank_details_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>openJointCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.FinServ__JointOwner__r.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_joint_owner</name>
        <label>Is there a joint owner?</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination__r.FinServ__JointOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tasks_for_joint</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_registered_contact</name>
        <label>Is there a registered contact?</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Tasks_for_primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRegContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommendation__r.RegisteredContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tasks_for_reg_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_follow_on</name>
        <label>Is there any follow on?</label>
        <locationX>1018</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Subsequent_recommendations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_recommendations_that_depend_on_this</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_status_is_it_in</name>
        <label>What status is it in?</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_bank_details_tasks</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Submit_forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_initial_advice_fee_model</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submit forms</label>
        </rules>
    </decisions>
    <description>This flow runs when the status is changed for an old process fulfilment to open a new product. It drives changes to any subsequent recommendations. Should be deactivated once all v2 fulfilment has been completed.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Fulfilment - open product - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zOLDPROCESS Fulfilment - open product - status changed</label>
    <loops>
        <name>Loop_through_fees</name>
        <label>Loop through fees</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_initial_fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_task_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_ongoing_fees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ongoing_fees</name>
        <label>Loop through ongoing fees</label>
        <locationX>1018</locationX>
        <locationY>1379</locationY>
        <collectionReference>Get_ongoing_fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_task_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_set_up_product_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Subsequent_fulfilment</name>
        <label>Subsequent fulfilment</label>
        <locationX>1194</locationX>
        <locationY>2927</locationY>
        <collectionReference>Get_subsequent_fulfilment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_subsequent_fulfilment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Subsequent_recommendations</name>
        <label>Subsequent recommendations</label>
        <locationX>1194</locationX>
        <locationY>2519</locationY>
        <collectionReference>Get_recommendations_that_depend_on_this</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_id_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_subsequent_fulfilment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_bank_details_tasks</name>
        <label>Get bank details tasks</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_registered_contact</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pushed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__r.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__r.FinServ__JointOwner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recommendation__r.RegisteredContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_fees_which_will_be_taken_from_this_account</name>
        <label>Get fees which will be taken from this account</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_initial_fees</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>TakenFromRecommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recommendation__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>TakenFromLegacy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_advice_fee_model</name>
        <label>Get initial advice fee model</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ongoing_advice_fee_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial advice fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeeModel__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ongoing_advice_fee_model</name>
        <label>Get ongoing advice fee model</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_fees_which_will_be_taken_from_this_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing advice fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeeModel__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendations_that_depend_on_this</name>
        <label>Get recommendations that depend on this</label>
        <locationX>1018</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_follow_on</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreRequisiteRecommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recommendation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_subsequent_fulfilment</name>
        <label>Get subsequent fulfilment</label>
        <locationX>1194</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subsequent_fulfilment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recommendation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fulfillment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_subsequent_fulfilment</name>
        <label>Update subsequent fulfilment</label>
        <locationX>1194</locationX>
        <locationY>3443</locationY>
        <inputReference>fulfilmentsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_status_is_it_in</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.Status__c})) &amp;&amp; ISPICKVAL({!$Record.Checklist_Type__c}, &quot;Open product&quot;)</filterFormula>
        <object>Fulfillment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_status</name>
        <label>Calculate status</label>
        <locationX>1282</locationX>
        <locationY>3035</locationY>
        <connector>
            <targetReference>Assign_variables</targetReference>
        </connector>
        <flowName>FulfilmentCalculateStatus</flowName>
        <inputAssignments>
            <name>fulfilment</name>
            <value>
                <elementReference>Subsequent_fulfilment</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_1_of_Create_request_bank_details_task</name>
        <label>Create request bank details task</label>
        <locationX>204</locationX>
        <locationY>1679</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Destination__r.FinServ__JointOwner__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_2_of_Create_request_bank_details_task</name>
        <label>Create request bank details task</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Is_there_a_joint_owner</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Recommendation__r.RegisteredContact__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_3_of_Create_request_bank_details_task</name>
        <label>Create request bank details task</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Is_there_a_joint_owner</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Destination__r.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_tasks</name>
        <label>Create tasks</label>
        <locationX>886</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Get_recommendations_that_depend_on_this</targetReference>
        </connector>
        <flowName>TaskCreateFromRequests</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskRequests</name>
            <value>
                <elementReference>tasksToCreate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Get_ongoing_fees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Tasks_for_primary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Tasks_for_reg_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>fulfilmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>idList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openJointCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>openPrimaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>openRegCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tasksToCreate</name>
        <apexClass>TaskRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskToCreate</name>
        <apexClass>TaskRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
