force-app/main/default/flows/FulfilmentFulfilmentDeadlinePassed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_the_fulfilment_deadline_passed</name>
        <label>Has the fulfilment deadline passed?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfilmentDeadline__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_ops_to_clean_up</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Scheduled flow which creates tasks for clean up when old process fulfilment expires. Should be deactivated once all v2 fulfilment has been completed.</description>
    <environments>Default</environments>
    <interviewLabel>Fulfilment - fulfilment deadline passed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zOLDPROCESS Fulfilment - fulfilment deadline passed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_the_fulfilment_deadline_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit forms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting client payment</stringValue>
            </value>
        </filters>
        <object>Fulfillment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-11</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_task_for_ops_to_clean_up</name>
        <label>Create task for ops to clean up</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>inform_client_payment_no_longer_possible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
