force-app/main/default/flows/FulfilmentDisplayLinks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Screen flow to display handy links to specialists during the fulfilment process</description>
    <environments>Default</environments>
    <interviewLabel>Fulfilment - display links {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfilment | display links</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_fulfilment</name>
        <label>Get fulfilment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fulfilment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display</name>
        <label>Display</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fguide</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://drive.google.com/drive/folders/17oGFq7zhjlDJffE45C2QR1XnVIvMepbZ&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 0, 124);&quot;&gt;Fulfilment guides&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submit fulfilment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pguide</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/document/d/1f79e2qr2rfpuWGznBdKhUzVsEucOekl_jz_j5MoaMf8/edit#heading=h.3a494eia5g52&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 24, 120);&quot;&gt;Protection guide (includes IO guides)&lt;/a&gt;&lt;a href=&quot;https://docs.google.com/document/d/1f79e2qr2rfpuWGznBdKhUzVsEucOekl_jz_j5MoaMf8/edit#heading=h.3a494eia5g52&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 11, 120);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.FulfilmentType__r.Product__r.ProductType__r.IsProtection__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>vctguide</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/document/u/0/d/1EsG_ng3bC9y5alqxRDB2LhNjQ18Wz4edqD1GM34uSyk/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 92, 16);&quot;&gt;OI Product (VCT/EIS) guide&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submit fulfilment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Recommendation__r.Product__r.ProductType__r.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>VCT</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Recommendation__r.Product__r.ProductType__r.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>EIS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ioguide</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1cUnD8UQS2JZj5mCt5fQCMXQ3-HASQgLH-pGVRGM8LY4/edit#gid=1241617803&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(4, 92, 6);&quot;&gt;IO guides&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Chase client payment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Chase transfer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Await first regular</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Investment checks</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ptic</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/document/d/1VwZVtOqOs9PrZkNVHSVCKFOxM4Lf0HcNwApbRMrI67g/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(4, 105, 14);&quot;&gt;Phasing ticket template&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.Recommendation__r.PhasingFrequency__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Monthly</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submit fulfilment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ptransfer</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/document/d/1U8ojvl_aPxa2cLqI6CCBmZSAByltO3XouUOWgBAssvo/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(247, 4, 162);&quot;&gt;Partial transfer hubwise ticket template&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.Recommendation__r.TransferType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Submit fulfilment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>commsionio</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://docs.google.com/document/d/1f79e2qr2rfpuWGznBdKhUzVsEucOekl_jz_j5MoaMf8/edit#heading=h.j2pgi88u6wzb&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 0, 141);&quot;&gt;Adding commission to IO&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_fulfilment.FulfilmentType__r.Product__r.ProductType__r.IsProtection__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_fulfilment.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Investment checks</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_fulfilment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
