force-app/main/default/flows/FulfilmentScreenChaseNonStandardAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Split_tasksText</name>
        <label>Split tasks</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_strings</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>Get_fulfilment_type_status.Tasks__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>checkboxValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checkboxValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_strings</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Awaiting_ad_hoc_action</name>
        <choiceText>Awaiting ad hoc action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting ad hoc action</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chase_client_action</name>
        <choiceText>Await client action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chase client action</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chase_provider</name>
        <choiceText>Chase provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chase provider</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_we_have_fulfilment</name>
        <label>Do we have fulfilment?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_fulfilment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fulfilment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_fulfilment_type_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used to record completion of non standard actions</description>
    <dynamicChoiceSets>
        <name>nextStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NextStatus__c</picklistField>
        <picklistObject>FulfilmentTypeStatus__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>checkboxValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Task_strings}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Fulfilment | screen - chase non standard action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfilment | screen - chase non standard action</label>
    <loops>
        <name>Task_strings</name>
        <label>Task strings</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Split_tasksText.tasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Affirm_actions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_fulfilment</name>
        <label>Get fulfilment</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_fulfilment_type_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Fulfilment__c</object>
        <outputReference>fulfilment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilmentType__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>PreviousStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_fulfilment_type_status</name>
        <label>Get fulfilment type status</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Split_tasksText</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfilmentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilment.FulfilmentType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilment.Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfilmentTypeStatus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_fulfilment</name>
        <label>Update fulfilment</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateComplete__c</field>
            <value>
                <elementReference>Date_action_complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Next_status</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfilment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Affirm_actions</name>
        <label>Affirm actions</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_fulfilment</targetReference>
        </connector>
        <fields>
            <name>Next_status</name>
            <choiceReferences>Chase_provider</choiceReferences>
            <choiceReferences>Chase_client_action</choiceReferences>
            <choiceReferences>Complete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Taskstocomplete</name>
            <extensionName>runtime_industries_lending:flowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Tasks to complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Split_tasksText.tasksToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>checkboxValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Affirm_actions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Affirm_actions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Date_action_complete</name>
            <dataType>Date</dataType>
            <fieldText>Date action complete</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please ensure all tasks are complete&lt;/p&gt;</errorMessage>
                <formulaExpression>{!checkboxValues} = {!Taskstocomplete.selectedValues}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_we_have_fulfilment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkboxValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfilment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
