force-app/main/default/flows/GdprForgetHousehold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_account_to_collection</name>
        <label>Add account to collection</label>
        <locationX>270</locationX>
        <locationY>4706</locationY>
        <assignmentItems>
            <assignToReference>allAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2_Loop_people</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2_Loop_people</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_account_to_update_collection</name>
        <label>Add account to update collection</label>
        <locationX>270</locationX>
        <locationY>5114</locationY>
        <assignmentItems>
            <assignToReference>allAccountsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_3_Loop_all_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_3_Loop_all_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_household_to_all_accounts_collection</name>
        <label>Add household to all accounts collection</label>
        <locationX>182</locationX>
        <locationY>4382</locationY>
        <assignmentItems>
            <assignToReference>allAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_household</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2_Loop_people</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_lead_to_collection</name>
        <label>Add lead to collection</label>
        <locationX>270</locationX>
        <locationY>6554</locationY>
        <assignmentItems>
            <assignToReference>leadsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_leads_to_anonymise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_leads_to_anonymise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_opportunity_ID_to_list</name>
        <label>Add opportunity ID to list</label>
        <locationX>886</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>allOpportunityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_opportunities_to_build_list_of_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_opportunities_to_build_list_of_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>402</locationX>
        <locationY>6038</locationY>
        <assignmentItems>
            <assignToReference>opportunityUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Anonymise_lead</name>
        <label>Anonymise lead</label>
        <locationX>270</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forgotten</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Address</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.City</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Company</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Family__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.FinServ__Employer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.FinServ__ReferredByContact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.FinServ__ReferredByUser__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Income_Wealth__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Legal_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.MiddleName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Non_standard_Issues__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.What_are_they_looking_for__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Website</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Suffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Secondary_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Salutation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Referral_notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Reason_if_lead_bank__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Reason_for_Vulnerability__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Qualified_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Preferred_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_leads_to_anonymise.Lost_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_lead_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Anonymise_opportunity_data</name>
        <label>Anonymise opportunity data</label>
        <locationX>402</locationX>
        <locationY>5930</locationY>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_household.Account_ID__c} forgotten</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.What_are_they_looking_for__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.DC_Family__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Family_health__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Family_health__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Income_Wealth__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Income_expenditure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Income_expenditure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Non_standard_issues__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Recording_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opportunity_Discovery_Deck_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Questionnaire_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Scope_of_Advice_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opp_Default_System_Assumptions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opp_Additional_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Referee_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.FinServ__ReferredByContact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.FinServ__ReferredByUser__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.List_of_LOAs_status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opportunity_List_of_LOA_TOSs__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Observations__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opportunity_Things_that_could__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Not_Qualified_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Disco_w__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Objectives_Goals__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Objectives_Goals__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Soft_facts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Soft_facts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Other_hard_facts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Other_items__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Other_hard_facts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Other_items__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Assets_Liabilities__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Assets_Liabilities__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Opp_Assets_in_report__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Actions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Actions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meeting_Regulatory_concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Regulatory_concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Training_comments_client_feedback__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.MeetingTraining_comments_client_feedback__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Sales_aids__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Meetng_Sales_aids__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_1_Question_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_1_Question_2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_1_Question_3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_2_Question_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_2_Question_2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Client_2_Question_3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_collection</name>
        <label>Assign ID to collection</label>
        <locationX>886</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>peopleAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1_Relationships.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_list_of_all_lead_IDs</name>
        <label>Build list of all lead IDs</label>
        <locationX>886</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>allLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_list_of_all_account_IDs</name>
        <label>Construct list of all account IDs</label>
        <locationX>798</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>allAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>peopleAccountIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Scramble_person_data</name>
        <label>Clear account data</label>
        <locationX>270</locationX>
        <locationY>5006</locationY>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Bank_Account_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Bank_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Bank_Account_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Bank_sort_code__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.DB_Triage_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.FinServ__Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.OW_admin_notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Giving__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.What_are_your_plans_re_more_children__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.GoogleDriveFolder__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Email_2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Dual_Nationality__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.OW_third_nationality__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Country_of_Residence__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Country_of_Domicile__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.LTA_Certificate_URL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Certificate_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Expected_Windfalls__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.Recent_Windfalls_Inheritance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingLatitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingLongitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.BillingStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_3_Loop_all_accounts.ShippingStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_account_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_records</name>
        <label>Count records</label>
        <locationX>798</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>ffSessionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_sessions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffFinancialProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_financial_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_financial_products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffEmploymentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_employment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_employment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffAssetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffLiabilityCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>liabilityCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_liabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffGainsAndIsasCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_gains_and_ISAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gainsAndIsasCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_gains_and_ISAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffFeedbackCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffAccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffAnnualReviewCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FF_annual_reviews</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_facts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>carCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_client_action_requests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chatterPostCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Chatter_posts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loaCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_LOAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_or_after_run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Scramble_household_data</name>
        <label>Scramble household data</label>
        <locationX>182</locationX>
        <locationY>4274</locationY>
        <assignmentItems>
            <assignToReference>Get_household.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_household.Account_ID__c} Forgotten Household</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_household.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forgotten</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_household_to_all_accounts_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Scramble_person_data</name>
        <label>Scramble person data</label>
        <locationX>270</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forgotten</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>randomBirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reducedPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forgotten</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.Secondary_Email__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.National_Insurance_Number__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.Nationality__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.FinServ__CountryOfBirth__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.FinServ__CountryOfResidence__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.Medical_conditions__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.FinServ__PreferredName__pc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.Salutation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.Suffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.MiddleName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingLatitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingLongitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherCity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherCountry</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherLatitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherLongitude</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherPostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherState</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Loop_people.PersonOtherStreet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_account_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_closed_lost_notes</name>
        <label>Set closed lost notes</label>
        <locationX>270</locationX>
        <locationY>5738</locationY>
        <assignmentItems>
            <assignToReference>Loop_opportunities.Lost_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLostNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anonymise_opportunity_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_run</name>
        <label>Set to run</label>
        <locationX>182</locationX>
        <locationY>10694</locationY>
        <assignmentItems>
            <assignToReference>forgottenRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_household</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_FF_accounts</name>
        <label>Any FF accounts?</label>
        <locationX>1414</locationX>
        <locationY>4274</locationY>
        <defaultConnector>
            <targetReference>Delete_FF_sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Some</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_accounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_accounts</targetReference>
            </connector>
            <label>Some</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_FF_FPs_to_delete</name>
        <label>Any FF FPs to delete?</label>
        <locationX>182</locationX>
        <locationY>7886</locationY>
        <defaultConnector>
            <targetReference>FPs_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_financial_products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_financial_products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assets_to_delete</name>
        <label>Assets to delete?</label>
        <locationX>182</locationX>
        <locationY>8786</locationY>
        <defaultConnector>
            <targetReference>FF_employment_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Before_or_after_run</name>
        <label>Before or after run</label>
        <locationX>798</locationX>
        <locationY>4058</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Confirm_details_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>After run</defaultConnectorLabel>
        <rules>
            <name>Before_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forgottenRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_details_screen</targetReference>
            </connector>
            <label>Before run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_to_delete</name>
        <label>Employment to delete?</label>
        <locationX>182</locationX>
        <locationY>9386</locationY>
        <defaultConnector>
            <targetReference>FF_liabilities_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_employment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Events_to_delete</name>
        <label>Events to delete</label>
        <locationX>182</locationX>
        <locationY>7286</locationY>
        <defaultConnector>
            <targetReference>LOAs_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_events</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FF_assets_to_delete</name>
        <label>FF assets to delete?</label>
        <locationX>182</locationX>
        <locationY>8486</locationY>
        <defaultConnector>
            <targetReference>Assets_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FF_assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FF_employment_to_delete</name>
        <label>FF employment to delete?</label>
        <locationX>182</locationX>
        <locationY>9086</locationY>
        <defaultConnector>
            <targetReference>Employment_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FF_employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_employment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_employment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FF_feedback_to_delete</name>
        <label>FF feedback to delete</label>
        <locationX>182</locationX>
        <locationY>10286</locationY>
        <defaultConnector>
            <targetReference>Delete_chatter_posts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ff_feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_feedback</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_feedback</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FF_liabilities_to_delete</name>
        <label>FF liabilities to delete?</label>
        <locationX>182</locationX>
        <locationY>9686</locationY>
        <defaultConnector>
            <targetReference>Liabilities_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FF_liabilities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_FF_liabilities</targetReference>
            </connector>
            <label>Yes_delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>FPs_to_delete</name>
        <label>FPs to delete?</label>
        <locationX>182</locationX>
        <locationY>8186</locationY>
        <defaultConnector>
            <targetReference>FF_assets_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FPs_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_financial_products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_financial_products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Household_found</name>
        <label>Household found</label>
        <locationX>1623</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_household</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_household</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_household</name>
        <label>Is household?</label>
        <locationX>1260</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Not household</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_household.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesHousehold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FF_sessions</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liabilities_to_delete</name>
        <label>Liabilities to delete</label>
        <locationX>182</locationX>
        <locationY>9986</locationY>
        <defaultConnector>
            <targetReference>FF_feedback_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_liabilities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_liabilities</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOAs_to_delete</name>
        <label>LOAs to delete?</label>
        <locationX>182</locationX>
        <locationY>7586</locationY>
        <defaultConnector>
            <targetReference>Any_FF_FPs_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_delete_loas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LOAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_LOAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_lost</name>
        <label>Opportunity lost</label>
        <locationX>402</locationX>
        <locationY>5522</locationY>
        <defaultConnector>
            <targetReference>Anonymise_opportunity_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not lost</defaultConnectorLabel>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_opportunities.Probability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LostNotesCheck</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Sets the birthdate of the person to be the 1 of Jan of the year in which the person is born. This ensures we do not know the actual birthdate of the person (it might be 1 of Jan but we are unable to know that for sure once this process is complete), allowing us to develop some age related understanding.</description>
        <name>randomBirthDate</name>
        <dataType>Date</dataType>
        <expression>DATE(1, 1, YEAR({!Loop_2_Loop_people.PersonBirthdate}))</expression>
    </formulas>
    <formulas>
        <description>Takes the first 3 characters of the person&#39;s post code only, so that we can&#39;t specifically identify them but can link them to an approximate region.</description>
        <name>reducedPostCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_2_Loop_people.ShippingPostalCode}, 3)</expression>
    </formulas>
    <interviewLabel>GDPR | Forget Household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDPR | Forget Household</label>
    <loops>
        <name>Loop_1_Relationships</name>
        <label>Loop 1: Relationships</label>
        <locationX>798</locationX>
        <locationY>2810</locationY>
        <collectionReference>Get_account_contact_relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_people</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2_Loop_people</name>
        <label>Loop 2: Loop people</label>
        <locationX>182</locationX>
        <locationY>4490</locationY>
        <collectionReference>Get_people</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Scramble_person_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_3_Loop_all_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3_Loop_all_accounts</name>
        <label>Loop 3: Loop all accounts</label>
        <locationX>182</locationX>
        <locationY>4898</locationY>
        <collectionReference>allAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Scramble_person_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_leads</name>
        <label>Loop leads</label>
        <locationX>798</locationX>
        <locationY>3434</locationY>
        <collectionReference>Get_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_list_of_all_lead_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Chatter_posts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_leads_to_anonymise</name>
        <label>Loop leads</label>
        <locationX>182</locationX>
        <locationY>6338</locationY>
        <collectionReference>Get_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Anonymise_lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_opportunities</name>
        <label>Loop opportunities</label>
        <locationX>182</locationX>
        <locationY>5414</locationY>
        <collectionReference>Get_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_opportunities_to_build_list_of_IDs</name>
        <label>Loop opportunities to build list of IDs</label>
        <locationX>798</locationX>
        <locationY>2402</locationY>
        <collectionReference>Get_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_opportunity_ID_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_account_contact_relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_account_history</name>
        <label>Delete account history</label>
        <locationX>1414</locationX>
        <locationY>4682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>allAccountIds</elementReference>
            </value>
        </filters>
        <object>AccountHistory</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_assets</name>
        <label>Delete assets</label>
        <locationX>50</locationX>
        <locationY>8894</locationY>
        <connector>
            <targetReference>FF_employment_to_delete</targetReference>
        </connector>
        <inputReference>Get_assets</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_chatter_posts</name>
        <label>Delete chatter posts</label>
        <locationX>182</locationX>
        <locationY>10586</locationY>
        <connector>
            <targetReference>Set_to_run</targetReference>
        </connector>
        <inputReference>Get_Chatter_posts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_employment</name>
        <label>Delete employment</label>
        <locationX>50</locationX>
        <locationY>9494</locationY>
        <connector>
            <targetReference>FF_liabilities_to_delete</targetReference>
        </connector>
        <inputReference>Get_employment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_events</name>
        <label>Delete events</label>
        <locationX>50</locationX>
        <locationY>7394</locationY>
        <connector>
            <targetReference>LOAs_to_delete</targetReference>
        </connector>
        <inputReference>Get_events</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_accounts</name>
        <label>Delete FF accounts</label>
        <locationX>1282</locationX>
        <locationY>4382</locationY>
        <connector>
            <targetReference>Delete_FF_sessions</targetReference>
        </connector>
        <inputReference>Get_FF_accounts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_assets</name>
        <label>Delete FF assets</label>
        <locationX>50</locationX>
        <locationY>8594</locationY>
        <connector>
            <targetReference>Assets_to_delete</targetReference>
        </connector>
        <inputReference>Get_FF_assets</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_employment</name>
        <label>Delete FF employment</label>
        <locationX>50</locationX>
        <locationY>9194</locationY>
        <connector>
            <targetReference>Employment_to_delete</targetReference>
        </connector>
        <inputReference>Get_FF_employment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_feedback</name>
        <label>Delete FF feedback</label>
        <locationX>50</locationX>
        <locationY>10394</locationY>
        <connector>
            <targetReference>Delete_chatter_posts</targetReference>
        </connector>
        <inputReference>Get_FF_feedback</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_financial_products</name>
        <label>Delete FF financial products</label>
        <locationX>50</locationX>
        <locationY>7994</locationY>
        <connector>
            <targetReference>FPs_to_delete</targetReference>
        </connector>
        <inputReference>Get_FF_financial_products</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_liabilities</name>
        <label>Delete FF liabilities</label>
        <locationX>50</locationX>
        <locationY>9794</locationY>
        <connector>
            <targetReference>Liabilities_to_delete</targetReference>
        </connector>
        <inputReference>Get_FF_liabilities</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_FF_sessions</name>
        <label>Delete FF sessions</label>
        <locationX>1414</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>Delete_account_history</targetReference>
        </connector>
        <inputReference>Get_FF_sessions</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_financial_products</name>
        <label>Delete financial products</label>
        <locationX>50</locationX>
        <locationY>8294</locationY>
        <connector>
            <targetReference>FF_assets_to_delete</targetReference>
        </connector>
        <inputReference>Get_financial_products</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_lead_history</name>
        <label>Delete lead history</label>
        <locationX>182</locationX>
        <locationY>6854</locationY>
        <connector>
            <targetReference>Delete_opportunity_history</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_opportunity_history</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>In</operator>
            <value>
                <elementReference>allLeadIds</elementReference>
            </value>
        </filters>
        <object>LeadHistory</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_liabilities</name>
        <label>Delete liabilities</label>
        <locationX>50</locationX>
        <locationY>10094</locationY>
        <connector>
            <targetReference>FF_feedback_to_delete</targetReference>
        </connector>
        <inputReference>Get_liabilities</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_LOAs</name>
        <label>Delete LOAs</label>
        <locationX>50</locationX>
        <locationY>7694</locationY>
        <connector>
            <targetReference>Any_FF_FPs_to_delete</targetReference>
        </connector>
        <inputReference>Get_LOAs</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_opportunity_history</name>
        <label>Delete opportunity history</label>
        <locationX>182</locationX>
        <locationY>6962</locationY>
        <connector>
            <targetReference>Delete_tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_tasks</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>allOpportunityIds</elementReference>
            </value>
        </filters>
        <object>OpportunityFieldHistory</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_tasks</name>
        <label>Delete tasks</label>
        <locationX>182</locationX>
        <locationY>7070</locationY>
        <connector>
            <targetReference>Get_events</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allOpportunityIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allLeadIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allAccountIds</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_account_contact_relationships</name>
        <label>Get account contact relationships</label>
        <locationX>798</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1_Relationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_assets</name>
        <label>Get assets</label>
        <locationX>798</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_liabilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assets__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_posts</name>
        <label>Get Chatter posts</label>
        <locationX>798</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LOAs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>allAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>allLeadIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>allOpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_client_action_requests</name>
        <label>Get client action requests</label>
        <locationX>798</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Action_Required__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment</name>
        <label>Get employment</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_events</name>
        <label>Get events</label>
        <locationX>182</locationX>
        <locationY>7178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events_to_delete</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allOpportunityIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>allLeadIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_facts</name>
        <label>Get facts</label>
        <locationX>798</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_annual_reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustomerFact__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_accounts</name>
        <label>Get FF accounts</label>
        <locationX>798</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_facts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Person_Account__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_annual_reviews</name>
        <label>Get FF annual reviews</label>
        <locationX>798</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_client_action_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Annual_Review__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_assets</name>
        <label>Get FF assets</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Asset__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_employment</name>
        <label>Get FF employment</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Employment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_feedback</name>
        <label>Get FF feedback</label>
        <locationX>798</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Feedback__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_financial_products</name>
        <label>Get FF financial products</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_financial_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Financial_Product__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_gains_and_ISAs</name>
        <label>Get FF gains and ISAs</label>
        <locationX>798</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_gains_and_ISAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_External_Gains_ISAs__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_liabilities</name>
        <label>Get FF liabilities</label>
        <locationX>798</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_liabilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Liability__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_sessions</name>
        <label>Get FF sessions</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_financial_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Session__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_financial_products</name>
        <label>Get financial products</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_gains_and_ISAs</name>
        <label>Get gains and ISAs</label>
        <locationX>798</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>External_Gains_Losses__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_household</name>
        <label>Get household</label>
        <locationX>1623</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_leads</name>
        <label>Get leads</label>
        <locationX>798</locationX>
        <locationY>3326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_leads</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>allAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>allOpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_liabilities</name>
        <label>Get liabilities</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FF_gains_and_ISAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Liabilities__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LOAs</name>
        <label>Get LOAs</label>
        <locationX>798</locationX>
        <locationY>3842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOA__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>798</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_opportunities_to_build_list_of_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_people</name>
        <label>Get people</label>
        <locationX>798</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_list_of_all_account_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>peopleAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bank_Account_Number__c</queriedFields>
        <queriedFields>Bank_Account_Name__c</queriedFields>
        <queriedFields>Bank_Name__c</queriedFields>
        <queriedFields>Bank_sort_code__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>FinServ__PreferredName__pc</queriedFields>
        <queriedFields>Suffix</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Secondary_Email__pc</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>OW_role_in_primary_household__c</queriedFields>
        <queriedFields>Household_Lookup__c</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1018</locationX>
        <locationY>6854</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_accounts</name>
        <label>Update accounts</label>
        <locationX>182</locationX>
        <locationY>5306</locationY>
        <connector>
            <targetReference>Loop_opportunities</targetReference>
        </connector>
        <inputReference>allAccountsUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_leads</name>
        <label>Update leads</label>
        <locationX>182</locationX>
        <locationY>6746</locationY>
        <connector>
            <targetReference>Delete_lead_history</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>leadsUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunities</name>
        <label>Update opportunities</label>
        <locationX>182</locationX>
        <locationY>6230</locationY>
        <connector>
            <targetReference>Loop_leads_to_anonymise</targetReference>
        </connector>
        <inputReference>opportunityUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_details_screen</name>
        <label>Confirm details screen</label>
        <locationX>182</locationX>
        <locationY>4166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scramble_household_data</targetReference>
        </connector>
        <fields>
            <name>HouseholdMessage</name>
            <fieldText>&lt;p&gt;You are going to forget the {!Get_household.Name} household with the following associated information. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please review this information in detail to be sure that you want this to occur. This process is irreversible. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PeopleToBeAnonymisedSection</name>
            <fieldText>Data to be anonymised</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PeopleToBeAnonymisedSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Lead</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_leads</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a2ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Lead Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LeadSource&quot;,&quot;guid&quot;:&quot;column-0056&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lead and Referral Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-5fcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Lead and Referral Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PeopleToBeAnonymisedDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>People</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_people</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-c1be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-62e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Household_Lookup__c&quot;,&quot;guid&quot;:&quot;column-e167&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Household&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;OW_role_in_primary_household__c&quot;,&quot;guid&quot;:&quot;column-8e02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Role in primary household&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OpportunitiesToBeAnonymisedDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_opportunity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d68c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-314e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-825f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Associated_records_and_counts</name>
            <fieldText>Associated records and counts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Associated_records_and_counts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chatterPosts</name>
                    <fieldText>&lt;p&gt;Chatter posts&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffSessions</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF sessions:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffAccounts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF accounts:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffFinancialProducts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF financial products:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>financialProducts</name>
                    <fieldText>&lt;p&gt;Financial products: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffEmployment</name>
                    <fieldText>&lt;p&gt;FF employment: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>employment</name>
                    <fieldText>&lt;p&gt;Employment: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffAsset</name>
                    <fieldText>&lt;p&gt;FF assets:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>asset</name>
                    <fieldText>&lt;p&gt;Assets:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffLiabilities</name>
                    <fieldText>&lt;p&gt;FF liabilities:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>liabilities</name>
                    <fieldText>&lt;p&gt;Liabilities:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffGainsIsas</name>
                    <fieldText>&lt;p&gt;FF gains and ISAs:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>gainsIsas</name>
                    <fieldText>&lt;p&gt;Gains and ISAs:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffFeedback</name>
                    <fieldText>&lt;p&gt;FF feedback:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>facts</name>
                    <fieldText>&lt;p&gt;Facts:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ffAnnualReviews</name>
                    <fieldText>&lt;p&gt;FF annual review questions:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cars</name>
                    <fieldText>&lt;p&gt;Client action requests:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LOAcountprompt</name>
                    <fieldText>&lt;p&gt;LOAs:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Associated_records_and_counts_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayChatterPostCount</name>
                    <fieldText>&lt;p&gt;{!chatterPostCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfSessionCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffSessionCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfAccountCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ffAccountCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfFinancialProductCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ffFinancialProductCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFinancialProductCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!financialProductCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfEmploymentCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffEmploymentCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayEmploymentCount</name>
                    <fieldText>&lt;p&gt;{!employmentCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfAssetCount</name>
                    <fieldText>&lt;p&gt;{!ffAssetCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayAssetCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!assetCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfLiabilityCount</name>
                    <fieldText>&lt;p&gt;{!ffLiabilityCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayLiabilityCount</name>
                    <fieldText>&lt;p&gt;{!liabilityCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfGainsAndIsasCount</name>
                    <fieldText>&lt;p&gt;{!ffGainsAndIsasCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayGainsAndIsasCount</name>
                    <fieldText>&lt;p&gt;{!gainsAndIsasCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfFeedbackCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffFeedbackCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFactCount</name>
                    <fieldText>&lt;p&gt;{!factCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayFfAnnualReviewCount</name>
                    <fieldText>&lt;p&gt;{!ffAnnualReviewCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayCarCount</name>
                    <fieldText>&lt;p&gt;{!carCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>loacountfigure</name>
                    <fieldText>&lt;p&gt;{!loaCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirm_details_screen</name>
        <label>Copy 1 of Confirm details screen</label>
        <locationX>1414</locationX>
        <locationY>4166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Any_FF_accounts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_HouseholdMessage</name>
            <fieldText>&lt;p&gt;Forgotten process has run - please check the results and confirm they are as expected. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_PeopleToBeAnonymisedSection</name>
            <fieldText>Data to be anonymised</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_PeopleToBeAnonymisedSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_LeadDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Lead</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_leads</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a2ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Lead Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LeadSource&quot;,&quot;guid&quot;:&quot;column-0056&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lead and Referral Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-5fcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Lead and Referral Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_PeopleToBeAnonymisedDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>People</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_people</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c1be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Household_Lookup__c&quot;,&quot;guid&quot;:&quot;column-e167&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Household&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;OW_role_in_primary_household__c&quot;,&quot;guid&quot;:&quot;column-8e02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role in primary household&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_OpportunitiesToBeAnonymisedDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_opportunity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d68c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type&quot;,&quot;guid&quot;:&quot;column-314e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-825f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Associated_records_and_counts</name>
            <fieldText>Associated records and counts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Associated_records_and_counts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_chatterPosts</name>
                    <fieldText>&lt;p&gt;Chatter posts&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffSessions</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF sessions:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffAccounts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF accounts:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffFinancialProducts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;FF financial products:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_financialProducts</name>
                    <fieldText>&lt;p&gt;Financial products: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffEmployment</name>
                    <fieldText>&lt;p&gt;FF employment: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_employment</name>
                    <fieldText>&lt;p&gt;Employment: &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffAsset</name>
                    <fieldText>&lt;p&gt;FF assets:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_asset</name>
                    <fieldText>&lt;p&gt;Assets:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffLiabilities</name>
                    <fieldText>&lt;p&gt;FF liabilities:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_liabilities</name>
                    <fieldText>&lt;p&gt;Liabilities:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffGainsIsas</name>
                    <fieldText>&lt;p&gt;FF gains and ISAs:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_gainsIsas</name>
                    <fieldText>&lt;p&gt;Gains and ISAs:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffFeedback</name>
                    <fieldText>&lt;p&gt;FF feedback:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_facts</name>
                    <fieldText>&lt;p&gt;Facts:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ffAnnualReviews</name>
                    <fieldText>&lt;p&gt;FF annual review questions:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_cars</name>
                    <fieldText>&lt;p&gt;Client action requests:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Associated_records_and_counts_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_displayChatterPostCount</name>
                    <fieldText>&lt;p&gt;{!chatterPostCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfSessionCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffSessionCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfAccountCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ffAccountCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfFinancialProductCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ffFinancialProductCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFinancialProductCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!financialProductCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfEmploymentCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffEmploymentCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayEmploymentCount</name>
                    <fieldText>&lt;p&gt;{!employmentCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfAssetCount</name>
                    <fieldText>&lt;p&gt;{!ffAssetCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayAssetCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!assetCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfLiabilityCount</name>
                    <fieldText>&lt;p&gt;{!ffLiabilityCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayLiabilityCount</name>
                    <fieldText>&lt;p&gt;{!liabilityCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfGainsAndIsasCount</name>
                    <fieldText>&lt;p&gt;{!ffGainsAndIsasCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayGainsAndIsasCount</name>
                    <fieldText>&lt;p&gt;{!gainsAndIsasCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfFeedbackCount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ffFeedbackCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFactCount</name>
                    <fieldText>&lt;p&gt;{!factCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayFfAnnualReviewCount</name>
                    <fieldText>&lt;p&gt;{!ffAnnualReviewCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displayCarCount</name>
                    <fieldText>&lt;p&gt;{!carCount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_household_ID</name>
        <label>Get household ID</label>
        <locationX>1623</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_household</targetReference>
        </connector>
        <fields>
            <name>householdId</name>
            <dataType>String</dataType>
            <fieldText>Household ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter an 18 character account ID&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!householdId}) = 18
&amp;&amp;
BEGINS({!householdId}, &quot;001&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Present the lost notes to the user to ensure they are useful but anonymous .</description>
        <name>LostNotesCheck</name>
        <label>LostNotesCheck</label>
        <locationX>270</locationX>
        <locationY>5630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_closed_lost_notes</targetReference>
        </connector>
        <fields>
            <name>LostNotesMessage</name>
            <fieldText>&lt;p&gt;Please check the lost notes do not identify the customer. If they do, make any updates necessary then click next. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityLostNotes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_opportunities.Lost_Notes__c</elementReference>
            </defaultValue>
            <fieldText>Lost Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1497</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_household_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable storing the people and household.</description>
        <name>allAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allAccountsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>carCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>chatterPostCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>employmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>factCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffAccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffAnnualReviewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffEmploymentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffFeedbackCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffFinancialProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffGainsAndIsasCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffLiabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ffSessionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>financialProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>forgottenRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>gainsAndIsasCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>leadsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>liabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loaCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunityUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Stores the IDs of the people accounts in this flow.</description>
        <name>peopleAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proceedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
