force-app/main/default/flows/InformationRequestUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_advice_ID_to_current_advice</name>
        <label>Set advice ID to current advice</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Advice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_advice_ID_to_previous_advice</name>
        <label>Set advice ID to previous advice</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Advice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_to_flow_fault_message</name>
        <label>Set error to flow fault message</label>
        <locationX>842</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Throw_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDs</name>
        <label>Set IDs</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FinancialProductFinServ__r.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>informationRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_info_status</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Throw_error</name>
        <label>Throw error</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>{!errorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Advice_link</name>
        <label>Advice link</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No advice linked</defaultConnectorLabel>
        <rules>
            <name>Unlinked_in_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Advice__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advice__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_advice_ID_to_previous_advice</targetReference>
            </connector>
            <label>Unlinked in update</label>
        </rules>
        <rules>
            <name>There_is_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advice__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_advice_ID_to_current_advice</targetReference>
            </connector>
            <label>Linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Advice_stage</name>
        <label>Advice stage</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Data_gathering_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice.DataGatheringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_data_gathering_status</targetReference>
            </connector>
            <label>Data gathering in progress</label>
        </rules>
        <rules>
            <name>Data_analysis_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice.DataAnalysisStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_data_analysis_status</targetReference>
            </connector>
            <label>Data analysis in progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_info_status</name>
        <label>Client info status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Advice_link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ready/needed</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO_REQ_SEND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAIT_IDG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_request_info_task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Record triggered flow to trigger tasks or related object updates</description>
    <environments>Default</environments>
    <interviewLabel>Information Request | Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Information Request | Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Advice_stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error_to_flow_fault_message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>Advice__c</object>
        <outputReference>advice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DataGatheringStatus__c</queriedFields>
        <queriedFields>DataAnalysisStatus__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_IDs</targetReference>
        </connector>
        <object>InformationRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assess_data_analysis_status</name>
        <label>Assess data analysis status</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <flowName>AdviceDataAnalysisAssess</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assess_data_gathering_status</name>
        <label>Assess data gathering status</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Outcome</targetReference>
        </connector>
        <flowName>AdviceDataGatheringAssess</flowName>
        <inputAssignments>
            <name>advice</name>
            <value>
                <elementReference>advice</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_request_info_task</name>
        <label>Create request info task</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Advice_link</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_information_request</name>
            <value>
                <elementReference>informationRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>IR_CLIENT_REQUEST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>informationRequestId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>informationRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
