force-app/main/default/flows/InformationRequestUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_new_advice_to_collection</name>
        <label>Add new advice to collection</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>adviceToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adviceToUpdateSingular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_advice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_previous_advice_to_collection</name>
        <label>Add previous advice to collection</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>adviceToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adviceToUpdateSingular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_advice_now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_advice_values</name>
        <label>Assign new advice values</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.DataGatheringStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assess_new_advice.dataGatheringStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.DataAnalysisStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assess_new_advice.dataAnalysisStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_advice_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_previous_advice_values</name>
        <label>Assign previous advice values</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.DataGatheringStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assess_previous_advice.dataGatheringStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceToUpdateSingular.DataAnalysisStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assess_previous_advice.dataAnalysisStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_previous_advice_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Advice_changed</name>
        <label>Advice changed</label>
        <locationX>336</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advice__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_there_advice_previously</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_info_status</name>
        <label>Client info status</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Advice_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ready/needed</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information request to be sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting advice progression</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_request_info_task</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_advice_now</name>
        <label>Is there advice now?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_advice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdviceNow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advice__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_new_advice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_advice_previously</name>
        <label>Was there advice previously?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_there_advice_now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPreviousAdvice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Advice__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_previous_advice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Record triggered flow to trigger tasks or related object updates</description>
    <environments>Default</environments>
    <interviewLabel>Information Request | Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Information Request | Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_advice</name>
        <label>Update advice</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <inputReference>adviceToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_info_status</targetReference>
        </connector>
        <object>InformationRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assess_new_advice</name>
        <label>Assess new advice</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Assign_new_advice_values</targetReference>
        </connector>
        <flowName>AdviceInformationRequestsAssess</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>$Record.Advice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includedIrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Assess_previous_advice</name>
        <label>Assess previous advice</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_previous_advice_values</targetReference>
        </connector>
        <flowName>AdviceInformationRequestsAssess</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>$Record__Prior.Advice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>excludedIrId</name>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_request_info_task</name>
        <label>Create request info task</label>
        <locationX>204</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Advice_changed</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.FinancialProduct__r.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>IR_CLIENT_REQUEST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>adviceToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceToUpdateSingular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
</Flow>
