force-app/main/default/flows/InformationRequestOrchestratorChaseAndReceiveInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_first_expected_receipt_date</name>
        <label>Assign first expected receipt date</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ir.FirstExpectedReceiptDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_we_expect_to_receive_information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_task</name>
        <label>Assign follow up task</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTaskFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_task_chase</name>
        <label>Assign follow up task</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTaskChasing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_valuesChasing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_taskAdditionalChasing</name>
        <label>Assign follow up task</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTaskChasing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_valuesAdditionalChasing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_taskAdditionalReceived</name>
        <label>Assign follow up task</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTaskFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_valuesAdditionalReceived</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_taskClientChasing</name>
        <label>Assign follow up task</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IR_CLIENT_CHASE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_valuesClientChasing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_follow_up_taskClientReview</name>
        <label>Assign follow up task</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTaskFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IR_valuesClientReceived</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_values</name>
        <label>Assign IR values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.InformationRequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ReceivedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_information_received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.AuthorityStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authority_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.DateAuthorityGranted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_authority_was_granted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.AuthorityLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>authLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ChecklistStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checklistStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.InformationReceivedVia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Information_received_via</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ComplaintStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.CompleteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>completeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.FolderLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>folderLink.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_valuesAdditionalChasing</name>
        <label>Assign IR values</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.AdditionalInformationRequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_information_request_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.DateLastChased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_valuesAdditionalReceived</name>
        <label>Assign IR values</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.AdditionalInformationRequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_information_request_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_valuesChasing</name>
        <label>Assign IR values</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.ExpectedReceiptDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_we_expect_to_receive_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.InformationRequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Information_request_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.DateLastChased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.AuthorityStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authority_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.DateAuthorityGranted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_authority_was_granted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.AuthorityLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>authLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ComplaintStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_expected_receipt_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_valuesClientChasing</name>
        <label>Assign IR values</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.DateLastChased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_chased</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IR_valuesClientReceived</name>
        <label>Assign IR values</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ir.InformationRequestStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ReceivedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Clientinformation_received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.ChecklistStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checklistStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ir.CompleteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>completeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Hello</name>
        <choiceText>Hello</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hello</stringValue>
        </value>
    </choices>
    <choices>
        <name>Received</name>
        <choiceText>Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>Still_waiting</name>
        <choiceText>Still waiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Still waiting</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Chasing_state</name>
        <label>Chasing state</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_follow_up_task_chase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still chasing</defaultConnectorLabel>
        <rules>
            <name>Information_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Information_request_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_follow_up_task</targetReference>
            </connector>
            <label>Information received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chasing_state_additional</name>
        <label>Chasing state - additional</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_follow_up_taskAdditionalChasing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still chasing</defaultConnectorLabel>
        <rules>
            <name>Additional_information_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_information_request_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_follow_up_taskAdditionalReceived</targetReference>
            </connector>
            <label>Additional information received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chasing_state_client</name>
        <label>Chasing state - client</label>
        <locationX>1414</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_follow_up_taskClientChasing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still chasing</defaultConnectorLabel>
        <rules>
            <name>Client_info_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_information_request_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_follow_up_taskClientReview</targetReference>
            </connector>
            <label>Client info received</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_expected_receipt_date</name>
        <label>First expected receipt date</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_IR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ir.FirstExpectedReceiptDate__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_first_expected_receipt_date</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Information_stage</name>
        <label>Information stage</label>
        <locationX>1029</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ir.InformationRequestStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ir.InformationRequestStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_chasing_details</targetReference>
            </connector>
            <label>Initial information</label>
        </rules>
        <rules>
            <name>Additional_information</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ir.AdditionalInformationRequestStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ir.AdditionalInformationRequestStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_chasing_details_additional</targetReference>
            </connector>
            <label>Additional information</label>
        </rules>
        <rules>
            <name>Chase_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ir.InformationRequestStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_client_chasing_details</targetReference>
            </connector>
            <label>Chase client</label>
        </rules>
    </decisions>
    <description>To allow recording of chasing process and when information is received / IR | Orchestrator | Chase and receive info</description>
    <dynamicChoiceSets>
        <name>addInfoRequestStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AdditionalInformationRequestStatus__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>authorityLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AuthorityLevel__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>authorityStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AuthorityStatus__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>complaintStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>ComplaintStatus__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>informationReceiptVia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>InformationReceivedVia__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>informationRequestStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>InformationRequestStatus__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>authLevel</name>
        <dataType>String</dataType>
        <expression>IF({!Authority_status}!= &quot;Accepted&quot;, TEXT({!ir.AuthorityLevel__c}), {!Confirm_authority_level})</expression>
    </formulas>
    <formulas>
        <name>checklistStatus</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!ir.InformationRequestType__r.ChecklistLevel__c}, &quot;Not required&quot;), &quot;Not required&quot;, &quot;In progress&quot;)</expression>
    </formulas>
    <formulas>
        <name>complaintBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!ir.ComplaintStatus__c}, &quot;Lodged&quot;) || ISPICKVAL({!ir.ComplaintStatus__c}, &quot;Resolved&quot;), true, false)</expression>
    </formulas>
    <formulas>
        <name>completeDate</name>
        <dataType>Date</dataType>
        <expression>IF({!statusFormula} = &quot;Complete&quot;, {!$Flow.CurrentDate},null)</expression>
    </formulas>
    <formulas>
        <name>followUpTaskChasing</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!ir.InformationRequestType__r.InformationSource__c},&quot;Client&quot;), &quot;IR_CLIENT_CHASE&quot;,&quot;IR_THIRDPARTY_CHASE&quot;)</expression>
    </formulas>
    <formulas>
        <name>followUpTaskFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!ir.InformationRequestType__r.ChecklistLevel__c},&quot;Full&quot;), &quot;IR_COMET_FULL&quot;,IF(ISPICKVAL({!ir.InformationRequestType__r.ChecklistLevel__c},&quot;Shortened&quot;), &quot;IR_COMET_SHORT&quot;,
IF(ISPICKVAL({!ir.InformationRequestType__r.BuilderLevel__c},&quot;Full analysis&quot;), &quot;IR_FUNDREVIEW&quot;, IF(ISPICKVAL({!ir.InformationRequestType__r.BuilderLevel__c}, &quot;Value only&quot;), &quot;IR_BUILDER_INPUT&quot;,&quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>statusFormula</name>
        <dataType>String</dataType>
        <expression>IF( 
  NOT(ISPICKVAL({!ir.InformationRequestType__r.ChecklistLevel__c},&quot;Not required&quot;)), 
  &quot;CHECKLIST_REVIEW&quot;, 
  IF(NOT(ISPICKVAL({!ir.InformationRequestType__r.BuilderLevel__c},&quot;Not required&quot;)),
    &quot;FUND_ANALYSIS&quot;,
    &quot;READY_FOR_ADVICE&quot;
))</expression>
    </formulas>
    <interviewLabel>IR | Orchestrator | Chase and receive info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IR | Orchestrator | Chase and receive info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>2074</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_IR</name>
        <label>Update IR</label>
        <locationX>1029</locationX>
        <locationY>1142</locationY>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>ir</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Collect_chasing_details</name>
        <label>Collect chasing details</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chasing_state</targetReference>
        </connector>
        <fields>
            <name>Authority_status</name>
            <choiceReferences>authorityStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ir.AuthorityStatus__c</elementReference>
            </defaultValue>
            <fieldText>Authority status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_authority_level</name>
            <choiceReferences>authorityLevel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ir.AuthorityLevel__c</elementReference>
            </defaultValue>
            <fieldText>Confirm authority level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Authority_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_authority_was_granted</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ir.DateAuthorityGranted__c</elementReference>
            </defaultValue>
            <fieldText>Date authority was granted</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Authority_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Information_request_status</name>
            <choiceReferences>informationRequestStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ir.InformationRequestStatus__c</elementReference>
            </defaultValue>
            <fieldText>Information request status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Authority_status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_we_expect_to_receive_information</name>
            <dataType>Date</dataType>
            <fieldText>Date we expect to receive information</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Information_request_status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Received</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Authority_status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HaveWeSubmittedAComplaint</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Have we submitted a complaint?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>complaintBool</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complaint_status</name>
            <choiceReferences>complaintStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ir.ComplaintStatus__c</elementReference>
            </defaultValue>
            <fieldText>Complaint status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HaveWeSubmittedAComplaint.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_chasing_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_chasing_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_information_received</name>
                    <dataType>Date</dataType>
                    <fieldText>Date information received</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Information_received_via</name>
                    <choiceReferences>informationReceiptVia</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Information received via</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>folderLink</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Google folder link</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ir.FolderLink__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Information_request_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Received</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_chasing_details_additional</name>
        <label>Collect chasing details - additional</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chasing_state_additional</targetReference>
        </connector>
        <fields>
            <name>Additional_information_request_status</name>
            <choiceReferences>addInfoRequestStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ir.AdditionalInformationRequestStatus__c</elementReference>
            </defaultValue>
            <fieldText>Additional information request status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_client_chasing_details</name>
        <label>Collect client chasing details</label>
        <locationX>1414</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Chasing_state_client</targetReference>
        </connector>
        <fields>
            <name>Client_information_request_status</name>
            <choiceReferences>Still_waiting</choiceReferences>
            <choiceReferences>Received</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client information request status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Clientinformation_received</name>
            <dataType>Date</dataType>
            <fieldText>Date information received</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Client_information_request_status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Received</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_chased</name>
            <dataType>Date</dataType>
            <fieldText>Date chased</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Client_information_request_status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Received</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>2074</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultText</name>
            <fieldText>&lt;p&gt;There has been an error here. Please raise a ticket and copy the below message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>903</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Information_stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
</Flow>
