force-app/main/default/flows/InformationRequestOrchestratorSendRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_follow_up_task</name>
        <label>Assign follow up task</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IR_THIRDPARTY_CHASE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_follow_up_taskClient</name>
        <label>Assign follow up task</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>followUpTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IR_CLIENT_CHASE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Client_or_third_party</name>
        <label>Client or third party</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Ir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Third party</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ir.InformationRequestType__r.InformationSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IrClient</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <description>Used to confirm an information request has been sent</description>
    <dynamicChoiceSets>
        <name>sentMethodChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>InformationRequestSentVia__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>signedByChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AuthorityRequestSigned_by__c</picklistField>
        <picklistObject>InformationRequest__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>infoRequestStatus</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!ir.InformationRequestType__r.InformationSource__c}, &quot;Client&quot;), &quot;Sent to client&quot;,&quot;Sent to provider&quot;)</expression>
    </formulas>
    <interviewLabel>IR | Orchestrator | Send request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IR | Orchestrator | Send request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Ir</name>
        <label>Update IR</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_follow_up_task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ir.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuthorityRequestSigned_by__c</field>
            <value>
                <elementReference>Authority_signed_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AuthorityStatus__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateInformationRequestSent__c</field>
            <value>
                <elementReference>Date_information_request_sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestSentBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestSentVia__c</field>
            <value>
                <elementReference>Authority_letter_sent_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestStatus__c</field>
            <value>
                <stringValue>Sent to provider</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AWAIT_INFO</stringValue>
            </value>
        </inputAssignments>
        <object>InformationRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IrClient</name>
        <label>Update IR</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_follow_up_taskClient</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ir.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuthorityLevel__c</field>
            <value>
                <stringValue>Client managed (None)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AuthorityRequestSigned_by__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AuthorityStatus__c</field>
            <value>
                <stringValue>Not required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateInformationRequestSent__c</field>
            <value>
                <elementReference>Date_information_request_sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestSentBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestSentVia__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>InformationRequestStatus__c</field>
            <value>
                <stringValue>Sent to client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AWAIT_INFO</stringValue>
            </value>
        </inputAssignments>
        <object>InformationRequest__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Collect_request_detailsClient</name>
        <label>Collect request details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Client_or_third_party</targetReference>
        </connector>
        <fields>
            <name>Date_information_request_sent</name>
            <dataType>Date</dataType>
            <fieldText>Date information request sent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authority_letter_sent_via</name>
            <choiceReferences>sentMethodChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Authority letter sent via</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ir.InformationRequestType__r.InformationSource__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Third party provider</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Authority_signed_by</name>
            <choiceReferences>signedByChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Authority signed by</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ir.InformationRequestType__r.InformationSource__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Third party provider</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultText</name>
            <fieldText>&lt;p&gt;There&#39;s been an error here. Please raise a ticket and copy the below message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_request_detailsClient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>InformationRequest__c</objectType>
    </variables>
</Flow>
