force-app/main/default/flows/LOA_complete_check_if_advice_can_proceed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_flag_to_false</name>
        <label>Set Flag to False</label>
        <locationX>1496</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>CompleteFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>For_each_advice_find_related_LOAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_to_True</name>
        <label>Set Flag to True</label>
        <locationX>1232</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CompleteFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_all_LOAs_related_to_Advice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Advice_complete</name>
        <label>Is Advice complete?</label>
        <locationX>748</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Find_Related_LOAs_to_Advice_from_Advice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_specific_Advice_record.Advice_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_specific_Advice_record.Advice_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suitability Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_advice_find_related_LOAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Flag_True</name>
        <label>Is Flag True?</label>
        <locationX>1672</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_it_complete</targetReference>
            </connector>
            <label>true</label>
        </rules>
        <rules>
            <name>false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_all_LOAs_related_to_Advice</targetReference>
            </connector>
            <label>false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Flag_True_end</name>
        <label>Is Flag True?</label>
        <locationX>1232</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>For_each_advice_find_related_LOAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_end</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Advice</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_it_complete</name>
        <label>is it complete?</label>
        <locationX>1408</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>set_flag_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_specific_LOA.MainLOAStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_specific_LOA.MainLOAStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_specific_LOA.LOA_Financial_Account__r.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defined Benefit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_specific_LOA.MainLOAStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_all_LOAs_related_to_Advice</targetReference>
            </connector>
            <label>complete</label>
        </rules>
    </decisions>
    <description>new task set up</description>
    <environments>Default</environments>
    <interviewLabel>LOA complete - check if advice can proceed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zREPLACED LOA complete - check if advice can proceed</label>
    <loops>
        <name>Check_all_LOAs_related_to_Advice</name>
        <label>Check all LOAs related to Advice</label>
        <locationX>1232</locationX>
        <locationY>971</locationY>
        <collectionReference>Find_Related_LOAs_to_Advice_from_Advice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_specific_LOA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Flag_True_end</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_advice_find_related_LOAs</name>
        <label>For each advice, find and check related LOAs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Find_Related_LOAs_to_Advice_from_LOA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_specific_Advice_record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_LOAs_to_Advice_from_Advice</name>
        <label>Find Related LOAs to Advice from Advice</label>
        <locationX>1232</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Flag_to_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_specific_Advice_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOA_to_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Related_LOAs_to_Advice_from_LOA</name>
        <label>Find Related LOAs to Advice from LOA</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_advice_find_related_LOAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOA_to_Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_specific_Advice_record</name>
        <label>Get specific Advice record</label>
        <locationX>748</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Advice_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_advice_find_related_LOAs.Advice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_specific_LOA</name>
        <label>Get specific LOA</label>
        <locationX>1672</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Flag_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_all_LOAs_related_to_Advice.LOA__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LOA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Advice</name>
        <label>Update Advice</label>
        <locationX>1100</locationX>
        <locationY>1937</locationY>
        <connector>
            <targetReference>For_each_advice_find_related_LOAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_advice_find_related_LOAs.Advice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOA_s_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoaAnalysisCompleteTimestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Advice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Related_LOAs_to_Advice_from_LOA</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MainLOAStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MainLOAStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MainLOAStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <object>LOA__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CompleteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOAstoAdvicewithcorrectID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOA_to_Advice__c</objectType>
    </variables>
</Flow>
