force-app/main/default/flows/OpportunityMortgageAfterSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetRecordTypeIdOpportunityMortgage</name>
        <label>Get record type ID | Opportunity | Mortgage</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_next_mortgage_opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>OW_mortgage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Routes for different action based on stage changes of the opportunity.</description>
        <name>Opportunity_stage_change</name>
        <label>Opportunity stage change</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Provide_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provide advice</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Provide advice</label>
        </rules>
        <rules>
            <name>Await_completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Await completion</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Await completion</label>
        </rules>
        <rules>
            <name>Is_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeIdOpportunityMortgage</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Opportunity won</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the date the Precise FP fact find was sent has been recorded so that action can be taken if so.</description>
        <name>Precise_FP_fact_find_sent</name>
        <label>Precise FP fact find sent</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Opportunity_stage_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not recorded</defaultConnectorLabel>
        <rules>
            <name>Date_recorded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_date_precise_fp_fact_find_sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_task_due_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Date recorded</label>
        </rules>
    </decisions>
    <description>Runs after a mortgage opportunity is created or edited to trigger follow on actions such as creating tasks and renewal opportunities for mortgages.</description>
    <environments>Default</environments>
    <formulas>
        <description>The date on which we should contact the customer about their mortgage review, set as 180 days (~6 months) prior to the product expiry.</description>
        <name>mortgageReviewDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.OW_mortgage__r.OW_fixed_rate_expires__c} - 180</expression>
    </formulas>
    <formulas>
        <name>mortgageReviewOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.OW_mortgage__r.OW_fixed_rate_expires__c} + 1</expression>
    </formulas>
    <formulas>
        <description>Sets a name for all mortgage reviews, the opportunities that we create as a follow up to having won another mortgage.</description>
        <name>nextOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &quot; | mortgage review&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity | Mortgage | After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Mortgage | After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a follow on opportunity that closes at the time of the current product&#39;s expiry.</description>
        <name>Create_next_mortgage_opportunity</name>
        <label>Create next mortgage opportunity</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Create_contact_client_about_new_mortgage_task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>mortgageReviewOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This opportunity was automatically generated after we brokered another mortgage for this customer. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nextOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_interest_rate__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.InterestRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_lender__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.OW_lender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_monthly_repayment_amount__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.OW_monthly_repayment_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_mortgage_rate_expiration__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.OW_fixed_rate_expires__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_mortgage_term__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.AmortizationTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_repayment_terms__c</field>
            <value>
                <elementReference>$Record.OW_mortgage__r.OW_repayment_terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeIdOpportunityMortgage.recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Precise_FP_fact_find_sent</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;OW_mortgage&quot;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calculates the due date for the task based on what was entered in the field so that it&#39;s not based on when the field was populated, which could be after if admin is a bit behind!</description>
        <name>Calculate_task_due_date</name>
        <label>Calculate task due date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_chase_Precise_FP_fact_find_task</targetReference>
        </connector>
        <flowName>OW_date_add_subtract_business_days</flowName>
        <inputAssignments>
            <name>business_days</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>$Record.OW_date_precise_fp_fact_find_sent__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>chasePfpTaskDueDate</assignToReference>
            <name>result_date</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_chase_Precise_FP_fact_find_task</name>
        <label>Create chase Precise FP fact find task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Opportunity_stage_change</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>due_date_input</name>
            <value>
                <elementReference>chasePfpTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>mortgage_chase_precisefp_ff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_contact_client_about_new_mortgage_task</name>
        <label>Create contact client about new mortgage task</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>due_date_input</name>
            <value>
                <elementReference>mortgageReviewDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>mortgage_contact_client_about_product_expiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>Create_next_mortgage_opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The due date of the task to chase the Precise FP fact find</description>
        <name>chasePfpTaskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
