force-app/main/default/flows/OpportunityMortgageCloseOpenApplicationsTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshPage</name>
        <label>Refresh page</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddCloseStatus</name>
        <label>Add close status</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughTasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughTasks.OrchestrationTaskStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToTaskCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCountOfApplications</name>
        <label>Assign count of applications</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>applicationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOpenMortgageApplications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClosedLostDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStatusClosedReason</name>
        <label>Assign Status &amp; Closed Reason</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AddValuesToApplications.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddValuesToApplications.OW_closed_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MortgageApplicationClosedLostReasonDependent.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollection</name>
        <label>Assign to collection</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>appsToClose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddValuesToApplications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationsToBeClosed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddValuesToApplications.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddValuesToApplications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToTaskCollection</name>
        <label>Assign to task collection</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>taskstoclose</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApplyingforDIP</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Applying for DIP&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Applying for DIP</stringValue>
        </value>
    </choices>
    <choices>
        <name>FastTracked</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Fast Track&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast Track</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoApplicationRejected</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Application rejected&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesMortgageOffered</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Mortgage Offered&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>OpportunityClosedLost</name>
        <label>Opportunity being closed lost?</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCloseOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOST_OPPORTUNITY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Closes open mortgage applications and their associated tasks</description>
    <dynamicChoiceSets>
        <name>AppClosedReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>OW_closed_reason__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MortgageTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>OW_mortgage_type__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppClosedReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>OW_closed_reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropertyUseValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>OW_property_use__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RateTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>RateType__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RepaymentTermsValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>OW_repayment_terms__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateOfOfferFormula</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!GetOpportunity.OW_mortgage__r.OW_date_of_offer__c}),TODAY(),{!GetOpportunity.OW_mortgage__r.OW_date_of_offer__c})</expression>
    </formulas>
    <interviewLabel>Opportunity | Mortgage | Close Open Applications &amp; Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Mortgage | Close Open Applications &amp; Tasks</label>
    <loops>
        <name>AddValuesToApplications</name>
        <label>Add values to applications</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>GetOpenMortgageApplications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignStatusClosedReason</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOpenTasksRelatedToApplicationsToClose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTasks</name>
        <label>Loop through tasks</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>GetOpenTasksRelatedToApplicationsToClose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddCloseStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmationScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpenMortgageApplications</name>
        <label>Get Open Mortgage Applications</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCountOfApplications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenTasksRelatedToApplicationsToClose</name>
        <label>Get Open Tasks Related To Applications To Close</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_mortgage_application__c</field>
            <operator>In</operator>
            <value>
                <elementReference>applicationsToBeClosed</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpenMortgageApplications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CancelTasks</name>
        <label>Cancel Tasks</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>CloseApplications</targetReference>
        </connector>
        <inputReference>taskstoclose</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseApplications</name>
        <label>Close Applications</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>OpportunityClosedLost</targetReference>
        </connector>
        <inputReference>appsToClose</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseOpportunity</name>
        <label>Close Opportunity</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>RefreshPage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MortgageProcessStage__c</field>
            <value>
                <stringValue>Finished</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_closed_reason__c</field>
            <value>
                <elementReference>OpportunityClosedLostReasonDependent.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>ClosedLostDetails</name>
        <label>ClosedLostDetails</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddValuesToApplications</targetReference>
        </connector>
        <fields>
            <name>ClosedLostInformation</name>
            <fieldText>Closed Lost Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ClosedLostInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityClosedLostReasonDependent</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>StageName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>OW_closed_reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Stage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <stringValue>Closed Lost</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Closed Lost Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>LOST_OPPORTUNITY</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MortgageApplicationClosedLostReasonDependent</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>ResidentialLoanApplication</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>OW_closed_reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <stringValue>Closed</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Mortgage Application Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Mortgage Application Closed Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Status must be &quot;Closed&quot; in order to continue.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!MortgageApplicationClosedLostReasonDependent.topValue} = &quot;Closed&quot;</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>applicationCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CancelTasks</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;The mortgage applications and tasks listed in the tables below will be closed once you submit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be sure you&#39;re happy to close these records before submitting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MortgageApplicationsConfirmationTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ResidentialLoanApplication</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mortgage Applications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>appsToClose</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0914&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_lender__c&quot;,&quot;guid&quot;:&quot;column-27c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lender&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TasksConfirmationTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>taskstoclose</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SubjectFormula__c&quot;,&quot;guid&quot;:&quot;column-a0dc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>applicationsToBeClosed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appsToClose</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResidentialLoanApplication</objectType>
    </variables>
    <variables>
        <name>OfferedVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orchestrationInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProceedingVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tasksToBeClosed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskstoclose</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
