force-app/main/default/flows/OW_advice_manage_sla_breach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_dedicated_specialist</name>
        <label>Set household dedicated specialist</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>household.OW_dedicated_specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choose_dedicated_specialist.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>household.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_to_dedicated_specialist</name>
        <label>Set owner to dedicated specialist</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_tasks.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>household.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tasks_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tasks_to_update</name>
        <label>Tasks to update</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>tasks_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_count_increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_tasks</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>task_count_increment</name>
        <dataType>Number</dataType>
        <expression>{!task_count} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Advice - manage SLA breach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice - manage SLA breach</label>
    <loops>
        <name>Loop_tasks</name>
        <label>Loop tasks</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_tasks_for_this_household</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_owner_to_dedicated_specialist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get any open tasks assigned to the specialist team looking after the household so they can be reassigned to the dedicated owner.</description>
        <name>Get_tasks_for_this_household</name>
        <label>Get tasks for this household</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__r.OW_queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_household</name>
        <label>Update household</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_tasks_for_this_household</targetReference>
        </connector>
        <inputReference>household</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_tasks</name>
        <label>Update tasks</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <inputReference>tasks_update</inputReference>
    </recordUpdates>
    <screens>
        <name>Manage_breach</name>
        <label>Manage breach</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_dedicated_specialist</targetReference>
        </connector>
        <fields>
            <name>breach_prompt</name>
            <fieldText>&lt;p&gt;SLA has been breached. Please choose someone to manage this. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>choose_dedicated_specialist</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OW_dedicated_specialist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dedicated specialist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_confirmation</name>
            <fieldText>&lt;p&gt;{!task_count} tasks were reassigned to {!choose_dedicated_specialist.recordName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manage_breach</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The advice record being managed.</description>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>household</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>task_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tasks_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
