force-app/main/default/flows/OW_annual_review_after_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Adds the advice record to the variable that&#39;ll be used in the update operation later in the flow.</description>
        <name>Add_advice_to_updates_variable</name>
        <label>Add advice to updates variable</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>advice_updates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advice_to_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_update_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the advice record to the variable that&#39;ll be used in the update operation later in the flow.</description>
        <name>Add_advice_to_updates_variable_0</name>
        <label>Add advice to updates variable</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>advice_updates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advice_to_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_update_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the advice record to the variable that&#39;ll be used in the update operation later in the flow.</description>
        <name>Add_advice_to_updates_variable_0_0</name>
        <label>Add advice to updates variable</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>advice_updates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advice_to_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_review_link_on_advice_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the advice record to the variable that&#39;ll be used in the update operation later in the flow.</description>
        <name>Add_advice_to_updates_variable_0_0_0</name>
        <label>Add advice to updates variable</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>advice_updates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advice_to_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_update_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Given the advice value has been cleared, we need to clear the review link on the advice record too.</description>
        <name>Clear_review_link_on_advice</name>
        <label>Clear review link on advice</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>advice_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OW_advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice_to_update.OW_review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_advice_to_updates_variable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Given the advice value has been cleared, we need to clear the review link on the advice record too.</description>
        <name>Clear_review_link_on_advice_0</name>
        <label>Clear review link on advice</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>advice_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OW_advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice_to_update.OW_review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_advice_to_updates_variable_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDs</name>
        <label>Set IDs</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reviewId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_planner_queue_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>As the review is now closed, we want to set the last review date to today and push forward the next review date.</description>
        <name>Set_new_review_dates_for_household</name>
        <label>Set new review dates for household</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>household.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>household.FinServ__LastReview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_review_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Advice_modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the review field to be the review that launched this flow on the advice that was linked to the review.</description>
        <name>Set_review_link_on_advice</name>
        <label>Set review link on advice</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>advice_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice_to_update.OW_review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_advice_to_updates_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the review field to be the review that launched this flow on the newly linked advice.</description>
        <name>Set_review_link_on_newly_linked_advice</name>
        <label>Set review link on newly linked advice</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>advice_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advice_to_update.OW_review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_advice_to_updates_variable_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_update_required</name>
        <label>Account update required?</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Advice_update_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>Required_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>household</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_household</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Assesses if the advice link was modified - set, changed, or removed, and drives updates to the advice record(s) accordingly.</description>
        <name>Advice_modified</name>
        <label>Advice modified</label>
        <locationX>446</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Account_update_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advice_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_review_link_on_advice</targetReference>
            </connector>
            <label>Advice added</label>
        </rules>
        <rules>
            <name>Advice_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_advice__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_review_link_on_newly_linked_advice</targetReference>
            </connector>
            <label>Advice changed</label>
        </rules>
        <rules>
            <name>Advice_cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OW_advice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_review_link_on_advice</targetReference>
            </connector>
            <label>Advice cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Advice_update_required</name>
        <label>Advice update required?</label>
        <locationX>446</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>Required_advice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice_updates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_advice_records</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fact_find_completed_by_customer</name>
        <label>Fact find completed by customer</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Stage_of_annual_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_review_fact_find_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_advice</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_review_fact_find_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_advice</targetReference>
            </connector>
            <label>Skipped</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this a new record</description>
        <name>New_record</name>
        <label>New record?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Fact_find_completed_by_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not new</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_set_up_annual_review_task</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Different paths follow depending on which stage the annual review has reached.</description>
        <name>Stage_of_annual_review</name>
        <label>Stage of annual review</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Advice_modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Catch_up_call_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catch up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advice_modified</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Catch up call stage</label>
        </rules>
        <rules>
            <name>Completed_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_review_dates_for_household</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Replaced by a newer flow in Jan 2025 as part of annual review process overhaul. 
Run on creation or editing of a flow after the record is saved.</description>
    <environments>Default</environments>
    <formulas>
        <description>If this is a new record, the formula returns true</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>The due date for the set up annual review task.</description>
        <name>set_up_annual_review_due_date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.OW_due_date__c} - 90</expression>
    </formulas>
    <interviewLabel>Annual review - after save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zDel | Annual review - after save flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_planner_queue_ID</name>
        <label>Get planner queue ID</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OW_queue_planners</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OW_record_type_reference__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_record_type_id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_chasers</name>
        <label>Close chasers</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_ops_task_to_book_catch_up_call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_annual_review_fact_find</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Annual_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_advice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_advice</name>
        <label>Update advice</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Close_chasers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_advice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Questions_to_be_asked_on_call__c</field>
            <value>
                <elementReference>outstandingInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileUpdateStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_Partner_call__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Advice__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the advice records modified during this flow</description>
        <name>Update_advice_records</name>
        <label>Update advice records</label>
        <locationX>314</locationX>
        <locationY>2579</locationY>
        <inputReference>advice_updates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the household with new values assigned throughout this flow.</description>
        <name>Update_household</name>
        <label>Update household</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Advice_update_required</targetReference>
        </connector>
        <inputReference>household</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_IDs</targetReference>
        </connector>
        <object>OW_review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_ops_task_to_book_catch_up_call</name>
        <label>Create ops task to book catch up call</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Stage_of_annual_review</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_advice_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_annual_review</name>
            <value>
                <elementReference>reviewId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>REVIEW_ANNUAL_CATCH_UP_BOOK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_set_up_annual_review_task</name>
        <label>Create set up annual review task</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Stage_of_annual_review</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_annual_review</name>
            <value>
                <elementReference>reviewId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>set_up_annual_review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>reviewId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>outstandingInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.OW_advice__r.Additional_Questions_to_be_asked_on_call__c}
Review &amp; update/confirm spending in the profile
Review &amp; update/confirm cash in the profile
Review &amp; update Facts (at annual review, this includes marking Facts as “inactive” if they are no longer relevant)
Review &amp; update vulnerability
If the clients have declined a transfer recommendation in the past, would they like us to repeat our analysis?
Would the clients like to go ahead with a protection review?</text>
    </textTemplates>
    <variables>
        <description>Stores temporarily the values of advice that needs to be updated as part of this flow.</description>
        <name>advice_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <description>Stores the details of advice records that need to be updated in this flow and is used in an update operation.</description>
        <name>advice_updates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The variable that&#39;ll hold the values for the book annual review catch up call task.</description>
        <name>annual_review_catch_up_call_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CreateFFannualreviewtask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Stores details of the household that are to be updated in this flow.</description>
        <name>household</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Task for planners to set up the annual review</description>
        <name>task_set_up_annual_review</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>This collection variable will hold all tasks that need to be created and inserted at the end of the flow.</description>
        <name>tasks_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
