force-app/main/default/flows/OW_egi_validate_client_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Mapping</name>
        <label>Mapping</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>egiRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_Gains_ISAs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stopInternalChangeProcessing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Gains_Realised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gains_Realised__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Losses_Realised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Losses_Realised__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.ISA_Contributions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ISA_Contributions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Carried_Forward_Losses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carried_Forward_Losses__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Gains_Losses_Realised_this_Year_Y_N__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.gains_losses_realised_this_tax_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.External_ISA_Contributions_Y_N__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_ISA_Contributions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Carried_Forward_Losses_Y_N__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Losses_Realised_Prior_Tax_Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_Gains_ISAs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Further_detail_carried_forward_losses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carried_Forward_Losses_further_detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Further_detail_Gains_Losses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gains_Losses_further_detail_ext__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>egiRecord.Further_detail_ISAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ISA_contributions_further_detail_ext__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EGI</targetReference>
        </connector>
    </assignments>
    <description>Automatically validates client changes to external gains and losses and ISAs, mapping that submission to the actual record.</description>
    <environments>Default</environments>
    <formulas>
        <name>stopInternalChangeProcessing</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.External_Gains_ISAs__r.OW_stop_internal_change_processing__c}), 1, {!$Record.External_Gains_ISAs__r.OW_stop_internal_change_processing__c} + 1 )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EGI | Validate client changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EGI | Validate client changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_to_validated</name>
        <label>Set to validated</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_for_outstanding_validations</targetReference>
        </connector>
        <inputAssignments>
            <field>OW_validation_type__c</field>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validated__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EGI</name>
        <label>Update EGI</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_to_validated</targetReference>
        </connector>
        <inputReference>egiRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mapping</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>NOT(ISBLANK({!$Record.FF_Session__c})) 
&amp;&amp;
{!$Record.FF_Session__r.RecordType.DeveloperName} = &quot;Client_Update&quot;</filterFormula>
        <object>FF_External_Gains_ISAs__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_outstanding_validations</name>
        <label>Check for outstanding validations</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <flowName>OW_ff_objects_check_for_outstanding_validations</flowName>
        <inputAssignments>
            <name>householdID</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>egiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Gains_Losses__c</objectType>
    </variables>
</Flow>
