force-app/main/default/flows/OW_employment_capture_internal_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Clear_hideFromProfile</name>
        <label>Clear hideFromProfile</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_employment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_hideFromProfile_0</name>
        <label>Clear hideFromProfile</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_employment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_hideFromProfile_deleted_by_client</name>
        <label>Set hideFromProfile</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deleted by Client</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_employment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_hideFromProfile_no_status</name>
        <label>Set hideFromProfile</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent record status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_employment_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>clientUpdateValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client_Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>IntegrationUserAlias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>iuser</stringValue>
        </value>
    </constants>
    <constants>
        <name>internalUserUpdateValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal_User_Update</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Display_in_profile</name>
        <label>Display in profile?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Clear_hideFromProfile_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - no reason to hide</defaultConnectorLabel>
        <rules>
            <name>Yes_due_to_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_hideFromProfile</targetReference>
            </connector>
            <label>Yes - due to status</label>
        </rules>
        <rules>
            <name>No_hide_due_to_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_hideFromProfile_no_status</targetReference>
            </connector>
            <label>No - hide due to status</label>
        </rules>
        <rules>
            <name>No_deleted_by_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted by client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_hideFromProfile_deleted_by_client</targetReference>
            </connector>
            <label>No - deleted by client</label>
        </rules>
    </decisions>
    <description>This flow will run whenever criteria defined within it are met to capture a record of the changes made by an internal user.</description>
    <environments>Default</environments>
    <formulas>
        <description>Set FF session change type based on if modifed by integration user or not</description>
        <name>changeType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.PlatformLastModifiedBy__c} == {!Get_Integration_User.Id}, {!clientUpdateValue}, {!internalUserUpdateValue})</expression>
    </formulas>
    <formulas>
        <name>ffSessionObject</name>
        <dataType>String</dataType>
        <expression>&quot;Employment | &quot; &amp; {!$Record.Person_Account__r.FirstName} &amp; &quot; | &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>matchId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.match_id__c}), 
{!$Record.Id}, 
{!$Record.match_id__c}
)</expression>
    </formulas>
    <formulas>
        <name>recordTypeMapping</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordType.DeveloperName}, 
&quot;Employment&quot;,&quot;0124J000000xsddQAA&quot;,
&quot;Not_Currently_Working&quot;,&quot;0124J000000xsdsQAA&quot;,
&quot;Retirement_Income&quot;,&quot;0124J000000xsdiQAA&quot;,
NULL)</expression>
    </formulas>
    <interviewLabel>Employment | capture internal change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employment | Capture change to FF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FF_employment_record</name>
        <label>Create FF employment record</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Average_bonus__c</field>
            <value>
                <elementReference>$Record.Average_bonus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Dividends__c</field>
            <value>
                <elementReference>$Record.Business_Dividends__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deleted_By__c</field>
            <value>
                <elementReference>hideFromProfile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_status__c</field>
            <value>
                <elementReference>$Record.FinServ__EmploymentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FF_Session__c</field>
            <value>
                <elementReference>ffSessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_from_Pensions_Annuities__c</field>
            <value>
                <elementReference>$Record.Income_from_Pensions_Annuities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_from_Savings_Investments__c</field>
            <value>
                <elementReference>$Record.Income_from_Savings_Investments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Match_id__c</field>
            <value>
                <elementReference>matchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_income_from_state_pension__c</field>
            <value>
                <elementReference>$Record.OW_income_from_state_pension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_income_from_state_pension_frequency__c</field>
            <value>
                <elementReference>$Record.OW_income_from_state_pension_frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Income_Frequency__c</field>
            <value>
                <elementReference>$Record.Other_Income_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Income__c</field>
            <value>
                <elementReference>$Record.Other_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pensions_Annuity_Frequency__c</field>
            <value>
                <elementReference>$Record.Pensions_Annuity_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_Account__c</field>
            <value>
                <elementReference>$Record.Person_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>$Record.FinServ__Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeMapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>$Record.Salary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Savings_Investments_Frequency__c</field>
            <value>
                <elementReference>$Record.Saving_Investments_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Income_Frequency__c</field>
            <value>
                <elementReference>$Record.Total_Income_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Income__c</field>
            <value>
                <elementReference>$Record.Total_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validated__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>FF_Employment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Integration_User</name>
        <label>Get Integration User</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntegrationUserAlias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Integration_User</targetReference>
        </connector>
        <object>FinServ__Employment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_session</name>
        <label>Create session</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Display_in_profile</targetReference>
        </connector>
        <flowName>OW_ff_session_create</flowName>
        <inputAssignments>
            <name>ffSessionObject</name>
            <value>
                <elementReference>ffSessionObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ffSessionType</name>
            <value>
                <elementReference>changeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ffSessionId</assignToReference>
            <name>ffSessionId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ffSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If populated, the employment record will be hidden from the customer&#39;s profile. The value will be the reason why.</description>
        <name>hideFromProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
