force-app/main/default/flows/OW_ff_financial_product_validate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_FF_FP_to_collection</name>
        <label>Add FF FP to collection</label>
        <locationX>943</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProductUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ffFinancialProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1898</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProductUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FF_FP_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FF_FP_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_employment</name>
        <label>Link to employment</label>
        <locationX>1786</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.OW_pension_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_employment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_employment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_employment_existing_fp</name>
        <label>Link to employment</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.OW_pension_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_employment_existing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_employment_existing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FP_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_owner</name>
        <label>Link to owner</label>
        <locationX>1786</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.Primary_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_FP_to_FF_FP_fields</name>
        <label>Map FP to FF FP fields</label>
        <locationX>943</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>financialProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Financial_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Display_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Primary_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Joint_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Pre_LOA_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FP_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Work_Benefit_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Work_Benefit_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__FinancialAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Expected_Annual_Income_on_Retirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Expected_Annual_Income_on_Retirement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Income_of_Retirement_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Income_on_Retirement_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Fixed_Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Fixed_Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.fixed_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Fixed_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Household__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__InterestRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Interest_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Pre_LOA_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Public_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Public_Provider_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Notice_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Notice_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Notice_Period_Duration_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Notice_Period_Duration_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.match_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Match_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dontCaptureChangeFinancialProductSpecified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_is_pension_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.OW_is_pension_employment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.OW_pension_employment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.RegisteredContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.RegisteredContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FP_specified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_fault_variables</name>
        <label>Set fault variables</label>
        <locationX>2490</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_FF_record_to_validated</name>
        <label>Set FF record to validated</label>
        <locationX>943</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.OW_validation_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FF_FP_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FP</name>
        <label>Set FP</label>
        <locationX>1898</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Loop_FF_FP_records.Financial_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FP_ID_for_FF_record</name>
        <label>Set FP ID for FF record</label>
        <locationX>1918</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ffFinancialProduct.Financial_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_other_unlinked_FF_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FP_record_ID</name>
        <label>Set FP record ID</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>financialProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_FP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dontCaptureChangeFinancialProductFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_latest_updated_on_employment_record</name>
        <label>Set latest updated on employment record</label>
        <locationX>1918</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>financialProduct.OW_latest_update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ffFinancialProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialProduct.BusinessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-existing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_to_employment_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_type</name>
        <label>Set record type</label>
        <locationX>1732</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>financialProduct.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeMapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_type_no_existing_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_FF_records_to_be_linked</name>
        <label>Any FF records to be linked?</label>
        <locationX>1918</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Set_FF_record_to_validated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_to_be_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_unlinked_FF_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_FF_FP_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financial_product_already_exists</name>
        <label>Financial product already exists?</label>
        <locationX>1507</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_FP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FP_record_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP_specified</name>
        <label>FP specified?</label>
        <locationX>943</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_for_FP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_fp_specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.Financial_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_to_employment_needed</name>
        <label>Link to employment needed?</label>
        <locationX>1918</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not needed</defaultConnectorLabel>
        <rules>
            <name>Link_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.OW_employment_match_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ffFinancialProduct.OW_pension_employment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_employment</targetReference>
            </connector>
            <label>Link needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_to_employment_needed_existing_fp</name>
        <label>Link to employment needed?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_FP_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not needed</defaultConnectorLabel>
        <rules>
            <name>Link_needed_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.OW_employment_match_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ffFinancialProduct.OW_pension_employment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_employment_existing</targetReference>
            </connector>
            <label>Link needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>1918</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_FP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner specified</defaultConnectorLabel>
        <rules>
            <name>Owner_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.Primary_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ffFinancialProduct.Owner_match_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_owner</targetReference>
            </connector>
            <label>Owner needed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the information on the FF FP record, we can determine what has been done with this FF record.</description>
        <name>Update_type</name>
        <label>Update type</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Link_to_employment_needed_existing_fp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed</defaultConnectorLabel>
        <rules>
            <name>Deleted_hidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.Deleted_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FP</targetReference>
            </connector>
            <label>Deleted/hidden</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the information on the FF FP record, we can determine what has been done with this FF record.</description>
        <name>Update_type_no_existing_record</name>
        <label>Update type</label>
        <locationX>1732</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_latest_updated_on_employment_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Deleted_hidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffFinancialProduct.Deleted_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FF_record_to_validated</targetReference>
            </connector>
            <label>Deleted/hidden</label>
        </rules>
    </decisions>
    <description>This subflow can be called to attempt validation of an FF record.</description>
    <environments>Default</environments>
    <formulas>
        <description>This value is used to avoid the creation of an FF record when updating the related FP but where the FP is found by searching on the match ID.</description>
        <name>dontCaptureChangeFinancialProductFound</name>
        <dataType>Number</dataType>
        <expression>{!Check_for_FP.OW_stop_internal_change_processing__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This value is used to avoid the creation of an FF record when updating the related FP but where the FP is specified on the FF record itself.</description>
        <name>dontCaptureChangeFinancialProductSpecified</name>
        <dataType>Number</dataType>
        <expression>{!ffFinancialProduct.Financial_Product__r.OW_stop_internal_change_processing__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>If General Investment, ISA or protection it maps straight to the correct Pre-LOA Record Type</description>
        <name>RecordTypeMapping</name>
        <dataType>String</dataType>
        <expression>
/* Pensions */ 
IF({!ffFinancialProduct.RecordTypeId} = &quot;0124J000000xsyPQAQ&quot;,

CASE({!ffFinancialProduct.Display_Type__c},
&quot;Defined Benefit&quot;, &quot;0121t0000001eQDAAY&quot;,
&quot;Defined Contribution&quot;,&quot;0121t0000001jQFAAY&quot;,
&quot;Annuity&quot;,&quot;0121t0000001jQFAAY&quot;,
&quot;I don&#39;t know&quot;,&quot;0121t0000001jQFAAY&quot;,
&quot;0121t0000001jQFAAY&quot;)
, 
/* Cash Accounts */ 
IF({!ffFinancialProduct.RecordTypeId} = &quot;0124J000000xsyFQAQ&quot;, 
CASE({!ffFinancialProduct.Display_Type__c},
&quot;Current Account&quot;,&quot;0121t0000001eKxAAI&quot;,
&quot;Fixed Term Deposit&quot;,&quot;0121t0000001eLbAAI&quot;,
&quot;Offset Mortgage Cash Account&quot;,&quot;0124J000000xtM2QAI&quot;,
&quot;Savings Account&quot;,&quot;0121t000000vGJQAA2&quot;,
&quot;Premium Bonds (NS&amp;I)&quot;,&quot;0124J000000czpjQAA&quot;,
&quot;I don&#39;t know&quot;,&quot;0121t0000001eKxAAI&quot;,
&quot;0121t0000001eKxAAI&quot;)
,
/* ISA, GIA &amp; Protection */ 
CASE({!ffFinancialProduct.RecordTypeId},
&quot;0124J000000xsyUQAQ&quot;,&quot;0121t0000001eLlAAI&quot;,
&quot;0124J00000049y0QAA&quot;,&quot;0124J000000xtNkQAI&quot;,
&quot;0124J0000004AjdQAE&quot;,&quot;0121t0000001eTgAAI&quot;,
&quot;0124J000000xsyUQAQ&quot;)
)
)</expression>
    </formulas>
    <formulas>
        <name>StopInternalUserUpdate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>FF financial product | validate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF financial product | validate</label>
    <loops>
        <name>Loop_FF_FP_records</name>
        <label>Loop FF FP records</label>
        <locationX>1810</locationX>
        <locationY>2138</locationY>
        <collectionReference>Get_other_unlinked_FF_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_FP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_FF_record_to_validated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FP</name>
        <label>Create FP</label>
        <locationX>1918</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Set_FP_ID_for_FF_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_fault_variables</targetReference>
        </faultConnector>
        <inputReference>financialProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Checks for an existing FP record based on the match ID as one may have already been created but not specified by profile on the FF record - e.g. when auto-validation creates the FP record but the profile hasn&#39;t been refreshed to get this detail.</description>
        <name>Check_for_FP</name>
        <label>Check for FP</label>
        <locationX>1507</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Financial_product_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.Match_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_stop_internal_change_processing__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment</name>
        <label>Get employment</label>
        <locationX>1786</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_to_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.OW_employment_match_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment_existing</name>
        <label>Get employment</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_to_employment_existing_fp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.OW_employment_match_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets any FF FP records that are for the same FP but not yet linked to the FP given it has just been created. These will then be updated to link them to the FP.</description>
        <name>Get_other_unlinked_FF_records</name>
        <label>Get other unlinked FF records</label>
        <locationX>1918</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_FF_records_to_be_linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.Match_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Financial_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Financial_Product__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_owner</name>
        <label>Get owner</label>
        <locationX>1786</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_to_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffFinancialProduct.Owner_match_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FF_records</name>
        <label>Update FF records</label>
        <locationX>943</locationX>
        <locationY>3098</locationY>
        <connector>
            <targetReference>Check_for_outstanding_validations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_fault_variables</targetReference>
        </faultConnector>
        <inputReference>ffFinancialProductUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FP</name>
        <label>Update FP</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_FF_record_to_validated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_fault_variables</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialProduct.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinServ__Status__c</field>
            <value>
                <stringValue>Deleted by client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_stop_internal_change_processing__c</field>
            <value>
                <elementReference>financialProduct.OW_stop_internal_change_processing__c</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FP_changed</name>
        <label>Update FP</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Set_FF_record_to_validated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_fault_variables</targetReference>
        </faultConnector>
        <inputReference>financialProduct</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>817</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_FP_to_FF_FP_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_outstanding_validations</name>
        <label>Check for outstanding validations</label>
        <locationX>943</locationX>
        <locationY>3206</locationY>
        <flowName>OW_ff_objects_check_for_outstanding_validations</flowName>
        <inputAssignments>
            <name>householdID</name>
            <value>
                <elementReference>ffFinancialProduct.Household__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The FF FP record for which validation is being attempted in this flow.</description>
        <name>ffFinancialProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_Financial_Product__c</objectType>
    </variables>
    <variables>
        <description>Adds the FF financial product record that is being processed in this flow to the collection variable so that it can be updated.</description>
        <name>ffFinancialProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_Financial_Product__c</objectType>
    </variables>
    <variables>
        <description>This variable will store details of the FP record that the FF FP relates to.</description>
        <name>financialProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <description>Indicates if the validation was successful. True by default, it&#39;ll be updated to false in the case of a fault.</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Captures as an input whether this validation run is automatic or manual so that we can report on the number of auto-validations occurring.</description>
        <name>validationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
