force-app/main/default/flows/OW_liability_capture_internal_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Clear_hideFromProfile</name>
        <label>Clear hideFromProfile</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_liability_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_hideFromProfile_no_reason</name>
        <label>Clear hideFromProfile</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_liability_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_hideFromProfile</name>
        <label>Set hideFromProfile</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Liability record status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_liability_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_hideFromProfile_deleted</name>
        <label>Set hideFromProfile</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>hideFromProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deleted by Client</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FF_liability_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Display_in_profile</name>
        <label>Display in profile?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Clear_hideFromProfile_no_reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - no reason to hide</defaultConnectorLabel>
        <rules>
            <name>Yes_due_to_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_hideFromProfile</targetReference>
            </connector>
            <label>Yes - due to status</label>
        </rules>
        <rules>
            <name>No_hide_due_to_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replaced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surrendered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_hideFromProfile</targetReference>
            </connector>
            <label>No - hide due to status</label>
        </rules>
        <rules>
            <name>No_deleted_by_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted by client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_hideFromProfile_deleted</targetReference>
            </connector>
            <label>No - deleted by client</label>
        </rules>
    </decisions>
    <description>This flow will run whenever criteria defined within it are met to capture a record of the changes made by an internal user.</description>
    <environments>Default</environments>
    <formulas>
        <name>ffSessionObject</name>
        <dataType>String</dataType>
        <expression>&quot;Liability | &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>matchId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.match_id__c}), 
{!$Record.Id}, 
{!$Record.match_id__c}
)</expression>
    </formulas>
    <formulas>
        <name>recordTypeIdMapping</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.RecordType.DeveloperName},
&quot;Mortgage&quot;, &quot;0124J000000xuARQAY&quot;,
&quot;Other_Liabilities&quot;, &quot; 0124J000000xuAWQAY&quot;, 
NULL
)</expression>
    </formulas>
    <interviewLabel>Liability | capture internal change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Liability | capture internal change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the FF liability record to capture the audit history of the user change.</description>
        <name>Create_FF_liability_record</name>
        <label>Create FF liability record</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>$Record.Current_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deleted_By__c</field>
            <value>
                <elementReference>hideFromProfile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FF_Session__c</field>
            <value>
                <elementReference>ffSessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Rate_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Fixed_rate_end_year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Balance__c</field>
            <value>
                <elementReference>$Record.Initial_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Rate__c</field>
            <value>
                <elementReference>$Record.Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Joint_Owner__c</field>
            <value>
                <elementReference>$Record.Joint_owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedAsset__c</field>
            <value>
                <elementReference>$Record.LinkedAsset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Asset__c</field>
            <value>
                <elementReference>$Record.Linked_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Match_id__c</field>
            <value>
                <elementReference>matchId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment__c</field>
            <value>
                <elementReference>$Record.Monthly_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Type__c</field>
            <value>
                <elementReference>$Record.Mortgage_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_off_in_full_each_month__c</field>
            <value>
                <elementReference>$Record.Paid_off_in_full_each_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Owner__c</field>
            <value>
                <elementReference>$Record.Primary_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Provider_List__c</field>
            <value>
                <elementReference>$Record.Public_provider_list__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Type__c</field>
            <value>
                <elementReference>$Record.Rate_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIdMapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validated__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>FF_Liability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_session</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; {!$Record.OW_stop_internal_change_processing__c} = 1)
||
(NOT(ISNEW()) &amp;&amp; NOT(ISCHANGED({!$Record.OW_stop_internal_change_processing__c})))</filterFormula>
        <object>Liabilities__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call sub-flow to create FF session record for this update.</description>
        <name>Create_session</name>
        <label>Create session</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Display_in_profile</targetReference>
        </connector>
        <flowName>OW_ff_session_create</flowName>
        <inputAssignments>
            <name>ffSessionObject</name>
            <value>
                <elementReference>ffSessionObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ffSessionType</name>
            <value>
                <stringValue>Internal_User_Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ffSessionId</assignToReference>
            <name>ffSessionId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ffLiabilityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_Liability__c</objectType>
    </variables>
    <variables>
        <name>ffSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hideFromProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
