force-app/main/default/flows/OW_tob_manage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_new_TOB</name>
        <label>Send new TOB</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>SendTermsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_TOB_created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_system_log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>personAccountId</name>
            <value>
                <elementReference>Get_TOB_record_details.Person_Account__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendTermsController</nameSegment>
        <outputParameters>
            <assignToReference>send_tob_success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Build_accepted_TOB_management_options</name>
        <label>Build accepted TOB management options</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tob_management_choice_labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Invalidate signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tob_management_choice_values</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>invalidate_signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>choice_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_not_accepted_management_options</name>
        <label>Build not accepted management options</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tob_management_choice_labels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cancel TOB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tob_management_choice_values</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cancel_tob</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>choice_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_as_cancelled</name>
        <label>Record as cancelled</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_TOB_record_details.OW_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_terms_of_business</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_invalid_signature</name>
        <label>Record invalid signature</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_TOB_record_details.OW_invalid_signature_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invalid_signature_reason.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_new_TOB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_invalid_signature_reason</name>
        <label>Record invalid signature reason</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_TOB_record_details.OW_invalid_signature_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted before signatures required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_new_TOB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ask_for_invalidate_reason</name>
        <label>Ask for invalidate reason?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Invalidate_signature_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Accepted_pre_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOB_record_details.IP_address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TOB_record_details.User_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TOB_record_details.Signature_Path__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TOB_record_details.Signature_Image__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_invalid_signature_reason</targetReference>
            </connector>
            <label>No | Accepted pre-signature</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes appropriately depending on the choice made by the user</description>
        <name>Choice</name>
        <label>Choice?</label>
        <locationX>776</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalidate_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TOB_manage_options.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invalidate_signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ask_for_invalidate_reason</targetReference>
            </connector>
            <label>Invalidate signature</label>
        </rules>
        <rules>
            <name>Mark_as_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TOB_manage_options.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancel_tob</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_as_cancelled</targetReference>
            </connector>
            <label>Mark as cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_TOB_created</name>
        <label>New TOB created?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not created</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>send_tob_success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_terms_of_business</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routing dependent on what the TOB status is.</description>
        <name>TOB_status</name>
        <label>TOB status</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_actions_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_not_accepted_management_options</targetReference>
            </connector>
            <label>Not accepted</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_invalid_signature_reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_accepted_TOB_management_options</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Accepted_and_invalid_signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_invalid_signature_reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOB_signature_invalidated_screen</targetReference>
            </connector>
            <label>Accepted and invalid signature</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOB_record_details.OW_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_actions_screen</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>This flow walks a user through management of existing TOB records, providing the option to invalidate signatures and cancel outstanding TOB.</description>
    <environments>Default</environments>
    <interviewLabel>TOB - manage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TOB - manage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a system log in the case of error</description>
        <name>Create_system_log</name>
        <label>Create system log</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>OW_detail__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_log_source__c</field>
            <value>
                <stringValue>OW_tob_manage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_source_type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>OW_system_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieves the full TOB record details</description>
        <name>Get_TOB_record_details</name>
        <label>Get TOB record details</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TOB_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Terms_of_Business__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_status__c</queriedFields>
        <queriedFields>OW_invalid_signature_reason__c</queriedFields>
        <queriedFields>Person_Account__c</queriedFields>
        <queriedFields>User_Agent__c</queriedFields>
        <queriedFields>IP_address__c</queriedFields>
        <queriedFields>Signature_Image__c</queriedFields>
        <queriedFields>Signature_Path__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_terms_of_business</name>
        <label>Update terms of business</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_system_log</targetReference>
        </faultConnector>
        <inputReference>Get_TOB_record_details</inputReference>
    </recordUpdates>
    <screens>
        <description>Presents information via to invalidation of TOB.</description>
        <name>choice_screen</name>
        <label>Choice screen</label>
        <locationX>776</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
        <fields>
            <name>TOB_manage_options</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>tob_management_choice_labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>tob_management_choice_values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Choose action</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_system_log</targetReference>
        </connector>
        <fields>
            <name>display_error</name>
            <fieldText>&lt;p&gt;There was a problem creating the new TOB - please contact an admin for help with the following message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;OW_tob_manage flow received an error response from the SendTermsController class. Please inspect system logs for more detail.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer ID: {!Get_TOB_record_details.Person_Account__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to capture why the signature was invalid.</description>
        <name>Invalidate_signature_screen</name>
        <label>Invalidate signature screen</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_invalid_signature</targetReference>
        </connector>
        <fields>
            <name>invalid_signature_reason</name>
            <extensionName>runtime_industries_lending:flowPickEnum</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>entityName</name>
                <value>
                    <stringValue>Terms_of_Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enumFieldName</name>
                <value>
                    <stringValue>OW_invalid_signature_reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Invalid reason</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to display a message to the user when there are no actions available.</description>
        <name>No_actions_screen</name>
        <label>No actions screen</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_actions_message</name>
            <fieldText>&lt;p&gt;There are no actions available for this TOB record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you think you are seeing this in error, please contact an admin.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://octopuswealth--preprod--c.documentforce.com/sfc/servlet.shepherd/version/download/06825000001CqBn?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to show a success message when the terms of business have been updated.</description>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;All done!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://i.etsystatic.com/23345551/r/il/ba0209/2331512264/il_fullxfull.2331512264_g9pq.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to display a message to the user saying no actions are available as TOB signature has already been invalidated.</description>
        <name>TOB_signature_invalidated_screen</name>
        <label>TOB signature invalidated screen</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>tob_signature_invalidated_message</name>
            <fieldText>&lt;p&gt;There are no options available for this TOB record as they have already been accepted and signature invalidated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need to chase TOB for this customer, please email them manually providing context of why they need to re-sign.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you think you are seeing this in error, please contact an admin.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have a fantastic day.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TOB_record_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the TOB record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value selected by the user on the first screen.</description>
        <name>selected_option</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if new TOB were sent successfully.</description>
        <name>send_tob_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the labels for the options for managing a TOB record</description>
        <name>tob_management_choice_labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the values for the options for managing a TOB record</description>
        <name>tob_management_choice_values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
