force-app/main/default/flows/OW_task_create_from_task_information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_error_email</name>
        <label>Send error email</label>
        <locationX>1502</locationX>
        <locationY>2906</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>error_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>harriet@octopuswealth.com, cian@octopuswealth.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Task creation error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Define the values of task to be inserted as part of this flow.</description>
        <name>Define_remaining_task_variables</name>
        <label>Define remaining task variables</label>
        <locationX>1238</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>what_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>who_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.FinServ__Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>household_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_task_information_identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_task_credit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0128e0000008TVxAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_process_variant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_task_information_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_task_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_advice_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_AML_KYC_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_aml_kyc_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_Annual_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_annual_review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_LOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_loa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Related_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OW_mortgage_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_mortgage_application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RelatedFulfilment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_fulfilment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OrchestrationTaskStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskOrchestrationStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RelatedInformationRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>related_information_request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_task_subject</name>
        <label>Define task subject</label>
        <locationX>1634</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task_mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_task_subject_default</name>
        <label>Define task subject - default</label>
        <locationX>1898</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task_mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoTaskInformationReferenceFound</name>
        <label>No Task Information Reference Found</label>
        <locationX>3658</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No task information record found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_error_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoTaskInformationReferenceProvided</name>
        <label>No Task Information Reference Provided</label>
        <locationX>4186</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No task information record found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_error_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_due_date_to_inputted_date</name>
        <label>Set due date to inputted date</label>
        <locationX>1634</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>due_date_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_start_date_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_outputs</name>
        <label>Set error outputs</label>
        <locationX>1502</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_error_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_outputsNoChosenUser</name>
        <label>Set error outputs</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No chosen user provided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_error_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_owner_to_queue</name>
        <label>Set owner to queue</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_date_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_queue_developer_name</name>
        <label>Set queue developer name</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>queueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OW_planners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_queue_developer_name_household_team</name>
        <label>Set queue developer name</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>queueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_household_information.OW_queue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_queue_developer_name_household_team_other</name>
        <label>Set queue developer name</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>queueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_household_information.OW_queue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_queue_developer_name_specific_queue</name>
        <label>Set queue developer name</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>queueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_queue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_target_start_date_to_input</name>
        <label>Set target start date to input</label>
        <locationX>1634</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>task.OW_target_start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>target_start_date_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subject_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_ID</name>
        <label>Set task ID</label>
        <locationX>1766</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>original_task.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_dedicated_specialist</name>
        <label>Set task owner to dedicated specialist</label>
        <locationX>3218</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_household_information.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_case_owner</name>
        <label>Set task owner to case owner</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_owner.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_chosen_user</name>
        <label>Set task owner to chosen user</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chosenUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_dedicated_specialist</name>
        <label>Set task owner to dedicated specialist</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_household_information.OW_dedicated_specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_opportunity_owner</name>
        <label>Set task owner to opportunity owner</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_opportunity_owner.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_partner</name>
        <label>Set task owner to partner</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_household_information.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_specified_user</name>
        <label>Set task owner to specified user</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_task_information_record.OW_specific_user__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_owner_to_suitability_planner</name>
        <label>Set task owner to suitability planner</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_advice.Assigned_planner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_to</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_to</name>
        <label>Assigned to</label>
        <locationX>1766</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Due_date_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Queue_assigned_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueDeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue_ID</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks who the task should be assigned to based on the task information settings and routes appropriately</description>
        <name>Assignment_type</name>
        <label>Assignment type</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assigned_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_queue_developer_name_specific_queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_to_partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Specific_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific user</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_to_specified_user</targetReference>
            </connector>
            <label>Specific user</label>
        </rules>
        <rules>
            <name>Chosen_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chosen user</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_chosen_user</targetReference>
            </connector>
            <label>Chosen user</label>
        </rules>
        <rules>
            <name>Suitability_planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suitability planner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_advice</targetReference>
            </connector>
            <label>Suitability planner</label>
        </rules>
        <rules>
            <name>Case_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_owner</targetReference>
            </connector>
            <label>Case owner</label>
        </rules>
        <rules>
            <name>Opportunity_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunity_owner</targetReference>
            </connector>
            <label>Opportunity owner</label>
        </rules>
        <rules>
            <name>Household_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_queue_developer_name_household_team</targetReference>
            </connector>
            <label>Household team</label>
        </rules>
        <rules>
            <name>Dedicated_specialist_household_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record.OW_assigned_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dedicated specialist/household team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_dedicated_specialist</targetReference>
            </connector>
            <label>Dedicated specialist/household team</label>
        </rules>
        <rules>
            <name>Dedicated_specialist_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_household_information.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_dedicated_specialist</targetReference>
            </connector>
            <label>Dedicated specialist assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a due date was provided as an input so this can be used or otherwise calculated using the task information due date offset.</description>
        <name>Due_date_provided</name>
        <label>Due date provided?</label>
        <locationX>1766</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Calculate_due_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not provided</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>due_date_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_due_date_to_inputted_date</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_chosen_user</name>
        <label>Is there a chosen user?</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_error_outputsNoChosenUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chosenUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_to_chosen_user</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_dedicated_specialist</name>
        <label>Is there a dedicated specialist?</label>
        <locationX>2822</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_queue_developer_name_household_team_other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_dedicated_specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_household_information.OW_dedicated_specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_to_dedicated_specialist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_planner_assigned</name>
        <label>Is there a planner assigned?</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_queue_developer_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPlannerAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_advice.Assigned_planner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_owner_to_suitability_planner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subject_provided</name>
        <label>Subject provided?</label>
        <locationX>1766</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Define_task_subject_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not provided</defaultConnectorLabel>
        <rules>
            <name>subject_providedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subject</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_task_subject</targetReference>
            </connector>
            <label>Subject provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Target_start_date_provided</name>
        <label>Target start date provided?</label>
        <locationX>1766</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Calculate_target_start_date_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Target start date not provided</defaultConnectorLabel>
        <rules>
            <name>Target_start_date_provided_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>target_start_date_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_target_start_date_to_input</targetReference>
            </connector>
            <label>Target start date provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a task information record found, process based on information on the task information record.</description>
        <name>Task_information_record_found</name>
        <label>Task information record found?</label>
        <locationX>2712</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoTaskInformationReferenceFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found_task_information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_information_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_type</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a task information name has been provided, then attempt to query that record.</description>
        <name>Task_information_reference_provided</name>
        <label>Task information reference provided?</label>
        <locationX>3449</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NoTaskInformationReferenceProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not provided</defaultConnectorLabel>
        <rules>
            <name>Provided_task_information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>task_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_task_information_record</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Routes differently depending on the mode applicable to this request.</description>
        <name>task_mode</name>
        <label>Mode?</label>
        <locationX>1766</locationX>
        <locationY>2474</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_remaining_task_variables</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_task_ID</targetReference>
            </connector>
            <label>Shift</label>
        </rules>
    </decisions>
    <description>New version to change target start date assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>taskOrchestrationStatus</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Get_task_information_record.OrchestrationControlled__c}, &quot;Yes&quot;), &quot;Incomplete&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>The turnaround time as a negative number to input into the flow that calculates a date subtracting business days.</description>
        <name>turnaround_time</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK({!Get_task_information_record.OW_turnaround_time__c}), 0, -{!Get_task_information_record.OW_turnaround_time__c} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Task - create from task information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - create from task information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_task</name>
        <label>Insert task</label>
        <locationX>1238</locationX>
        <locationY>2690</locationY>
        <faultConnector>
            <targetReference>Set_error_outputs</targetReference>
        </faultConnector>
        <inputReference>task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_planner_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>what_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_planner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_case_owner</name>
        <label>Get case owner</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_task_owner_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>what_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_household_information</name>
        <label>Get household information</label>
        <locationX>3449</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_information_reference_provided</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_error_outputs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>household_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_owner</name>
        <label>Get opportunity owner</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_task_owner_to_opportunity_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>what_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_ID</name>
        <label>Get queue ID</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_owner_to_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a task information record associated with the task type provided as an input to the flow.</description>
        <name>Get_task_information_record</name>
        <label>Get task information record</label>
        <locationX>2712</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_information_record_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_error_outputs</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_task_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>task_type</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OW_task_information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>1766</locationX>
        <locationY>2690</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_error_outputs</targetReference>
        </faultConnector>
        <inputReference>task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>3323</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_household_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_due_date</name>
        <label>Calculate due date</label>
        <locationX>1898</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Target_start_date_provided</targetReference>
        </connector>
        <flowName>OW_date_add_subtract_business_days</flowName>
        <inputAssignments>
            <name>business_days</name>
            <value>
                <elementReference>Get_task_information_record.OW_due_date_offset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>task.ActivityDate</assignToReference>
            <name>result_date</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_target_start_date_0_0</name>
        <label>Calculate target start date</label>
        <locationX>1898</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Subject_provided</targetReference>
        </connector>
        <flowName>OW_date_add_subtract_business_days</flowName>
        <inputAssignments>
            <name>business_days</name>
            <value>
                <elementReference>turnaround_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>task.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>task.OW_target_start_date__c</assignToReference>
            <name>result_date</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>error_email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi guys&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sorry to be the bearer of bad news here, just got a task that didn&#39;t go so well.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;What ID:&lt;/strong&gt; {!what_id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Household ID:&lt;/strong&gt; {!household_id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Task type:&lt;/strong&gt; {!task_type}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Due date input:&lt;/strong&gt; {!due_date_input}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Target start date:&lt;/strong&gt; {!target_start_date_input}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fault message:&lt;/strong&gt; {!faultMessage}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related advice:&lt;/strong&gt; {!related_advice_id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related AML&amp;amp;KYC:&lt;/strong&gt; {!related_aml_kyc_id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related annual review:&lt;/strong&gt; {!related_annual_review}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related LOA:&lt;/strong&gt; {!related_loa}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related mortgage opportunity:&lt;/strong&gt; {!related_mortgage_application}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related opportunity:&lt;/strong&gt; {!related_opportunity}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related provider:&lt;/strong&gt; {!related_provider}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Good luck, enjoy!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From The Task - create from task information Flow&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>chosenUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The flow can accept as an input a specific due date which will be used instead of what&#39;s on the task information record if provided.</description>
        <name>due_date_input</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The ID of the household to which this task relates.</description>
        <name>household_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The type of task processing to apply here, either:
- creating a new one (the default)
- credit/shift - create a new task with some reference to the original
- shift - reassign the task to the appropriate owner and update the due date</description>
        <name>mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orchestrationInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the complete details of the original task.</description>
        <name>original_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Stores the ID of who the task should be assigned to.</description>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If the task should be assigned to a queue, this variable will store the developer name of that queue.</description>
        <name>queueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of any related advice records</description>
        <name>related_advice_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of any related AML/KYC records</description>
        <name>related_aml_kyc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of any related annual review records</description>
        <name>related_annual_review</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>related_fulfilment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>related_information_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of any related LOA records</description>
        <name>related_loa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of any related mortgage application.</description>
        <name>related_mortgage_application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>related_opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID for a related provider</description>
        <name>related_provider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>target_start_date_input</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The task to be created as part of this flow.</description>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>The ID of any original task being processed in this flow.</description>
        <name>task_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The task type to be created, accepted as an input from other flows.</description>
        <name>task_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record to which this task should be related, provided as an input.</description>
        <name>what_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the person to which this task should be related, provided as an input.</description>
        <name>who_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
