force-app/main/default/flows/ReceivedDocumentOrchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_household_ID</name>
        <label>Set household ID</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>receivedDocument.Household__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_received_document_ID</name>
        <label>Set received document ID</label>
        <locationX>600</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>receivedDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_received_document_status</name>
        <label>Update received document status</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>receivedDocument.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_received_document</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NotApplicable</name>
        <choiceText>Not applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Follow_on_task_to_create</name>
        <label>Follow on task to create</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CompleteScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No task</defaultConnectorLabel>
        <rules>
            <name>Task_to_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>followUpTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_next_task</targetReference>
            </connector>
            <label>Task to create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_task</name>
        <label>Found task?</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Task_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No task</defaultConnectorLabel>
        <rules>
            <name>Task_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId18Char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>task.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Screen</targetReference>
            </connector>
            <label>Task found</label>
        </rules>
        <rules>
            <name>Doesn_t_own_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId18Char</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>task.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Task_For_You_Screen</targetReference>
            </connector>
            <label>Doesn&#39;t own task</label>
        </rules>
    </decisions>
    <description>Orchestrator flow for a client document.</description>
    <environments>Default</environments>
    <formulas>
        <name>userId18Char</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Received Document | Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Received Document | Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_document</name>
        <label>Get document</label>
        <locationX>600</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_household_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>receivedDocumentId</elementReference>
            </value>
        </filters>
        <object>ReceivedDocument__c</object>
        <outputReference>receivedDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_tasks</name>
        <label>Get tasks</label>
        <locationX>600</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>receivedDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrchestrationTaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OW_task_information_name__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OrchestrationTaskStatus__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_changes</name>
        <label>Roll back changes</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Close_task</name>
        <label>Close task</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_received_document_status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_received_document</name>
        <label>Update received document</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Follow_on_task_to_create</targetReference>
        </connector>
        <inputReference>receivedDocument</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CompleteScreen</name>
        <label>Complete screen</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Complete!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Task_For_You_Screen</name>
        <label>No Task For You Screen</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTaskForYouMessage</name>
            <fieldText>&lt;p&gt;There are no tasks assigned to you on this advice. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Task_Screen</name>
        <label>No Task Screen</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoTaskMessage</name>
            <fieldText>&lt;p&gt;No tasks to complete here.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Screen</name>
        <label>Task Screen</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Close_task</targetReference>
        </connector>
        <fields>
            <name>ConfirmTaskComplete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!task.Subject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Proceed when you have completed this task. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentRenamed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document renamed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;a href=&quot;https://www.notion.so/novawealth/Receiving-documents-from-clients-158950256fc48003aeaeec19cef361f5?pvs=4#158950256fc480fa8c0fef1d400ebb15&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Naming convention&lt;/a&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocumentMoved</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document moved to appropriate folder</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ColleaguesAlerted</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Colleagues alerted to new document</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;For example, do you need to post to Chatter to let the planning team know. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerThanked</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NotApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer acknowledged</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;For example, do you need to email the customer to thank them for sharing the information and let them know we are processing it. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_received_document_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_next_task</name>
        <label>Create next task</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>CompleteScreen</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <elementReference>followUpTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>receivedDocumentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receivedDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReceivedDocument__c</objectType>
    </variables>
    <variables>
        <name>receivedDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
