force-app/main/default/flows/RecommendationSetUpRegularWithdrawals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_recommendation</name>
        <label>Go to recommendation</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recommendationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>September</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Nova_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Nova products</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Nova_products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_open_products</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Get_open_product_recommmendations</targetReference>
        </connector>
        <formula>{!currentItem_Nova_products.Public_Provider_Name__r.OW_own_company__c}</formula>
    </collectionProcessors>
    <decisions>
        <name>Product_or_recommendation</name>
        <label>Product or recommendation?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_recommendationRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recommendation</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productOrRecToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_recommendationProduct</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_now</name>
        <label>What now?</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_to_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goToRec.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_recommendation</targetReference>
            </connector>
            <label>Go to rec</label>
        </rules>
        <rules>
            <name>Go_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoAgain.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Collect_details</targetReference>
            </connector>
            <label>Go again</label>
        </rules>
    </decisions>
    <description>Flow to allow planners to set up regular withdrawals</description>
    <dynamicChoiceSets>
        <name>frequencyChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Frequency__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>cashBuildUp</name>
        <dataType>String</dataType>
        <expression>IF({!Do_we_need_to_change_the_Income_Options_on_Hubwise_to_Use_as_available_cash_in_o}= &quot;Yes&quot;, &quot;Please ensure the Income Options on Hubwise are set to &#39;Use as available cash&#39; in order to help fund the withdrawals&quot;, &quot;Please ensure the Income Options on Hubwise are set to &#39;Income to be reinvested into the underlying stock&#39;&quot;)</expression>
    </formulas>
    <formulas>
        <name>earliestFulfilmentDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!earliestFulfilmentYear}, {!earliestMonth}, 1)</expression>
    </formulas>
    <formulas>
        <name>earliestFulfilmentYear</name>
        <dataType>Number</dataType>
        <expression>IF( MONTH({!$Flow.CurrentDate}) &gt; {!earliestMonth}, YEAR({!$Flow.CurrentDate}) + 1, YEAR({!$Flow.CurrentDate}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>earliestMonth</name>
        <dataType>Number</dataType>
        <expression>IF( {!firstMonth}=&quot;January&quot;, 1,
  IF( {!firstMonth}=&quot;February&quot;, 2,
    IF( {!firstMonth}=&quot;March&quot;, 3,
      IF( {!firstMonth}=&quot;April&quot;, 4,
        IF( {!firstMonth}=&quot;May&quot;, 5,
          IF( {!firstMonth}=&quot;June&quot;, 6,
            IF( {!firstMonth}=&quot;July&quot;, 7,
              IF( {!firstMonth}=&quot;August&quot;, 8,
                IF( {!firstMonth}=&quot;September&quot;, 9,
                  IF( {!firstMonth}=&quot;October&quot;, 10,
                    IF( {!firstMonth}=&quot;November&quot;, 11,
                      IF( {!firstMonth}=&quot;December&quot;, 12, MONTH({!$Flow.CurrentDate})
                      )
                    )
                  )
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lastFulfilmentDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!lastFulfilmentYear}, {!lastMonthNum}+1, 7)</expression>
    </formulas>
    <formulas>
        <name>lastFulfilmentYear</name>
        <dataType>Number</dataType>
        <expression>IF( MONTH({!$Flow.CurrentDate}) &gt; {!lastMonthNum}, YEAR({!$Flow.CurrentDate}) + 1, YEAR({!$Flow.CurrentDate}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lastMonthNum</name>
        <dataType>Number</dataType>
        <expression>IF( {!lastMonth}=&quot;January&quot;, 1,
  IF( {!lastMonth}=&quot;February&quot;, 2,
    IF( {!lastMonth}=&quot;March&quot;, 3,
      IF( {!lastMonth}=&quot;April&quot;, 4,
        IF( {!lastMonth}=&quot;May&quot;, 5,
          IF( {!lastMonth}=&quot;June&quot;, 6,
            IF( {!lastMonth}=&quot;July&quot;, 7,
              IF( {!lastMonth}=&quot;August&quot;, 8,
                IF( {!lastMonth}=&quot;September&quot;, 9,
                  IF( {!lastMonth}=&quot;October&quot;, 10,
                    IF( {!lastMonth}=&quot;November&quot;, 11,
                      IF( {!lastMonth}=&quot;December&quot;, 12, 0
                      )
                    )
                  )
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | set up regular withdrawals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_recommendationProduct</name>
        <label>Create recommendation</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>recommendationId</assignRecordIdToReference>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount_paid_out_each_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CashBuildUpDetails__c</field>
            <value>
                <elementReference>cashBuildUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLegacy__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestFulfilmentDate__c</field>
            <value>
                <elementReference>earliestFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency_of_withdrawal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilmentDeadline__c</field>
            <value>
                <elementReference>lastFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JointOwner__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.FinServ__JointOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteActionRecommendation__c</field>
            <value>
                <elementReference>preReqSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryOwner__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendationType__c</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegisteredContact__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.RegisteredContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLegacy__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Recommendation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_recommendationRec</name>
        <label>Create recommendation</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>recommendationId</assignRecordIdToReference>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount_paid_out_each_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CashBuildUpDetails__c</field>
            <value>
                <elementReference>cashBuildUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestFulfilmentDate__c</field>
            <value>
                <elementReference>earliestFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency_of_withdrawal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilmentDeadline__c</field>
            <value>
                <elementReference>lastFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JointOwner__c</field>
            <value>
                <elementReference>recSelect.firstSelectedRow.JointOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteActionRecommendation__c</field>
            <value>
                <elementReference>preReqSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteRecommendationSource__c</field>
            <value>
                <elementReference>recSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteRecommendation__c</field>
            <value>
                <elementReference>recSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryOwner__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendationType__c</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegisteredContact__c</field>
            <value>
                <elementReference>productSelection.firstSelectedRow.RegisteredContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Recommendation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_open_product_recommmendations</name>
        <label>Get open product recommmendations</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_pre_reqs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>EstimatedPremium__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_products</name>
        <label>Get open products</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nova_products</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Fulfilment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Benefit_amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_potential_pre_reqs</name>
        <label>Get potential pre-reqs</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_details</name>
        <label>Collect details</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_or_recommendation</targetReference>
        </connector>
        <fields>
            <name>productOrRecToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Has the source been accepted already?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>productSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Nova_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4155&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_Investment_Mandate__c&quot;,&quot;guid&quot;:&quot;column-245d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;NOVA Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>recSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_product_recommmendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-7940&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-cdc8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Frequency_of_withdrawal</name>
            <choiceReferences>frequencyChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency of withdrawal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_paid_out_each_time</name>
            <dataType>Number</dataType>
            <fieldText>Amount paid out each time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please input a positive number&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please input a positive number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount_paid_out_each_time} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Do_we_need_to_change_the_Income_Options_on_Hubwise_to_Use_as_available_cash_in_o</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do we need to change the Income Options on Hubwise to &quot;Use as available cash&quot; in order to help fund the withdrawals?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>firstMonth</name>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>September</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First month of withdrawal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lastMonth</name>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>September</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Last month of withdrawal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>preReqToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there an action that has to happen before these withdrawals can be submitted?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_pre_reqs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-9ce4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_now</targetReference>
        </connector>
        <fields>
            <name>doneText</name>
            <fieldText>&lt;p&gt;Hope you&#39;ve not got any withdrawal symptoms now you&#39;ve finished that!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>goToRec</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go to recommendation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GoAgain</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Set up another regular withdrawal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_open_products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Nova_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>recommendationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
