force-app/main/default/flows/RecommendationSetUpRegulars.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_recommendation</name>
        <label>Go to recommendation</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>162</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>recommendationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recommendationToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>regulars_to_cancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_cancel_reg_rec_values</name>
        <label>Assign cancel reg rec values</label>
        <locationX>162</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>regulars_to_cancel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>earliestFulfilmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_recommendation_typeCancel.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>September</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Get_OW_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get OW products</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Get_OW_products_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_open_products</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Get_recommendation_typeCancel</targetReference>
        </connector>
        <formula>{!currentItem_Get_OW_products_0.Public_Provider_Name__r.OW_own_company__c}</formula>
    </collectionProcessors>
    <decisions>
        <name>Are_there_any_to_cancel</name>
        <label>Are there any to cancel?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_cancel_reg_recs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oneNeedsCancelling.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>regulars_to_cancel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Button_selection</name>
        <label>Button selection</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>againButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Collect_details</targetReference>
            </connector>
            <label>Go again</label>
        </rules>
        <rules>
            <name>Go_to_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doneButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_recommendation</targetReference>
            </connector>
            <label>Go to rec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_or_recommendation</name>
        <label>Product or recommendation?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_recommendationRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recommendation</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productOrRecToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_recommendation</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <description>Flow to allow planners to set up regular recommendations</description>
    <dynamicChoiceSets>
        <name>frequencyChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Frequency__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>investmentMandateChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NewInvestmentMandate__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>paidByChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaidBy__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>cancelDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!lastFulfilmentYear}, {!lastMonthNum}, {!$Setup.OW_business_configuration__c.IsaGiaRegularDay__c}) -21</expression>
    </formulas>
    <formulas>
        <name>earliestFulfilmentDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!earliestFulfilmentYear}, {!earliestMonth}, {!regularDay}) -21</expression>
    </formulas>
    <formulas>
        <name>earliestFulfilmentYear</name>
        <dataType>Number</dataType>
        <expression>IF( MONTH({!$Flow.CurrentDate}) &gt; {!earliestMonth}, YEAR({!$Flow.CurrentDate}) + 1, YEAR({!$Flow.CurrentDate}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>earliestMonth</name>
        <dataType>Number</dataType>
        <expression>IF( {!First_month_of_contribution}=&quot;January&quot;, 1,
  IF( {!First_month_of_contribution}=&quot;February&quot;, 2,
    IF( {!First_month_of_contribution}=&quot;March&quot;, 3,
      IF( {!First_month_of_contribution}=&quot;April&quot;, 4,
        IF( {!First_month_of_contribution}=&quot;May&quot;, 5,
          IF( {!First_month_of_contribution}=&quot;June&quot;, 6,
            IF( {!First_month_of_contribution}=&quot;July&quot;, 7,
              IF( {!First_month_of_contribution}=&quot;August&quot;, 8,
                IF( {!First_month_of_contribution}=&quot;September&quot;, 9,
                  IF( {!First_month_of_contribution}=&quot;October&quot;, 10,
                    IF( {!First_month_of_contribution}=&quot;November&quot;, 11,
                      IF( {!First_month_of_contribution}=&quot;December&quot;, 12, MONTH({!$Flow.CurrentDate})
                      )
                    )
                  )
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lastFulfilmentDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!lastFulfilmentYear}, {!lastMonthNum}, {!regularDay}) + 7</expression>
    </formulas>
    <formulas>
        <name>lastFulfilmentYear</name>
        <dataType>Number</dataType>
        <expression>IF( MONTH({!$Flow.CurrentDate}) &gt; {!lastMonthNum}, YEAR({!$Flow.CurrentDate}) + 1, YEAR({!$Flow.CurrentDate}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lastMonthNum</name>
        <dataType>Number</dataType>
        <expression>IF( {!lastMonth}=&quot;January&quot;, 1,
  IF( {!lastMonth}=&quot;February&quot;, 2,
    IF( {!lastMonth}=&quot;March&quot;, 3,
      IF( {!lastMonth}=&quot;April&quot;, 4,
        IF( {!lastMonth}=&quot;May&quot;, 5,
          IF( {!lastMonth}=&quot;June&quot;, 6,
            IF( {!lastMonth}=&quot;July&quot;, 7,
              IF( {!lastMonth}=&quot;August&quot;, 8,
                IF( {!lastMonth}=&quot;September&quot;, 9,
                  IF( {!lastMonth}=&quot;October&quot;, 10,
                    IF( {!lastMonth}=&quot;November&quot;, 11,
                      IF( {!lastMonth}=&quot;December&quot;, 12, 0
                      )
                    )
                  )
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>regularDay</name>
        <dataType>Number</dataType>
        <expression>IF( {!productOrRecToggle.value}, IF({!destinationRecommendation.firstSelectedRow.Product__r.Name}=&quot;SIPP&quot;,{!$Setup.OW_business_configuration__c.SippRegularDay__c}, {!$Setup.OW_business_configuration__c.IsaGiaRegularDay__c}), IF({!destinationProduct.firstSelectedRow.FinServ__RecordTypeName__c}=&quot;SIPP&quot;, {!$Setup.OW_business_configuration__c.SippRegularDay__c}, {!$Setup.OW_business_configuration__c.IsaGiaRegularDay__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Recommendation - set up regulars {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | set up regulars</label>
    <loops>
        <name>regulars_to_cancel</name>
        <label>Regulars to cancel</label>
        <locationX>74</locationX>
        <locationY>1406</locationY>
        <collectionReference>productsCancelSelect.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_cancel_reg_rec_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cancel_reg_recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_cancel_reg_recs</name>
        <label>Create cancel reg recs</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputReference>recommendationsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_recommendation</name>
        <label>Create recommendation</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>recId</assignRecordIdToReference>
        <connector>
            <targetReference>Are_there_any_to_cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLegacy__c</field>
            <value>
                <elementReference>destinationProduct.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestFulfilmentDate__c</field>
            <value>
                <elementReference>earliestFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment__c</field>
            <value>
                <elementReference>employerSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JointOwner__c</field>
            <value>
                <elementReference>destinationProduct.firstSelectedRow.FinServ__JointOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewInvestmentMandate__c</field>
            <value>
                <elementReference>Investment_mandate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaidBy__c</field>
            <value>
                <elementReference>Paid_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteActionRecommendation__c</field>
            <value>
                <elementReference>preReqActionSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryOwner__c</field>
            <value>
                <elementReference>destinationProduct.firstSelectedRow.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>destinationProduct.firstSelectedRow.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendationType__c</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegisteredContact__c</field>
            <value>
                <elementReference>destinationProduct.firstSelectedRow.RegisteredContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegularEndMonth__c</field>
            <value>
                <elementReference>lastMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Recommendation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_recommendationRec</name>
        <label>Create recommendation</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>recId</assignRecordIdToReference>
        <connector>
            <targetReference>Are_there_any_to_cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestFulfilmentDate__c</field>
            <value>
                <elementReference>earliestFulfilmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment__c</field>
            <value>
                <elementReference>employerSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JointOwner__c</field>
            <value>
                <elementReference>destinationRecommendation.firstSelectedRow.JointOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewInvestmentMandate__c</field>
            <value>
                <elementReference>Investment_mandateRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaidBy__c</field>
            <value>
                <elementReference>Paid_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteActionRecommendation__c</field>
            <value>
                <elementReference>preReqActionSelect.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteRecommendation__c</field>
            <value>
                <elementReference>destinationRecommendation.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryOwner__c</field>
            <value>
                <elementReference>destinationRecommendation.firstSelectedRow.PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>destinationRecommendation.firstSelectedRow.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendationType__c</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegisteredContact__c</field>
            <value>
                <elementReference>destinationRecommendation.firstSelectedRow.RegisteredContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegularEndMonth__c</field>
            <value>
                <elementReference>lastMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Recommendation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment</name>
        <label>Get employment</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_open_product_recommendations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_product_recommendations</name>
        <label>Get open product recommendations</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_possible_pre_req_actions</targetReference>
        </connector>
        <filterLogic>1 AND (2  OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedPremium__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_products</name>
        <label>Get open products</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OW_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Benefit_amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_possible_pre_req_actions</name>
        <label>Get possible pre-req actions</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_open_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendation_typeCancel</name>
        <label>Get recommendation type for cancelling</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel existing regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecommendationType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_details</name>
        <label>Collect details</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_or_recommendation</targetReference>
        </connector>
        <fields>
            <name>productOrRecToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Has the destination product been accepted already?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>destinationProduct</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Open products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_OW_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-11b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-f733&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-d2ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;OW_Investment_Mandate__c&quot;,&quot;guid&quot;:&quot;column-702e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Investment mandate&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;OW Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-7564&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>destinationRecommendation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products awaiting acceptance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_product_recommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-ef52&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;InvestmentMandate__c&quot;,&quot;guid&quot;:&quot;column-5eba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-e4c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Paid_by</name>
            <choiceReferences>paidByChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Client</stringValue>
            </defaultValue>
            <fieldText>Paid by</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>employerSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__Employment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_employment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0638&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__Position__c&quot;,&quot;guid&quot;:&quot;column-9baf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Position&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Person_Account__c&quot;,&quot;guid&quot;:&quot;column-726e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Person Account&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Paid_by</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>frequencyChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Monthly</stringValue>
            </defaultValue>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Investment_mandate</name>
            <choiceReferences>investmentMandateChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>destinationProduct.firstSelectedRow.OW_Investment_Mandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_mandateRec</name>
            <choiceReferences>investmentMandateChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>destinationRecommendation.firstSelectedRow.InvestmentMandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_month_of_contribution</name>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>September</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First month of contribution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Leave blank if this should be set up as soon as possible. ISA/GIA regulars are taken on the 18th and SIPP regulars on the 2nd of each month.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lastMonth</name>
            <choiceReferences>January</choiceReferences>
            <choiceReferences>February</choiceReferences>
            <choiceReferences>March</choiceReferences>
            <choiceReferences>April</choiceReferences>
            <choiceReferences>May</choiceReferences>
            <choiceReferences>June</choiceReferences>
            <choiceReferences>July</choiceReferences>
            <choiceReferences>August</choiceReferences>
            <choiceReferences>September</choiceReferences>
            <choiceReferences>October</choiceReferences>
            <choiceReferences>November</choiceReferences>
            <choiceReferences>December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Last month of contribution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Leave blank if this currently has no end date. If you provide a date, a recommendation to cancel this regular will be set up, to be fulfilled just after the last contribution.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>preReqToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there an action that has to happen before this regular can begin?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqActionSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_possible_pre_req_actions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-e844&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>oneNeedsCancelling</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does an existing regular need to be cancelled as a result?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>selectExapl</name>
            <fieldText>&lt;p&gt;Please select all products below which currently have a regular contribution into them which needs to be cancelled as a result of this new regular being set up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>oneNeedsCancelling.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>productsCancelSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Financial products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_open_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5190&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-4aff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-bc2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>oneNeedsCancelling.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_selection</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;This recommendation will be created once you&#39;ve finished this flow. &lt;/p&gt;&lt;p&gt;You can either create another &lt;strong&gt;Regular&lt;/strong&gt; recommendation, go to this one, or click &#39;Finish&#39;. &lt;/p&gt;&lt;p&gt;If you click Finish, you&#39;ll be taken to the screen that allow you to select the next recommendation type you&#39;d like to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>againButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Set up another regular</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>doneButton</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go to recommendation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_OW_products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
