force-app/main/default/flows/RecommendationSetUpTransfers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_recommendation_to_collection</name>
        <label>Add recommendation to collection</label>
        <locationX>426</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>recommendationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recommendationToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1_Products_for_internal_transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recommendation_to_collectionRec</name>
        <label>Add recommendation to collection</label>
        <locationX>294</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>recommendationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recommendationToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2_Recommendations_for_internal_transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count</name>
        <label>Assign count</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>potentialDestProds</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_destination_recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_countProdProds</name>
        <label>Assign count</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>potentialDestProds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>potentialDestinations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_countRecNoRecs</name>
        <label>Assign count</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>potentialDestRecs</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Combine_collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_countRecRecs</name>
        <label>Assign count</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>potentialDestRecs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>potentialDestinationRecommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_destination_recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variables</name>
        <label>Assign recommendation variables</label>
        <locationX>294</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.OW_Investment_Mandate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceSingular.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.TransferType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_or_partial_transfer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceSingular.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_tax_relief</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelect.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.FinServ__JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recommendation_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variables_source_rec</name>
        <label>Assign recommendation variables</label>
        <locationX>558</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.OW_Investment_Mandate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceLegacy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.TransferType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1SourceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_tax_relief</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteRecommendationSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRecommendation.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelect.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Products_for_internal_transfer.FinServ__JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recommendation_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variablesRecProd</name>
        <label>Assign recommendation variables</label>
        <locationX>162</locationX>
        <locationY>4526</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2DestinationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phasesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_periodRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.TransferType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_or_partial_transferRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRec.firstSelectedRow.FinServ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_tax_reliefRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelectRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recommendation_to_collectionRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variablesRecRec</name>
        <label>Assign recommendation variables</label>
        <locationX>426</locationX>
        <locationY>4526</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2DestinationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phasesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_periodRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceLegacy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.TransferType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.SourceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2SourceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_tax_reliefRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteRecommendationSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRecommendationRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelectRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recommendation_to_collectionRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_source</name>
        <label>Assign source</label>
        <locationX>382</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>sourceSingular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceSingular.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceSingular.FP_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_1.FP_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_collections</name>
        <label>Combine collections</label>
        <locationX>182</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>potentialSourceProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_ISAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialSourceProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_GIAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialSourceRecommendations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_ISA_recommendations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialSourceRecommendations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_GIA_recommendations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialSourceRecommendations</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sort_sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_collectionsDestProds</name>
        <label>Combine collections</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>potentialDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_ISAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_SIPPs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialDestinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_GIAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_countProdProds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_collectionsRec</name>
        <label>Combine collections</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>potentialDestinationRecommendations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_ISA_recommendations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialDestinationRecommendations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_SIPP_recommendations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialDestinationRecommendations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_GIA_recommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_countRecRecs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_counts_dest</name>
        <label>Set counts</label>
        <locationX>182</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>selectedProdsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>productsToHaveInternalTransferSelection.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedRecsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>destinationRecommendartionSellect.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_tax_year_dates</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_GIA_recommendations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for GIA recommendations</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_for_GIA_recommendations_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_potential_recommendations_for_transfers</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_for_SIPPs</targetReference>
        </connector>
        <formula>{!currentItem_Filter_for_GIA_recommendations_0.ProductName__c} = &quot;General Investment Account&quot;</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_GIAs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for GIAs</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_for_SIPPs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>openOWProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_SIPPs.FinServ__RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>GIA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_for_GIA_recommendations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_ISA_recommendations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for ISA recommendations</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Filter_for_GIA_recommendations_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_potential_recommendations_for_transfers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_GIA_recommendations_0.ProductName__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>ISA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_for_GIAs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_ISAs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for ISAs</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_for_ISAs_0_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>openOWProducts</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_ISAs_0_0.FinServ__RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Stocks &amp; Shares ISA</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_ISAs_0_0.FinServ__RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Junior ISA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_for_ISA_recommendations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_SIPP_recommendations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for SIPP recommendations</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_for_GIA_recommendations_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_potential_recommendations_for_transfers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_GIA_recommendations_0.ProductName__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>SIPP</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_there_any_destination_products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_SIPPs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for SIPPs</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_for_SIPPs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>openOWProducts</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_SIPPs.FinServ__RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SIPP</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_SIPPs.FinServ__RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Junior SIPP</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_for_SIPP_recommendations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_source_via_filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get source via filter</label>
        <locationX>294</locationX>
        <locationY>3218</locationY>
        <assignNextValueToReference>currentItem_Get_source_via_filter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>openOWProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_source_via_filter_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Source.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_1_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_destination_recommendations</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort destination recommendations</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialDestinationRecommendations</collectionReference>
        <connector>
            <targetReference>Combine_collections</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PrimaryClientName__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_destinations</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort destinations</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialDestinations</collectionReference>
        <connector>
            <targetReference>Are_there_any_destination_recommendations</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_source_recommendations</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort source recommendations</label>
        <locationX>182</locationX>
        <locationY>2354</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialSourceRecommendations</collectionReference>
        <connector>
            <targetReference>Select_products_for_transfer_into</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ProductName__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_sources</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort sources</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>potentialSourceProducts</collectionReference>
        <connector>
            <targetReference>Sort_source_recommendations</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>FinServ__RecordTypeName__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Are_there_any_destination_products</name>
        <label>Are there any destination products?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDestProds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_potential_products_for_transfers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Combine_collectionsDestProds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_destination_recommendations</name>
        <label>Are there any destination recommendations?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Assign_countRecNoRecs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDestRecs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_potential_recommendations_for_transfers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Combine_collectionsRec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_source_already_open</name>
        <label>Is the source already open?</label>
        <locationX>426</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Assign_recommendation_variables_source_rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSourceOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productOrRecommendationSourceToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_source_via_filter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_source_already_openRec</name>
        <label>Is the source already open?</label>
        <locationX>294</locationX>
        <locationY>4418</locationY>
        <defaultConnector>
            <targetReference>Assign_recommendation_variablesRecRec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSourceOpenrec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productOrRecommendationSourceToggleRec.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recommendation_variablesRecProd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_products_selected</name>
        <label>Were any products selected?</label>
        <locationX>182</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>Were_any_recs_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedProdsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentialDestProds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1_Products_for_internal_transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_recs_selected</name>
        <label>Were any recs selected?</label>
        <locationX>182</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Check_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRecsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>potentialDestRecs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedRecsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2_Recommendations_for_internal_transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to allow planners to set up recommendations to transfer funds between products</description>
    <dynamicChoiceSets>
        <name>investmentMandateChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NewInvestmentMandate__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>paidByChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaidBy__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>phasingPeriodChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PhasingFrequency__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sourceCollectionChoice</name>
        <collectionReference>Filter_for_GIAs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FinServ__FinancialAccount__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>transferTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TransferType__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>amountFormula</name>
        <dataType>Number</dataType>
        <expression>IF ( ISPICKVAL({!transferTypeChoice}, &quot;Full&quot;), {!sourceSingular.FP_Value__c},{!Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loop1SourceName</name>
        <dataType>String</dataType>
        <expression>{!SourceRecommendation.firstSelectedRow.PrimaryClientName__c} + &quot; | &quot; + {!SourceRecommendation.firstSelectedRow.ProductName__c}</expression>
    </formulas>
    <formulas>
        <name>loop2DestinationName</name>
        <dataType>String</dataType>
        <expression>{!Loop_2_Recommendations_for_internal_transfer.PrimaryClientName__c} + &quot; | &quot; + {!Loop_2_Recommendations_for_internal_transfer.ProductName__c}</expression>
    </formulas>
    <formulas>
        <name>loop2SourceName</name>
        <dataType>String</dataType>
        <expression>{!SourceRecommendationRec.firstSelectedRow.PrimaryClientName__c} + &quot; | &quot; + {!SourceRecommendationRec.firstSelectedRow.ProductName__c}</expression>
    </formulas>
    <interviewLabel>Recommendation - set up transfers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | set up internal transfers</label>
    <loops>
        <name>Loop_1_1</name>
        <label>Loop 1.1</label>
        <locationX>294</locationX>
        <locationY>3326</locationY>
        <collectionReference>Get_source_via_filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_recommendation_variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1_Products_for_internal_transfer</name>
        <label>Loop 1 | Products for internal transfer</label>
        <locationX>118</locationX>
        <locationY>2894</locationY>
        <collectionReference>productsToHaveInternalTransferSelection.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecommendationDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Were_any_recs_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2_Recommendations_for_internal_transfer</name>
        <label>Loop 2 | Recommendations for internal transfer</label>
        <locationX>74</locationX>
        <locationY>4202</locationY>
        <collectionReference>destinationRecommendartionSellect.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recommendation_detailsRec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_recommendations</name>
        <label>Create recommendations</label>
        <locationX>182</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>DoneDoneScreen</targetReference>
        </connector>
        <inputReference>recommendationsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_potential_pre_reqs</name>
        <label>Get potential pre-reqs</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_products_for_transfers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_potential_products_for_transfers</name>
        <label>Get potential products for transfers</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_recommendations_for_transfers</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_own_product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Fulfilment</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>openOWProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_Investment_Mandate__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FP_Value__c</queriedFields>
        <queriedFields>FinServ__FinancialAccountNumber__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_potential_recommendations_for_transfers</name>
        <label>Get potential recommendations for transfers</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_ISAs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Check_screen</name>
        <label>Check screen</label>
        <locationX>182</locationX>
        <locationY>4994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_recommendations</targetReference>
        </connector>
        <fields>
            <name>checkExplanationText</name>
            <fieldText>&lt;p&gt;Below is a summary of the recommendation we&#39;ll create. If everything looks correct click next. Otherwise, use the previous button to go back to what you need to change.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>internalTransferDisplayCheck</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Internal transfers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recommendationsToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SourceName__c&quot;,&quot;guid&quot;:&quot;column-783b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Source name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-25d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Destination Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-1b62&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;PhasingPeriod__c&quot;,&quot;guid&quot;:&quot;column-df51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Phasing period&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;PhasingFrequency__c&quot;,&quot;guid&quot;:&quot;column-abf3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Phasing frequency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;EarliestFulfilmentDate__c&quot;,&quot;guid&quot;:&quot;column-02aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Earliest fulfilment date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;FulfilmentDeadline__c&quot;,&quot;guid&quot;:&quot;column-ef02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Fulfilment deadline&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DoneDoneScreen</name>
        <label>Done</label>
        <locationX>182</locationX>
        <locationY>5210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneText</name>
            <fieldText>&lt;p&gt;Those recommendations will be created once you&#39;ve finished this flow. &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;When you click Finish, you&#39;ll be taken to the screen that allow you to select the next recommendation type you&#39;d like to create.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recommendation_detailsRec</name>
        <label>Recommendation details</label>
        <locationX>294</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_source_already_openRec</targetReference>
        </connector>
        <fields>
            <name>productDisplayRec</name>
            <fieldText>&lt;p&gt;Please provide the transfer details for this product:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!Loop_2_Recommendations_for_internal_transfer.DestinationName__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productOrRecommendationSourceToggleRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Has the source product been taken up already?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SourceRec</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialSourceProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7d67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-949c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-3b65&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-74aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SourceRecommendationRec</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialSourceRecommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-2b36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Full_or_partial_transferRec</name>
            <choiceReferences>transferTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full or partial transfer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AmountRec</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transferRec</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fullAmountRec</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Amount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The expected value will be the full value of the source account as shown above.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transferRec</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tooHighISARec</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 16, 16);&quot;&gt;Please be aware the amount you have selected is over 20,000, the standard tax free allowance for ISAs.&lt;/span&gt;&lt;span style=&quot;color: rgb(231, 2, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>3 AND ((1 AND 2) OR (4 AND 5))</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Source.firstSelectedRow.FP_Value__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>20000.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_1_Products_for_internal_transfer.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Stocks &amp; Shares ISA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Amount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>20000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expected_tax_reliefRec</name>
            <dataType>Number</dataType>
            <fieldText>Expected tax relief</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_2_Recommendations_for_internal_transfer.Product__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phasing_periodRec</name>
            <choiceReferences>phasingPeriodChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Single</stringValue>
            </defaultValue>
            <fieldText>Phasing period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phasesRec</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Number of phases</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This phasing plan involves investing less than the Hubwise minimum per month (1,000). Please decrease the phasing period appropriately.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(
    ({!Loop_2_Recommendations_for_internal_transfer.ProductName__c} = &quot;SIPP&quot;) 
    &amp;&amp;
    (
        (
            {!Full_or_partial_transferRec}=&quot;Full&quot;
            &amp;&amp;
            ((({!SourceRec.firstSelectedRow.FP_Value__c} + {!Expected_tax_reliefRec}) / {!Number_of_phasesRec}) &gt;= 1000)
        )
        ||
        (
            {!Full_or_partial_transferRec}=&quot;Partial&quot;
            &amp;&amp;
            ((({!AmountRec} + {!Expected_tax_reliefRec}) / {!Number_of_phasesRec}) &gt;= 1000)
        )
    )
)
||
(
    ({!Loop_2_Recommendations_for_internal_transfer.ProductName__c} != &quot;SIPP&quot;) 
    &amp;&amp;
    (
        (
            {!Full_or_partial_transferRec}=&quot;Full&quot;
            &amp;&amp;
            (({!SourceRec.firstSelectedRow.FP_Value__c} / {!Number_of_phasesRec}) &gt;= 1000)
        )
        ||
        (
            {!Full_or_partial_transferRec}=&quot;Partial&quot;
            &amp;&amp;
            (({!AmountRec} / {!Number_of_phasesRec}) &gt;= 1000)
        )
    )
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_periodRec</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_phasing_notesRec</name>
            <dataType>String</dataType>
            <fieldText>Additional phasing notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_mandateRec</name>
            <choiceReferences>investmentMandateChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_2_Recommendations_for_internal_transfer.InvestmentMandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>earliestDateToggleRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Should the fulfilment be delayed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Earliest_fulfilment_dateRec</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearStart</elementReference>
            </defaultValue>
            <fieldText>Earliest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>earliestDateToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nonstandarddeadlineRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will the fulfilment have a non standard deadline?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Latest_fulfilment_dateRec</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearEnd</elementReference>
            </defaultValue>
            <fieldText>Latest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nonstandarddeadlineRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preReqToggleRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there an action that has to happen before this transfer can go ahead?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqSelectRec</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_pre_reqs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-0b29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecommendationDetails</name>
        <label>Recommendation details</label>
        <locationX>426</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_source_already_open</targetReference>
        </connector>
        <fields>
            <name>productDisplay</name>
            <fieldText>&lt;p&gt;Please provide the transfer details for this product:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!Loop_1_Products_for_internal_transfer.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Value: &lt;/strong&gt;{!Loop_1_Products_for_internal_transfer.FP_Value__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account number: &lt;/strong&gt;{!Loop_1_Products_for_internal_transfer.FinServ__FinancialAccountNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productOrRecommendationSourceToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Has the source product been taken up already?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Source</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialSourceProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7d67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-949c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-3b65&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-e48a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SourceRecommendation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialSourceRecommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-d646&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Full_or_partial_transfer</name>
            <choiceReferences>transferTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full or partial transfer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>productOrRecommendationSourceToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fullAmount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Amount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The expected value will be the full value of the source account as shown above.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tooHighISA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 16, 16);&quot;&gt;Please be aware the amount you have selected is over 20,000, the standard tax free allowance for ISAs.&lt;/span&gt;&lt;span style=&quot;color: rgb(231, 2, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>3 AND ((1 AND 2) OR (4 AND 5))</conditionLogic>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Source.firstSelectedRow.FP_Value__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>20000.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_1_Products_for_internal_transfer.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Stocks &amp; Shares ISA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Full_or_partial_transfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Amount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>20000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expected_tax_relief</name>
            <dataType>Number</dataType>
            <fieldText>Expected tax relief</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_1_Products_for_internal_transfer.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phasing_period</name>
            <choiceReferences>phasingPeriodChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Single</stringValue>
            </defaultValue>
            <fieldText>Phasing period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Number of phases</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This phasing plan involves investing less than the Hubwise minimum per month (1,000). Please decrease the phasing period appropriately.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(
    ({!Loop_1_Products_for_internal_transfer.FinServ__RecordTypeName__c} = &quot;SIPP&quot;) 
    &amp;&amp;
    (
        (
            {!Full_or_partial_transfer}=&quot;Full&quot;
            &amp;&amp;
            ((({!Source.firstSelectedRow.FP_Value__c} + {!Expected_tax_relief}) / {!Number_of_phases}) &gt;= 1000)
        )
        ||
        (
            {!Full_or_partial_transfer}=&quot;Partial&quot;
            &amp;&amp;
            ((({!Amount} + {!Expected_tax_relief}) / {!Number_of_phases}) &gt;= 1000)
        )
    )
)
||
(
    ({!Loop_1_Products_for_internal_transfer.FinServ__RecordTypeName__c} != &quot;SIPP&quot;) 
    &amp;&amp;
    (
        (
            {!Full_or_partial_transfer}=&quot;Full&quot;
            &amp;&amp;
            (({!Source.firstSelectedRow.FP_Value__c} / {!Number_of_phases}) &gt;= 1000)
        )
        ||
        (
            {!Full_or_partial_transfer}=&quot;Partial&quot;
            &amp;&amp;
            (({!Amount} / {!Number_of_phases}) &gt;= 1000)
        )
    )
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_phasing_notes</name>
            <dataType>String</dataType>
            <fieldText>Additional phasing notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_mandate</name>
            <choiceReferences>investmentMandateChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_1_Products_for_internal_transfer.OW_Investment_Mandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>earliestDateToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Should the fulfilment be delayed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Earliest_fulfilment_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearStart</elementReference>
            </defaultValue>
            <fieldText>Earliest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>earliestDateToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nonstandarddeadline</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will the fulfilment have a non standard deadline?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Latest_fulfilment_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearEnd</elementReference>
            </defaultValue>
            <fieldText>Latest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nonstandarddeadline.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preReqToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there an action that has to happen before this transfer can go ahead?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_pre_reqs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-f132&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_products_for_transfer_into</name>
        <label>Select products for transfer into</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_counts_dest</targetReference>
        </connector>
        <fields>
            <name>destinationExplanation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Internal transfer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please select the product which you would like to recommend an internal transfer into.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>crystallisedNote</name>
            <fieldText>&lt;p&gt;Note that only uncrystallised SIPPs should be chosen. If the destination is a crystallised SIPP, please use a process street checklist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productsToHaveInternalTransferSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialDestinations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-3fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-86cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_Investment_Mandate__c&quot;,&quot;guid&quot;:&quot;column-a87a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;OW Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-26e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>potentialDestProds</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>destinationRecommendartionSellect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products awaiting acceptance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>potentialDestinationRecommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-6078&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-80ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>potentialDestRecs</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_potential_pre_reqs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_tax_year_dates</name>
        <label>Calculate tax year dates</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Were_any_products_selected</targetReference>
        </connector>
        <flowName>DateCalculateNextTaxYearEndAndStart</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearEnd</assignToReference>
            <name>outputNextTaxYearEnd</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearStart</assignToReference>
            <name>outputNextTaxYearStart</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_GIA_recommendations_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_ISAs_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_SIPPs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_source_via_filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_source_via_filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>nextTaxYearEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextTaxYearStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openOWProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>potentialDestinationRecommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>potentialDestinations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>potentialDestProds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>potentialDestRecs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>potentialSourceProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>potentialSourceRecommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProdsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedRecsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sourceRecSingular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>sourceSingular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
</Flow>
