force-app/main/default/flows/RecommendationConfirm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_owners_to_advised_list</name>
        <label>Add owners to advised list</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>advisedPersonIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_recommendations.PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advisedPersonIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_recommendations.JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advisedPersonIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_recommendations.RegisteredContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_recommendation_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_update_variable</name>
        <label>Add to update variable</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recommendationsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_recommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_advice_ID</name>
        <label>Set advice ID</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_advice_household_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recommendation_status</name>
        <label>Set recommendation status</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_recommendations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_variable</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CHASER_TASK_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>chase_recommendation_acceptance</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_any_draft_recommendations</name>
        <label>Are there any draft recommendations?</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_drafts_toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendations</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chaser_needed</name>
        <label>Chaser needed?</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Not needed</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_open_chaser_task</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_chaser_task</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <description>Allows planners to update recommendations and advice recipients after advice is presented</description>
    <environments>Default</environments>
    <interviewLabel>Recommendation | confirm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | confirm</label>
    <loops>
        <name>Loop_through_recommendations</name>
        <label>Loop through recommendations</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>recommendations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_owners_to_advised_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_advice_receipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_for_open_chaser_task</name>
        <label>Check for open chaser task</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chaser_needed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CHASER_TASK_TYPE</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_advice_household_ID</name>
        <label>Get advice &amp; household ID</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_recommendations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>Advice__c</object>
        <outputAssignments>
            <assignToReference>householdId</assignToReference>
            <field>Advice_Household__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendations</name>
        <label>Get recommendations</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_draft_recommendations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Recommendation__c</object>
        <outputReference>recommendations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryOwner__c</queriedFields>
        <queriedFields>JointOwner__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecommendationOverview__c</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_changes</name>
        <label>Roll back changes</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Fault_screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_advice_receipients</name>
        <label>Update advice recipients</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Update_recommendations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>In</operator>
            <value>
                <elementReference>advisedPersonIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Advised__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcceptedAdvice__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SomeOrAllAdviceAccepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AcceptedAdvice__c</field>
            <value>
                <stringValue>StillConsidering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advised__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>AdviceRecipient__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_recommendations</name>
        <label>Update recommendations</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Check_for_open_chaser_task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <inputReference>recommendationsUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_recommendations</targetReference>
        </connector>
        <fields>
            <name>explain</name>
            <fieldText>&lt;p&gt;If you proceed, the following recommendations will be updated to awaiting decision and no longer editable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayRecs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recommendations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationOverview__c&quot;,&quot;guid&quot;:&quot;column-a2e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation overview&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update decisions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_screen</name>
        <label>Fault screen</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_drafts_toast</name>
        <label>No drafts toast</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ToastNoRecommendations</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>No draft recommendations to update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_advice_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_chaser_task</name>
        <label>Create chaser task</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>related_advice_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <elementReference>CHASER_TASK_TYPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>advisedPersonIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
