force-app/main/default/flows/RecommendationSetUpNonStandardAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_recommendation</name>
        <label>Go to recommendation</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Which_button</name>
        <label>Which button?</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goAgain.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Collect_details</targetReference>
            </connector>
            <label>Go again</label>
        </rules>
        <rules>
            <name>Go_to_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoToRec.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_recommendation</targetReference>
            </connector>
            <label>Go to rec</label>
        </rules>
    </decisions>
    <description>Flow to allow planners to set up recommendations for non-standard actions</description>
    <dynamicChoiceSets>
        <name>nonStandardActionCategoryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NonStandardActionCategory__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>primaryOwner</name>
        <dataType>String</dataType>
        <expression>IF({!productOrPerson.value}, IF({!productorrectoggle.value}, {!productsToHaveLumpSumSelection.firstSelectedRow.FinServ__PrimaryOwner__c}, {!recommendationSelectTable.firstSelectedRow.PrimaryOwner__c}), {!ClientSelect.firstSelectedRow.Id})</expression>
    </formulas>
    <formulas>
        <name>registeredContact</name>
        <dataType>String</dataType>
        <expression>IF({!productOrPerson.value}, IF({!productorrectoggle.value}, {!productsToHaveLumpSumSelection.firstSelectedRow.RegisteredContact__c}, {!recommendationSelectTable.firstSelectedRow.RegisteredContact__c}), {!ClientSelect.firstSelectedRow.Id})</expression>
    </formulas>
    <interviewLabel>Recommendation | set up non-standard action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | set up non-standard action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_recommendation</name>
        <label>Create recommendation</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>recId</assignRecordIdToReference>
        <connector>
            <targetReference>DoneDoneScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLegacy__c</field>
            <value>
                <elementReference>productsToHaveLumpSumSelection.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestFulfilmentDate__c</field>
            <value>
                <elementReference>Earliest_fulfilment_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilmentDeadline__c</field>
            <value>
                <elementReference>Fulfilment_deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonStandardActionCategory__c</field>
            <value>
                <elementReference>Non_standard_action_category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NonStandardActionInstruction__c</field>
            <value>
                <elementReference>Non_standard_action_instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreRequisiteRecommendation__c</field>
            <value>
                <elementReference>recommendationSelectTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryOwner__c</field>
            <value>
                <elementReference>primaryOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendationType__c</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegisteredContact__c</field>
            <value>
                <elementReference>registeredContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Recommendation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_potential_recommendations</name>
        <label>Get potential recommendations</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_clients</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_products</name>
        <label>Get potential products</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_recommendations</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Fulfilment</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>productsThatCouldHaveLumpSums</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_Investment_Mandate__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FP_Value__c</queriedFields>
        <queriedFields>FinServ__FinancialAccountNumber__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Collect_details</name>
        <label>Collect details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_recommendation</targetReference>
        </connector>
        <fields>
            <name>Non_standard_action_category</name>
            <choiceReferences>nonStandardActionCategoryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Non-standard action category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Non_standard_action_instructions</name>
            <dataType>String</dataType>
            <fieldText>Non-standard action instructions</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please provide instructions for the action that specialists or the client should take&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>productOrPerson</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does this recommendation apply to a specific product?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productorrectoggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Has the product been accepted already?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>productsToHaveLumpSumSelection</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FinServ__FinancialAccount__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>productsThatCouldHaveLumpSums</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-3fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-86cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_Investment_Mandate__c&quot;,&quot;guid&quot;:&quot;column-a87a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;OW Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__Status__c&quot;,&quot;guid&quot;:&quot;column-df5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-a392&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>productorrectoggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>recommendationSelectTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Recommendation__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Products awaiting acceptance</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_potential_recommendations</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-3b54&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-6418&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>productorrectoggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrPerson.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientSelect</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client related to action</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_clients.personAccounts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-63e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>productOrPerson.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>earliestDate</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Should the fulfilment be delayed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Earliest_fulfilment_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearStart</elementReference>
            </defaultValue>
            <fieldText>Earliest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>earliestDate.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>deadline</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the fulfilment have a deadline?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fulfilment_deadline</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearEnd</elementReference>
            </defaultValue>
            <fieldText>Fulfilment deadline</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>deadline.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DoneDoneScreen</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_button</targetReference>
        </connector>
        <fields>
            <name>DoneText</name>
            <fieldText>&lt;p&gt;This recommendation will be created once you&#39;ve finished this flow.&lt;/p&gt;&lt;p&gt;If you click Next, you&#39;ll be taken to the screen that allow you to select the next recommendation type you&#39;d like to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoToRec</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go to recommendation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>goAgain</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Set up another non-standard action</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_tax_year_dates</name>
        <label>Calculate tax year dates</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Collect_details</targetReference>
        </connector>
        <flowName>DateCalculateNextTaxYearEndAndStart</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearEnd</assignToReference>
            <name>outputNextTaxYearEnd</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearStart</assignToReference>
            <name>outputNextTaxYearStart</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_clients</name>
        <label>Get clients</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Calculate_tax_year_dates</targetReference>
        </connector>
        <flowName>AccountGetPeopleInHousehold</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>role</name>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>nextTaxYearEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextTaxYearStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productsThatCouldHaveLumpSums</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
