force-app/main/default/flows/RecommendationSetUpLumpSums.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_recommendation</name>
        <label>Go to recommendation</label>
        <locationX>176</locationX>
        <locationY>4394</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recommendationToCreate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>396</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>feesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>feeToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_3_Fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_counts</name>
        <label>Assign counts</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>potentialProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>productsThatCouldHaveLumpSums</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>potentialrecommendationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_potential_recommendation_destinations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_lumpsum_recommendation_type_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_to_fee</name>
        <label>Assign recommendation to fee</label>
        <locationX>396</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>feeToCreate.AppliesToRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recommendationToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_the_taken_from_field_been_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variables</name>
        <label>Assign recommendation variables</label>
        <locationX>288</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.OW_Investment_Mandate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lumpsum_recommendation_type_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PaidBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_this_be_paid_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultTaxReliefProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelect.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployerSelect.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.FinServ__JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RegisteredContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.RegisteredContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_financial_product_linked_to_a_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recommendation_variablesRec</name>
        <label>Assign recommendation variables</label>
        <locationX>156</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationLegacy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.InvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RecommendationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lumpsum_recommendation_type_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.DestinationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>destinationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_phasesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phasing_periodRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PhasingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_phasing_notesRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.EarliestFulfilmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.FulfilmentDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_fulfilment_dateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PaidBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_this_be_paid_byRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.ExpectedTaxRelief__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultTaxReliefRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.NewInvestmentMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_mandateRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.RegisteredContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.RegisteredContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PreRequisiteActionRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preReqSelectRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>employerselectRec.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.PrimaryOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.PrimaryOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationToCreate.JointOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.JointOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_feesFromSubflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_recommendation_variable</name>
        <label>Clear recommendation and fee variable</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recommendationToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feesToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_counts</name>
        <label>Assign counts</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>selectedProductsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>productsToHaveLumpSumSelection.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedRecommendationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recommendationSelectTable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_tax_year_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_recommendation_to_fee</name>
        <label>Assign taken from recommendation to fee</label>
        <locationX>264</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>feeToCreate.TakenFromRecommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recommendationToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variable</name>
        <label>Set variable</label>
        <locationX>396</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>feeToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_3_Fees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recommendation_to_fee</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_employment</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter employment</label>
        <locationX>288</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>currentItem_Filter_employment</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_employment</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_employment.Person_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_products_to_lumpsum.FinServ__PrimaryOwner__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_employment.Person_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_products_to_lumpsum.FinServ__JointOwner__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>RecommendationDetails</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_employmentByRec</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter employment</label>
        <locationX>156</locationX>
        <locationY>2546</locationY>
        <assignNextValueToReference>currentItem_Filter_employmentByRec</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_employment</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_employmentByRec.Person_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_2_Recommendations_for_lump_sum.PrimaryOwner__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_employmentByRec.Person_Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_2_Recommendations_for_lump_sum.JointOwner__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Recommendation_detailsRec</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Has_the_taken_from_field_been_completed</name>
        <label>Has the taken from field been completed?</label>
        <locationX>396</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_3_Fees.TakenFromRecommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>replace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_recommendation_to_fee</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_financial_product_linked_to_a_product</name>
        <label>Is the financial product linked to a product?</label>
        <locationX>288</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Create_fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_products_to_lumpsum.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_feesFinProdWProd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_products_selected</name>
        <label>Were any products selected?</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Were_any_recommendations_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>potentialProductCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productorrectoggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_products_to_lumpsum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_recommendations_selected</name>
        <label>Were any recommendations selected?</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Create_recommendation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRecsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>potentialrecommendationCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedRecommendationCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productorrectoggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2_Recommendations_for_lump_sum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button</name>
        <label>Which button?</label>
        <locationX>176</locationX>
        <locationY>4286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goAgain.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_products_for_lump_sum</targetReference>
            </connector>
            <label>Go again</label>
        </rules>
        <rules>
            <name>Go_to_rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoToRec.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_recommendation</targetReference>
            </connector>
            <label>Go to rec</label>
        </rules>
    </decisions>
    <description>Flow to allow planners to set up recommendations for lump sums</description>
    <dynamicChoiceSets>
        <name>investmentMandate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NewInvestmentMandate__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>paidByChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaidBy__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>phasingPeriodChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PhasingFrequency__c</picklistField>
        <picklistObject>Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>defaultTaxReliefProduct</name>
        <dataType>Number</dataType>
        <expression>IF( CONTAINS({!Loop_through_products_to_lumpsum.FinServ__RecordTypeName__c}, &quot;SIPP&quot;), 
IF( {!Who_will_this_be_paid_by}=&quot;Client&quot;, {!Amount} / 4, 0), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultTaxReliefRec</name>
        <dataType>Number</dataType>
        <expression>IF( CONTAINS({!Loop_2_Recommendations_for_lump_sum.DestinationLegacy__r.FinServ__RecordTypeName__c}, &quot;SIPP&quot;) || CONTAINS({!Loop_2_Recommendations_for_lump_sum.Product__r.Name}, &quot;SIPP&quot;), 
IF( {!Who_will_this_be_paid_byRec}=&quot;Client&quot;, {!AmountRec} / 4, 0), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>destinationName</name>
        <dataType>String</dataType>
        <expression>{!Loop_2_Recommendations_for_lump_sum.PrimaryClientName__c} + &quot; &quot; + {!Loop_2_Recommendations_for_lump_sum.ProductName__c}</expression>
    </formulas>
    <interviewLabel>Recommendation - set up lump sums {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation | set up lump sums</label>
    <loops>
        <name>Loop_2_Recommendations_for_lump_sum</name>
        <label>Loop 2 | Recommendations for lump sum</label>
        <locationX>68</locationX>
        <locationY>2438</locationY>
        <collectionReference>recommendationSelectTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_employmentByRec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_recommendation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3_Fees</name>
        <label>Loop 3 | Fees</label>
        <locationX>176</locationX>
        <locationY>3254</locationY>
        <collectionReference>outputFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_feesCommit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_products_to_lumpsum</name>
        <label>Loop 1 | Products for lump sum</label>
        <locationX>68</locationX>
        <locationY>1430</locationY>
        <collectionReference>productsToHaveLumpSumSelection.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_employment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Were_any_recommendations_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_feesCommit</name>
        <label>Create fees</label>
        <locationX>176</locationX>
        <locationY>4070</locationY>
        <connector>
            <targetReference>DoneDoneScreen</targetReference>
        </connector>
        <inputReference>feesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_recommendation</name>
        <label>Create recommendation</label>
        <locationX>176</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Loop_3_Fees</targetReference>
        </connector>
        <inputReference>recommendationToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_products_for_lumpsum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment</name>
        <label>Get employment</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_products_for_lump_sum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lumpsum_recommendation_type_id</name>
        <label>Get lump sum recommendation type id</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lump sum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecommendationType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_potential_prerequisite_actions</name>
        <label>Get potential prerequisite actions</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <sortField>RecommendationTypeName__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_potential_recommendation_destinations</name>
        <label>Get potential recommendation destinations</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_prerequisite_actions</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>RecommendationTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedPremium__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_products_for_lumpsum</name>
        <label>Get potential products for lump sums</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_potential_recommendation_destinations</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND (3 OR 6) AND 5</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_own_product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Fulfilment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Benefit_amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GroupCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>productsThatCouldHaveLumpSums</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OW_Investment_Mandate__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FP_Value__c</queriedFields>
        <queriedFields>FinServ__FinancialAccountNumber__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
    </recordLookups>
    <screens>
        <name>DoneDoneScreen</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>4178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_button</targetReference>
        </connector>
        <fields>
            <name>DoneText</name>
            <fieldText>&lt;p&gt;This recommendation will be created once you&#39;ve finished this flow.&lt;/p&gt;&lt;p&gt;If you click Next, you&#39;ll be taken to the screen that allow you to select the next recommendation type you&#39;d like to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoToRec</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go to recommendation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>goAgain</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Set up another lump sum</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recommendation_detailsRec</name>
        <label>Recommendation details</label>
        <locationX>156</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_recommendation_variablesRec</targetReference>
        </connector>
        <fields>
            <name>productDisplayRecommendation</name>
            <fieldText>&lt;p&gt;Please provide the lump sum details for this product:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!Loop_2_Recommendations_for_lump_sum.DestinationName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AmountRec</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the net amount - the amount that the client will pay &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>taxReliefExpl</name>
            <fieldText>&lt;p&gt;The&lt;strong&gt; tax relief will automatically be added &lt;/strong&gt;to the recommendation with a value of 25% of the amount.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_2_Recommendations_for_lump_sum.DestinationLegacy__r.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_2_Recommendations_for_lump_sum.Product__r.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_byRec</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>taxreliefexplemp</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;tax relief will automatically be added &lt;/strong&gt;to the recommendation with a value of £0.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_2_Recommendations_for_lump_sum.DestinationLegacy__r.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_2_Recommendations_for_lump_sum.Product__r.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_by</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phasing_periodRec</name>
            <choiceReferences>phasingPeriodChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Single</stringValue>
            </defaultValue>
            <fieldText>Phasing period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phasesRec</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Number of phases</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If the investment won&#39;t be phased, please change the phasing period to &#39;SIngle&#39;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This phasing plan involves investing less than the Hubwise minimum per month (£1,000). Please decrease the phasing period appropriately.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(
  (
CONTAINS({!Loop_2_Recommendations_for_lump_sum.Product__r.Name},&quot;SIPP&quot;) || CONTAINS({!Loop_2_Recommendations_for_lump_sum.DestinationLegacy__r.FinServ__RecordTypeName__c},&quot;SIPP&quot;)
  ) 
&amp;&amp;
  (
((IF({!Who_will_this_be_paid_byRec}=&quot;Client&quot;, 1.25, 1)*{!AmountRec}) / {!Number_of_phasesRec}) 
&gt;= 960
  )
)
||
(
(NOT(CONTAINS({!Loop_2_Recommendations_for_lump_sum.Product__r.Name},&quot;SIPP&quot;)) ||
NOT(CONTAINS({!Loop_2_Recommendations_for_lump_sum.DestinationLegacy__r.FinServ__RecordTypeName__c},&quot;SIPP&quot;)) )
&amp;&amp;
(({!AmountRec} / {!Number_of_phasesRec}) &gt;= 1000)
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_periodRec</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_phasing_notesRec</name>
            <dataType>String</dataType>
            <fieldText>Additional phasing notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_will_this_be_paid_byRec</name>
            <choiceReferences>paidByChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Client</stringValue>
            </defaultValue>
            <fieldText>Who will this be paid by?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>employerselectRec</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__Employment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_employmentByRec</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c499&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__Position__c&quot;,&quot;guid&quot;:&quot;column-0e22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Position&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_byRec</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_mandateRec</name>
            <choiceReferences>investmentMandate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_2_Recommendations_for_lump_sum.InvestmentMandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>earliestDateToggleRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Should the fulfilment be delayed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Earliest_fulfilment_dateRec</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearStart</elementReference>
            </defaultValue>
            <fieldText>Earliest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>earliestDateToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nonstandarddeadlineRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will the fulfilment have a non standard deadline?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Latest_fulfilment_dateRec</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearEnd</elementReference>
            </defaultValue>
            <fieldText>Latest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nonstandarddeadlineRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preReqToggleRec</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there another action that has to happen before this lump sum can go ahead?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqSelectRec</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_prerequisite_actions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-6809&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggleRec.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecommendationDetails</name>
        <label>Recommendation details</label>
        <locationX>288</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_recommendation_variables</targetReference>
        </connector>
        <fields>
            <name>productDisplay</name>
            <fieldText>&lt;p&gt;Please provide the lump sum details for this product:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!Loop_through_products_to_lumpsum.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿Value: &lt;/strong&gt;{!Loop_through_products_to_lumpsum.FP_Value__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account number: &lt;/strong&gt;{!Loop_through_products_to_lumpsum.FinServ__FinancialAccountNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the net amount - the amount that the client will pay &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>taxReleifExplanation</name>
            <fieldText>&lt;p&gt;The&lt;strong&gt; tax relief will automatically be added &lt;/strong&gt;to the recommendation at a value of 25% of the amount.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_through_products_to_lumpsum.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_by</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>taxReliefEmployerExplanation</name>
            <fieldText>&lt;p&gt;The&lt;strong&gt; tax relief will automatically be added &lt;/strong&gt;to the recommendation as £0.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_through_products_to_lumpsum.FinServ__RecordTypeName__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SIPP</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_by</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phasing_period</name>
            <choiceReferences>phasingPeriodChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Single</stringValue>
            </defaultValue>
            <fieldText>Phasing period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_phases</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Number of phases</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If the investment won&#39;t be phased, please change the &#39;phasing period&#39; to &#39;Single&#39;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This phasing plan involves investing less than the Hubwise minimum per month (£1,000). Please decrease the phasing period appropriately.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(
 (CONTAINS({!Loop_through_products_to_lumpsum.FinServ__RecordTypeName__c} ,&quot;SIPP&quot;)) 
 &amp;&amp;
 (
   ((IF({!Who_will_this_be_paid_by}=&quot;Client&quot;,1.25, 1)*{!Amount} ) / {!Number_of_phases}) 
   &gt;= 960
  )
)
||
(
(NOT(CONTAINS({!Loop_through_products_to_lumpsum.FinServ__RecordTypeName__c}, &quot;SIPP&quot;))) 
&amp;&amp;
(({!Amount} / {!Number_of_phases}) &gt;= 1000)
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_phasing_notes</name>
            <dataType>String</dataType>
            <fieldText>Additional phasing notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phasing_period</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Single</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_will_this_be_paid_by</name>
            <choiceReferences>paidByChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Client</stringValue>
            </defaultValue>
            <fieldText>Who will this be paid by?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmployerSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__Employment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_employment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-39f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__Position__c&quot;,&quot;guid&quot;:&quot;column-4736&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Position&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Who_will_this_be_paid_by</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_mandate</name>
            <choiceReferences>investmentMandate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_through_products_to_lumpsum.OW_Investment_Mandate__c</elementReference>
            </defaultValue>
            <fieldText>Investment mandate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>earliestDateToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Should the fulfilment be delayed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Earliest_fulfilment_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearStart</elementReference>
            </defaultValue>
            <fieldText>Earliest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>earliestDateToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nonstandarddeadline</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will the fulfilment have a non standard deadline?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Latest_fulfilment_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>nextTaxYearEnd</elementReference>
            </defaultValue>
            <fieldText>Latest fulfilment date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nonstandarddeadline.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>preReqToggleProduct</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is there another action that has to happen before this lump sum can occur?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>preReqSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pre-requisites</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_prerequisite_actions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecommendationSummary__c&quot;,&quot;guid&quot;:&quot;column-f7cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recommendation Summary&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>preReqToggleProduct.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_products_for_lump_sum</name>
        <label>Select products for lump sum</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_recommendation_variable</targetReference>
        </connector>
        <fields>
            <name>lumpSumExplanation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Lump sum&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please select all products in the table below which you would like to recommend a lump sum into.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productorrectoggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Has the product been accepted already?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>productsToHaveLumpSumSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FinServ__FinancialAccount__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>productsThatCouldHaveLumpSums</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Financial Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FP_Value__c&quot;,&quot;guid&quot;:&quot;column-3fc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;FinServ__FinancialAccountNumber__c&quot;,&quot;guid&quot;:&quot;column-86cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_Investment_Mandate__c&quot;,&quot;guid&quot;:&quot;column-a87a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;OW Investment Mandate&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FinServ__Status__c&quot;,&quot;guid&quot;:&quot;column-df5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Notes__c&quot;,&quot;guid&quot;:&quot;column-a392&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Internal Notes&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>potentialProductCount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>productorrectoggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>recommendationSelectTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Recommendation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products awaiting acceptance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_potential_recommendation_destinations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DestinationName__c&quot;,&quot;guid&quot;:&quot;column-3b54&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Destination name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Designation__c&quot;,&quot;guid&quot;:&quot;column-6418&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Designation&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>potentialrecommendationCount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>productorrectoggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_tax_year_dates</name>
        <label>Calculate tax year dates</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Were_any_products_selected</targetReference>
        </connector>
        <flowName>DateCalculateNextTaxYearEndAndStart</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearEnd</assignToReference>
            <name>outputNextTaxYearEnd</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nextTaxYearStart</assignToReference>
            <name>outputNextTaxYearStart</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_fees</name>
        <label>Create fees</label>
        <locationX>420</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Loop_through_products_to_lumpsum</targetReference>
        </connector>
        <flowName>FeeCreate</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productRecordTypeId</name>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendationType</name>
            <value>
                <elementReference>Get_lumpsum_recommendation_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>outputFees</assignToReference>
            <name>feesToCreate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_feesFinProdWProd</name>
        <label>Create fees</label>
        <locationX>156</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Loop_through_products_to_lumpsum</targetReference>
        </connector>
        <flowName>FeeCreate</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>Loop_through_products_to_lumpsum.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendationType</name>
            <value>
                <elementReference>Get_lumpsum_recommendation_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>outputFees</assignToReference>
            <name>feesToCreate</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_feesFromSubflow</name>
        <label>Create fees</label>
        <locationX>156</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Loop_2_Recommendations_for_lump_sum</targetReference>
        </connector>
        <flowName>FeeCreate</flowName>
        <inputAssignments>
            <name>adviceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>Get_advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>product</name>
            <value>
                <elementReference>Loop_2_Recommendations_for_lump_sum.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recommendationType</name>
            <value>
                <elementReference>Get_lumpsum_recommendation_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>outputFees</assignToReference>
            <name>feesToCreate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_employment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_employmentByRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Employment__c</objectType>
    </variables>
    <variables>
        <name>feesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>feeToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>nextTaxYearEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextTaxYearStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputFees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fee__c</objectType>
    </variables>
    <variables>
        <name>potentialProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>potentialrecommendationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>productsThatCouldHaveLumpSums</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>recommendationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedRecommendationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
