force-app/main/default/flows/ServiceLevelAgreementManage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_error</name>
        <label>Set error</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SLA_end_values</name>
        <label>Set SLA end values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>slaEnd.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slaEnd.StatusAfter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_an_SLA_to_close</name>
        <label>Is there an SLA to close?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_SLA_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SLA</defaultConnectorLabel>
        <rules>
            <name>SLA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_SLA_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_end_values</targetReference>
            </connector>
            <label>SLA found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_SLA_needed</name>
        <label>New SLA needed?</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>No SLA needed</defaultConnectorLabel>
        <rules>
            <name>SLA_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createNewSla</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_due_date</targetReference>
            </connector>
            <label>SLA needed</label>
        </rules>
    </decisions>
    <description>Creates new SLA records for a given piece of transactional data and closes off the last one, if applicable.</description>
    <environments>Default</environments>
    <interviewLabel>SLA | Manage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA | Manage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_SLA</name>
        <label>Create new SLA</label>
        <locationX>50</locationX>
        <locationY>914</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Advice__c</field>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DaysToComplete__c</field>
            <value>
                <elementReference>slaDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate__c</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfilment__c</field>
            <value>
                <elementReference>fulfilmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>statusNew</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceLevelAgreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_SLA_record</name>
        <label>Check for SLA record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_SLA_to_close</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fulfilment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusExit</elementReference>
            </value>
        </filters>
        <filters>
            <field>End__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceLevelAgreement__c</object>
        <outputReference>slaEnd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLA</name>
        <label>Update SLA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_SLA_needed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_error</targetReference>
        </faultConnector>
        <inputReference>slaEnd</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_SLA_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_due_date</name>
        <label>Calculate due date</label>
        <locationX>50</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Create_new_SLA</targetReference>
        </connector>
        <flowName>OW_date_add_subtract_business_days</flowName>
        <inputAssignments>
            <name>business_days</name>
            <value>
                <elementReference>slaDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>start_date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>dueDate</assignToReference>
            <name>result_date</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceTypeStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceTypeStatus__c</objectType>
    </variables>
    <variables>
        <description>If true, a new SLA should be created.</description>
        <name>createNewSla</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set to true and returned as an output if there is an error.</description>
        <name>error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Error message to be returned as an output if there is a problem in the flow.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fulfilmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SLA in business days</description>
        <name>slaDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>slaEnd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceLevelAgreement__c</objectType>
    </variables>
    <variables>
        <description>The status that the record has left.</description>
        <name>statusExit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The status that the record is now in.</description>
        <name>statusNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
