force-app/main/default/flows/TaskFulfilmentDebriefUpdateAdviceAcceptedDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Accepted_date</name>
        <label>Accepted date?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Later</defaultConnectorLabel>
        <rules>
            <name>Advice_date_blank_or_greater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_fulfilment.Advice__r.DateAccepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_fulfilment.Advice__r.DateAccepted__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.CompletedDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_advice_date_accepted</targetReference>
            </connector>
            <label>Earlier or blanks</label>
        </rules>
    </decisions>
    <description>Runs on old fulfilment debrief tasks that are completed, checking if the advice accepted date needs and update and setting that if so.</description>
    <environments>Default</environments>
    <interviewLabel>Task | Fulfilment debrief update advice accepted date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task | Fulfilment debrief update advice accepted date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_fulfilment</name>
        <label>Get fulfilment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accepted_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fulfillment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Advice__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_advice_date_accepted</name>
        <label>Update advice date accepted</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_fulfilment.Advice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateAccepted__c</field>
            <value>
                <elementReference>$Record.CompletedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Advice__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_fulfilment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.OW_task_information_name__c} = &quot;fulfilment_debrief&quot;
&amp;&amp;
ISPICKVAL({!$Record.Status}, &quot;Completed&quot;)</filterFormula>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
