force-app/main/default/flows/TobAccountInformationRequestCreateInformationRequests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>270</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>fps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDs</name>
        <label>Assign IDs</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.Household_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_flag_to_false</name>
        <label>Set flag to false</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>firstTobFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_clients_in_household</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_TOB_for_household</name>
        <label>First TOB for household?</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Get_financial_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFirstTob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstTobFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_financial_products_including_juniors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_another_client_in_the_household_already_signed_terms</name>
        <label>Has another client in the household already signed terms?</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_clients_in_household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_clients_in_household.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>personAccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_clients_in_household.OW_terms_of_Business_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_flag_to_false</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Information_request_outcome</name>
        <label>Information request outcome</label>
        <locationX>402</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No action</defaultConnectorLabel>
        <rules>
            <name>Create_IR</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Loop.FinServ__PrimaryOwner__r.OW_terms_of_Business_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.FinServ__JointOwner__r.OW_terms_of_Business_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.FinServ__JointOwner__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Junior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop.FinServ__PrimaryOwner__r.FinServ__Age__pc</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_collection</targetReference>
            </connector>
            <label>Create IR</label>
        </rules>
    </decisions>
    <description>Sub flow to be called as part of prospect -&gt; verifying actions which decides which financial products are now ready to receive information requests</description>
    <environments>Default</environments>
    <interviewLabel>TOB | Account | Information Request | Create Information Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TOB | Account | Information Request | Create Information Requests</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <collectionReference>gotFps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Information_request_outcome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_information_requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_clients_in_household</name>
        <label>Loop clients in household</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_clients.personAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_another_client_in_the_household_already_signed_terms</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>First_TOB_for_household</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_financial_products</name>
        <label>Get financial products</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-existing</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>gotFps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_financial_products_including_juniors</name>
        <label>Get financial products (including juniors)</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-existing</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Junior</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputReference>gotFps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_information_requests</name>
        <label>Create information requests</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <flowName>InformationRequestCreate</flowName>
        <inputAssignments>
            <name>financialAccounts</name>
            <value>
                <elementReference>fps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_clients</name>
        <label>Get clients</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Loop_clients_in_household</targetReference>
        </connector>
        <flowName>AccountGetPeopleInHousehold</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>role</name>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>firstTobFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>gotFps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
