force-app/main/default/flows/UserEventConsume.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Slack_User_ID</name>
        <label>Set Slack User ID</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>userRecord.SlackUserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SlackUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Slack User ID we have on the user is the same or not.</description>
        <name>Slack_User_ID</name>
        <label>Slack User ID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Unspecified or the same</defaultConnectorLabel>
        <rules>
            <name>Unchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SlackUserId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SlackUserId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>userRecord.SlackUserId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Slack_User_ID</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <description>Consumes a user event and takes any action that is necessary.</description>
    <environments>Default</environments>
    <interviewLabel>User Event | Consume {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Event | Consume</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_record</name>
        <label>Get user record</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Slack_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SlackUserId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_user</name>
        <label>Update user</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <inputReference>userRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_record</targetReference>
        </connector>
        <object>UserEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
