unpackaged/main/default/flows/AccountHouseholdRelationshipsManage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_person_account_record_type_ID</name>
        <label>Get person account record type ID</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <actionName>RecordTypeGetId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Person_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RecordTypeGetId</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_household_ID</name>
        <label>Set household ID</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_person_account_record_type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_name_values_known</name>
        <label>Set name values</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_person_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_name_values_no_provided</name>
        <label>Set name values</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastNameUnknownDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_person_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_primary_group_child</name>
        <label>Set primary group (client)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>primaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_primary_group_client</name>
        <label>Set primary group (client)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>primaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_primary_group_OIFM</name>
        <label>Set primary group (OIFM)</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>primaryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_provided</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChildChoice</name>
        <choiceText>Child</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Child</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientChoice</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherImportantFamilyMemberChoice</name>
        <choiceText>Other Important Family Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Important Family Member</stringValue>
        </value>
    </choices>
    <constants>
        <name>lastNameUnknownDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Name_provided</name>
        <label>Name provided</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_name_values_no_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not provided</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FirstNameInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastNameInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_name_values_known</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>RoleDecision</name>
        <label>Role</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_primary_group_client</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChildChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_primary_group_child</targetReference>
            </connector>
            <label>Child</label>
        </rules>
        <rules>
            <name>Other_Important_Family_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OtherImportantFamilyMemberChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_primary_group_OIFM</targetReference>
            </connector>
            <label>Other Important Family Member</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account | Create Person {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Household | Relationships | Manage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_account_contact_relationship</name>
        <label>Create account contact relationship</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_person_account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__PrimaryGroup__c</field>
            <value>
                <elementReference>primaryGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Rollups__c</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_person_account</name>
        <label>Create person account</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <assignRecordIdToReference>personAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_person_account</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>BirthdateInput</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Get the newly created person account so we can get the associated contact ID</description>
        <name>Get_person_account</name>
        <label>Get person account</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_account_contact_relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Person_Details</name>
        <label>Person Details</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RoleDecision</targetReference>
        </connector>
        <fields>
            <name>Role</name>
            <choiceReferences>ClientChoice</choiceReferences>
            <choiceReferences>ChildChoice</choiceReferences>
            <choiceReferences>OtherImportantFamilyMemberChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NameKnown</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Known</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Not known</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClientChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UnknownNamePrompt</name>
            <fieldText>&lt;p&gt;We would encourage you to get the partner&#39;s name. If you can&#39;t do that, we will leave the first name blank and set the last name to Partner. This will allow us to give the client a good portal experience. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClientChoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NameKnown.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Person_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Person_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameInput</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;First name cannot be more than 40 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FirstNameInput}) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>LastNameInput</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Last name cannot be more than 80 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!LastNameInput}) &lt; 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NameKnown.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChildChoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OtherImportantFamilyMemberChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Person_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Person_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BirthdateInput</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_household_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
