unpackaged/main/default/flows/AccountBankDetailsAddedTEMP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Ad_id_to_list</name>
        <label>Ad id to list</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>idList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recommendations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recommendations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>440</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>specificRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_filter_output_to_single_variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_filter_output_to_single_variable</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_specific_rec</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get specific rec</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>currentItem_Get_specific_rec</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_recommendations_for_this_person</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_specific_rec.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Fulfilment.Recommendation__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_filter_output_to_single_variable</targetReference>
        </connector>
    </collectionProcessors>
    <description>Flow to update fulfilment statuses when bank details are added - temporary version which does not reference the new version for fulfilment</description>
    <environments>Default</environments>
    <interviewLabel>Account | bank details added {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | bank details added</label>
    <loops>
        <name>Assign_filter_output_to_single_variable</name>
        <label>Assign filter output to single variable</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_specific_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfilment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fulfilment</name>
        <label>Fulfilment</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_new_process_fulfilment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_specific_rec</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Recommendations</name>
        <label>Recommendations</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_recommendations_for_this_person</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ad_id_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_new_process_fulfilment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_new_process_fulfilment</name>
        <label>Get new process fulfilment</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfilment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recommendation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fulfilment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendations_for_this_person</name>
        <label>Get recommendations for this person</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recommendations</targetReference>
        </connector>
        <filterLogic>2 AND (3 OR 4 OR 1)</filterLogic>
        <filters>
            <field>PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>RegisteredContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommendation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tasks</name>
        <label>Update tasks</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_recommendations_for_this_person</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_tasks</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankDetailsStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Get_specific_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>idList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specificRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
</Flow>
