unpackaged/main/default/flows/AccountGetPeopleInHousehold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_person_account_ID</name>
        <label>Add person account ID</label>
        <locationX>138</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>personAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ACRs.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_person_accounts_output_variable</name>
        <label>Set person accounts output variable</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>personAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person_accounts</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks if any ACRs are returned so an error can be flagged if not</description>
        <name>Any_ACRs_returned</name>
        <label>Any ACRs returned?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acrs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ACRs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_role_passed_in</name>
        <label>Was a role passed in?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_ACRs_for_clients_and_children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACRs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A reusable sub-flow that take a household ID and list of roles and returns a collection variable with all the people in that household matching those roles.</description>
    <environments>Default</environments>
    <interviewLabel>Account | get people in household {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | get people in household</label>
    <loops>
        <description>Loops the ACRs to create a collection of the person account IDs</description>
        <name>Loop_ACRs</name>
        <label>Loop ACRs</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <collectionReference>acrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_person_account_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_person_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the account contact relationships for the household and role, retrieving the contact IDs so they can be used in a follow up query.</description>
        <name>Get_ACRs</name>
        <label>Get ACRs</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_ACRs_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>role</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>acrs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the account contact relationships for the household and role, retrieving the contact IDs so they can be used in a follow up query.</description>
        <name>Get_ACRs_for_clients_and_children</name>
        <label>Get ACRs for clients and children</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_ACRs_returned</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>acrs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_person_accounts</name>
        <label>Get person accounts</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_person_accounts_output_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>personAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_a_role_passed_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acrs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the household for which we are getting the people.</description>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the person account records as an output variable so they can be returned to the calling flow.</description>
        <name>personAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The role of those in the household that should be returned to the calling flow.</description>
        <name>role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
