unpackaged/main/default/flows/AdviceRecipientsCreateAndUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_client_to_collection</name>
        <label>Add primary client to collection</label>
        <locationX>950</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>clients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>primaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_recorded_this_joint_client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_joint_client_to_collection</name>
        <label>Add joint client to collection</label>
        <locationX>950</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>clients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>jointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_recorded_this_registered_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient_record_to_collection</name>
        <label>Add recipient record to collection</label>
        <locationX>1018</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adviceRecipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient_record_to_collectionNonPresented</name>
        <label>Add recipient record to collection</label>
        <locationX>1014</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adviceRecipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_clientsNonPresented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_registered_contact_to_collection</name>
        <label>Add registered contact to collection</label>
        <locationX>950</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>clients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_primary_owners.RegisteredContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_primary_owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_accepted_number</name>
        <label>Add to accepted number</label>
        <locationX>246</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>numAcceptedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numAdvisedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_out_decided_clients.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_out_decided_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_declined_number</name>
        <label>Add to declined number</label>
        <locationX>510</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>numDeclinedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numAdvisedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_out_decided_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>774</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>numAdvisedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_out_decided_clients.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_out_decided_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_acceptance_values</name>
        <label>Assign acceptance values</label>
        <locationX>490</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SomeOrAllAdviceAccepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedMedium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium_of_acceptance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numAcceptedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_this_client_in_the_meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acceptedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_clients.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_advice_id</name>
        <label>Assign advice id</label>
        <locationX>290</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_advice_recipients_been_passed_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_advice_recipient_values</name>
        <label>Assign advice recipient values</label>
        <locationX>314</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_to_variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_advised_value</name>
        <label>Assign advised value</label>
        <locationX>754</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numAdvisedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_advised_valueNonPresented</name>
        <label>Assign advised value</label>
        <locationX>882</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StillConsidering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numAdvisedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collectionNonPresented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_declined_values</name>
        <label>Assign declined values</label>
        <locationX>754</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllAdviceDeclined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numDeclinedClients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_this_client_in_the_meeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_initial_advice_recipient_values</name>
        <label>Assign initial advice recipient values</label>
        <locationX>1018</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_clients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedMedium__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Advised</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_initial_advice_recipient_valuesNonPresented</name>
        <label>Assign initial advice recipient values</label>
        <locationX>1014</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_clientsNonPresented.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdvisedNonPresented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_non_acceptance_values</name>
        <label>Assign non acceptance values</label>
        <locationX>1018</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StillConsidering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_this_client_in_the_meeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_task_flag_to_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_not_advised_value</name>
        <label>Assign not advised value</label>
        <locationX>1282</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_this_client_in_the_meetingNonAdvised</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_not_advised_valueNonPresented</name>
        <label>Assign not advised value</label>
        <locationX>1146</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>adviceRecipient.Advised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AcceptedAdvice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceRecipient.AttendedAdviceMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collectionNonPresented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_recipients_received</name>
        <label>Mark recipients received</label>
        <locationX>158</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>recipientsProvided</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_out_decided_clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_flag_to_true</name>
        <label>Set task flag to true</label>
        <locationX>1018</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>createTaskFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recipient_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_task_flag_to_trueNonPresented</name>
        <label>Set task flag to true</label>
        <locationX>794</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>createTaskFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_clientsNonPresented</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AllDeclined</name>
        <choiceText>All advice declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AllAdviceDeclined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decline_all_recommendations_and_create_a_withdrawal_case</name>
        <choiceText>Decline all recommendations and create a withdrawal case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline all recommendations and create a withdrawal case</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_ll_handle_next_steps_myself</name>
        <choiceText>I&#39;ll handle next steps myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&#39;ll handle next steps myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>Just_decline_recommendations</name>
        <choiceText>Just decline recommendations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Just decline recommendations</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>StillConsidering</name>
        <choiceText>Still considering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Still considering</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAccepted</name>
        <choiceText>Some or all advice accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SomeOrAllAdviceAccepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesMeeting</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Get_recipient_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get recipient record</label>
        <locationX>226</locationX>
        <locationY>2642</locationY>
        <assignNextValueToReference>currentItem_Get_recipient_record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>adviceRecipientsReceived</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_recipient_record.Person__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_clients.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_to_variable</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>If this has been called from the confirm advice flow and the advice was non presented, we cannot yet confirm whether advice was accepted.</description>
        <name>Acceptance_confirmation_needed</name>
        <label>Acceptance confirmation needed?</label>
        <locationX>422</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Set_task_flag_to_trueNonPresented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-presented</defaultConnectorLabel>
        <rules>
            <name>Meeting</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recipientConfirmationNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_clients</targetReference>
            </connector>
            <label>Yes - meeting or review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accepted</name>
        <label>Accepted?</label>
        <locationX>754</locationX>
        <locationY>3074</locationY>
        <defaultConnector>
            <targetReference>Assign_non_acceptance_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still considering</defaultConnectorLabel>
        <rules>
            <name>YesAcceptedOnScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_client_accepted_any_of_our_recommendations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesAccepted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_acceptance_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_client_accepted_any_of_our_recommendations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllDeclined</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_declined_values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Advised</name>
        <label>Advised?</label>
        <locationX>1018</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>RequestDetailsNonAdvised</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdvised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_clients.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_advised_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AdvisedNonPresented</name>
        <label>Advised?</label>
        <locationX>1014</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Assign_not_advised_valueNonPresented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesAdvisedNonPresented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_clientsNonPresented.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_advised_valueNonPresented</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_advice_been_passed_in</name>
        <label>Has advice been passed in?</label>
        <locationX>422</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_advice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAdviceReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_advice_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is being called from the confirm advice flow, no recipients will have been created previously, so we start from scratch. If called from the mark decisions flow, we will have advice recipients, so we just need to update these existing ones</description>
        <name>Have_advice_recipients_been_passed_in</name>
        <label>Have advice recipients been passed in?</label>
        <locationX>422</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Have_recommendations_been_passed_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adviceRecipientsReceived</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_recipients_received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_recommendations_been_passed_in</name>
        <label>Have recommendations been passed in?</label>
        <locationX>686</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_recommendations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRecsReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recommendations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_primary_owners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_records_been_created_previously</name>
        <label>Have records been created previously?</label>
        <locationX>422</locationX>
        <locationY>2018</locationY>
        <defaultConnector>
            <targetReference>Get_clients_in_household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPreviouslyCreatedClients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calledFromAdviceConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_clients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_recorded_this_client</name>
        <label>Have we recorded this primary client?</label>
        <locationX>862</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Add_client_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClientRecorded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>primaryId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_we_recorded_this_joint_client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_recorded_this_joint_client</name>
        <label>Have we recorded this joint client?</label>
        <locationX>862</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Add_joint_client_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesJointRecorded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>jointId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jointId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_we_recorded_this_registered_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_recorded_this_registered_owner</name>
        <label>Have we recorded this registered owner?</label>
        <locationX>862</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Add_registered_contact_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRegisteredRecorded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clients</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Find_primary_owners.RegisteredContact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_primary_owners.RegisteredContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_primary_owners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_created</name>
        <label>Recipients created already</label>
        <locationX>622</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Assign_initial_advice_recipient_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreatedAlready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientsProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recipient_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_their_status</name>
        <label>What is their status?</label>
        <locationX>642</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Filter_out_decided_clients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AcceptedAlready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_out_decided_clients.AcceptedAdvice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SomeOrAllAdviceAccepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_accepted_number</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_out_decided_clients.AcceptedAdvice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AllAdviceDeclined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_declined_number</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Still_consideringDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_out_decided_clients.AcceptedAdvice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StillConsidering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_list</targetReference>
            </connector>
            <label>Still considering</label>
        </rules>
    </decisions>
    <description>Sub flow to call when advice recipient records need updating or creating</description>
    <dynamicChoiceSets>
        <name>declinedReasonsChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>DeclinedReason__c</picklistField>
        <picklistObject>Advice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mediumChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AcceptedMedium__c</picklistField>
        <picklistObject>AdviceRecipient__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>adviceMeetingDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!advice.Suitability_meeting_date_time__c})</expression>
    </formulas>
    <formulas>
        <name>jointId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Find_primary_owners.DestinationLegacy__c}), {!Find_primary_owners.JointOwner__c}, {!Find_primary_owners.DestinationLegacy__r.FinServ__JointOwner__c})</expression>
    </formulas>
    <formulas>
        <name>primaryId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Find_primary_owners.DestinationLegacy__c}), {!Find_primary_owners.PrimaryOwner__c}, {!Find_primary_owners.DestinationLegacy__r.FinServ__PrimaryOwner__c})</expression>
    </formulas>
    <interviewLabel>Advice Recipients | Create and update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice Recipients | Create and update</label>
    <loops>
        <name>Assign_to_variable</name>
        <label>Assign to variable</label>
        <locationX>226</locationX>
        <locationY>2750</locationY>
        <collectionReference>Get_recipient_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_advice_recipient_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Request_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_out_decided_clients</name>
        <label>Filter out decided clients</label>
        <locationX>158</locationX>
        <locationY>650</locationY>
        <collectionReference>adviceRecipientsReceived</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_their_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_records_been_created_previously</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_primary_owners</name>
        <label>Find primary owners</label>
        <locationX>686</locationX>
        <locationY>842</locationY>
        <collectionReference>recommendations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Have_we_recorded_this_client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_records_been_created_previously</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_clients</name>
        <label>Loop through clients</label>
        <locationX>50</locationX>
        <locationY>2426</locationY>
        <collectionReference>clientsThatNeedAdviceRecipientRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recipients_created</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_clientsNonPresented</name>
        <label>Loop through clients</label>
        <locationX>794</locationX>
        <locationY>2534</locationY>
        <collectionReference>clientsThatNeedAdviceRecipientRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_initial_advice_recipient_valuesNonPresented</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>554</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_advice_recipients_been_passed_in</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>Advice__c</object>
        <outputReference>advice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Suitability_meeting_location__c</queriedFields>
        <queriedFields>Suitability_meeting_date_time__c</queriedFields>
        <queriedFields>Suitability_meeting_status__c</queriedFields>
        <queriedFields>AdvicePresented__c</queriedFields>
        <queriedFields>Advice_Household__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_clients</name>
        <label>Get clients</label>
        <locationX>290</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acceptance_confirmation_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>clients</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>clientsThatNeedAdviceRecipientRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendations</name>
        <label>Get recommendations</label>
        <locationX>774</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_primary_owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Recommendation__c</object>
        <outputReference>recommendations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryOwner__c</queriedFields>
        <queriedFields>JointOwner__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecommendationTypeName__c</queriedFields>
        <queriedFields>DestinationLegacy__c</queriedFields>
        <queriedFields>DestinationName__c</queriedFields>
        <queriedFields>PreRequisiteActionRecommendation__c</queriedFields>
        <queriedFields>PreRequisiteRecommendation__c</queriedFields>
        <queriedFields>PreRequisiteRecommendationSource__c</queriedFields>
        <queriedFields>SourceLegacy__c</queriedFields>
        <queriedFields>RecommendationType__c</queriedFields>
        <queriedFields>RegisteredContact__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Request_details</name>
        <label>Request details</label>
        <locationX>754</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accepted</targetReference>
        </connector>
        <fields>
            <name>clientName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Loop_through_clients.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Was_this_client_in_the_meeting</name>
            <choiceReferences>YesMeeting</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>adviceRecipient.AttendedAdviceMeeting__c</elementReference>
            </defaultValue>
            <fieldText>Was this client present for ALL of the meeting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_client_accepted_any_of_our_recommendations</name>
            <choiceReferences>YesAccepted</choiceReferences>
            <choiceReferences>StillConsidering</choiceReferences>
            <choiceReferences>AllDeclined</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>adviceRecipient.AcceptedAdvice__c</elementReference>
            </defaultValue>
            <fieldText>Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If the client has accepted even one of our recommendations, please select &#39;Yes&#39;. If they&#39;ve declined every single one of them, please select &#39;No&#39;. If they&#39;ve not decided, please select &#39;Still considering&#39;.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>calledFromAdviceConfirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Was_this_client_in_the_meeting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesMeeting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Medium_of_acceptance</name>
            <choiceReferences>mediumChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Medium of acceptance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_the_client_accepted_any_of_our_recommendations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesAccepted</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>declinedModal</name>
            <extensionName>c:confirmModalFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>theme</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateBackOnCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateForwardOnConfirm</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All recommendations will be declined</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>If you click OK, all recommendations made to this client will be declined (primary or joint owner included).</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_the_client_accepted_any_of_our_recommendations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AllDeclined</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequestDetailsNonAdvised</name>
        <label>Request details</label>
        <locationX>1282</locationX>
        <locationY>2858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_not_advised_value</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_clientName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Loop_through_clients.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Was_this_client_in_the_meetingNonAdvised</name>
            <choiceReferences>YesMeeting</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was this client present for ALL of the meeting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>296</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_advice_been_passed_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_clients_in_household</name>
        <label>Get clients</label>
        <locationX>554</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Acceptance_confirmation_needed</targetReference>
        </connector>
        <flowName>AccountGetPeopleInHousehold</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>advice.Advice_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>role</name>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>clientsThatNeedAdviceRecipientRecords</assignToReference>
            <name>personAccounts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>acceptedClients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>advice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Advice__c</objectType>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceRecipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceRecipient__c</objectType>
    </variables>
    <variables>
        <name>adviceRecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AdviceRecipient__c</objectType>
    </variables>
    <variables>
        <name>adviceRecipientsReceived</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceRecipient__c</objectType>
    </variables>
    <variables>
        <description>Passed in to the flow, indicates this sub flow has been called from the advice confirmation flow</description>
        <name>calledFromAdviceConfirmation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientsThatNeedAdviceRecipientRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>createTaskFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Get_recipient_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdviceRecipient__c</objectType>
    </variables>
    <variables>
        <name>numAcceptedClients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numAdvisedClients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numDeclinedClients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Passed into the flow, indicates whether the advice recipient records should be updated with decisions now</description>
        <name>recipientConfirmationNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientsProvided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recommendationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>recToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
</Flow>
