unpackaged/main/default/flows/AdviceGoogleDriveFolderCreateManual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Google_Drive_advice_folder</name>
        <label>Create Google Drive advice folder</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>GoogleDrive.createGdriveClientAdviceFolders</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Create_system_log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>adviceFolderBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GoogleDrive.createGdriveClientAdviceFolders</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Define_API_request_body</name>
        <label>Define API request body</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>adviceFolderBody.adviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adviceFolderBody.householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Google_Drive_advice_folder</targetReference>
        </connector>
    </assignments>
    <description>A back up process for manually triggering the creation of an advice folder in Google Drive. To be used in instances of failures of the automated process or tidy up around go-live.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns true if there is an error response code.</description>
        <name>error</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Create_Google_Drive_advice_folder.responseCode} &gt;= 300, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Advice | Google Drive Folder | Create | Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advice | Google Drive Folder | Create | Manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_system_log</name>
        <label>Create system log</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>OW_detail__c</field>
            <value>
                <stringValue>Job ID: {!Create_Google_Drive_advice_folder.200.jobx5fid}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_error__c</field>
            <value>
                <elementReference>error</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_log_source__c</field>
            <value>
                <stringValue>AdviceGoogleDriveFolderCreateManual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_log_type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OW_response_code__c</field>
            <value>
                <elementReference>Create_Google_Drive_advice_folder.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_source_type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_status__c</field>
        </inputAssignments>
        <object>OW_system_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_API_request_body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adviceId</elementReference>
            </value>
        </filters>
        <object>Advice__c</object>
        <outputAssignments>
            <assignToReference>householdId</assignToReference>
            <field>Advice_Household__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>adviceFolderBody</name>
        <apexClass>ExternalService__GoogleDrive_GDriveJobCreateClientAdviceFolderBody</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
