unpackaged/main/default/flows/BankAccountPersonalCreatedOrUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_owner_ids</name>
        <label>Get owner ids</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_person_accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Hubwise_flag_to_false</name>
        <label>Assign Hubwise flag to false</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>hubwiseFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_bank_detail_statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hubwise_flag_to_true</name>
        <label>Assign Hubwise flag to true</label>
        <locationX>1128</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>hubwiseFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_bank_detail_statuses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_this_client_have_another_active_bank_account</name>
        <label>Does this client have another active bank account?</label>
        <locationX>1942</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_persons_bank_account_status_to_awaiting_replacemnt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_bank_accountsInactive.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hubwise_status</name>
        <label>Hubwise update required?</label>
        <locationX>1040</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In place</defaultConnectorLabel>
        <rules>
            <name>Updates_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlatformStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Updates required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hubwiseFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_to_update_hubwise</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Updates required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_bank_account_status_Active</name>
        <label>Person bank account status</label>
        <locationX>1678</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Update_person_bank_details_status3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PendingActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_person_bank_details_status1</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>SubmittedActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Awaiting_replacementSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_person_bank_details_status2</targetReference>
            </connector>
            <label>Awaiting replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Bank Account status</label>
        <locationX>1040</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verifying</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_to_verify_bank_details1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Verifying</label>
        </rules>
        <rules>
            <name>ActiveStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Hubwise_flag</name>
        <label>What is the Hubwise flag?</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_Hubwise_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hubwiseFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Would_their_Hubwise_need_updating</name>
        <label>Would their Hubwise need updating?</label>
        <locationX>1260</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_through_bank_detail_statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHubwiseUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_bank_detail_statuses.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_bank_detail_statuses.BankDetailsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hubwise_flag_to_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to update the system when a personal bank account is created or updated</description>
    <environments>Default</environments>
    <formulas>
        <name>ownersText</name>
        <dataType>String</dataType>
        <expression>LEFT({!accountOwners},LEN({!accountOwners})-2)</expression>
    </formulas>
    <interviewLabel>Bank account | personal | created or updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank account | personal | created or updated</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>1238</locationX>
        <locationY>1547</locationY>
        <collectionReference>Get_person_accounts.personAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Person_bank_account_status_Active</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>1766</locationX>
        <locationY>1547</locationY>
        <collectionReference>Get_person_accounts.personAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_existing_bank_accountsInactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_any_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_bank_detail_statuses</name>
        <label>Loop through bank detail statuses</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_person_accounts.personAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Would_their_Hubwise_need_updating</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hubwise_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_existing_bank_accountsInactive</name>
        <label>Get existing bank accounts</label>
        <locationX>1942</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_client_have_another_active_bank_account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>OwnerIds__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_3.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verifying</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_any_request_or_chase_tasks1</name>
        <label>Close any request or chase tasks</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>What_is_the_Hubwise_flag</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 8 OR 7) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_owner_ids.tasksToCreate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_client_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pushed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_replacement_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_replacement_bank_details</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_any_request_or_chase_tasks2</name>
        <label>Close any request or chase tasks</label>
        <locationX>1326</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 8 OR 7) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_client_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pushed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_replacement_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_replacement_bank_details</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_any_request_or_chase_tasks3</name>
        <label>Close any request or chase tasks</label>
        <locationX>1766</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 8 OR 7) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_client_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pushed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>request_replacement_bank_details</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chase_replacement_bank_details</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OrchestrationTaskStatus__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_any_tasks</name>
        <label>Close any tasks</label>
        <locationX>1766</locationX>
        <locationY>2147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hubwise_status</name>
        <label>Update Hubwise status</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>PlatformStatus__c</field>
            <value>
                <stringValue>In place</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_person_bank_details_status1</name>
        <label>Update person bank details status</label>
        <locationX>1326</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Close_any_request_or_chase_tasks2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_person_bank_details_status2</name>
        <label>Update person bank details status</label>
        <locationX>1766</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Close_any_request_or_chase_tasks3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_person_bank_details_status3</name>
        <label>Update person bank details status</label>
        <locationX>2030</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_persons_bank_account_status_to_awaiting_replacemnt</name>
        <label>Update persons bank account status to awaiting replacemnt</label>
        <locationX>2030</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_3.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankDetailsStatus__c</field>
            <value>
                <stringValue>Awaiting replacement</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_owner_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <object>BankAccount__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_task_to_update_hubwise</name>
        <label>Create task to update hubwise</label>
        <locationX>908</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>replace_bank_details_hubwise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_task_to_verify_bank_details1</name>
        <label>Create task to verify bank details</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Close_any_request_or_chase_tasks1</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>verify_bank_details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_person_accounts</name>
        <label>Get person accounts</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Hubwise_flag_to_false</targetReference>
        </connector>
        <flowName>AccountGetPeopleFromIdList</flowName>
        <inputAssignments>
            <name>idList</name>
            <value>
                <elementReference>$Record.OwnerIds__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>accountOwners</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_specific_recommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
    <variables>
        <name>employmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fakeFulfilment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>fulfilmentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>hubwiseFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recommendationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
