unpackaged/main/default/flows/CaseUpdateProfitAndLossDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_analysis_fields</name>
        <label>Assign analysis fields</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>case.WhatActuallyHappened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_actually_happened</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.WhatShouldHaveHappened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_should_have_happened</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.PLOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_L_outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.PostErrorTransactionsToIncorporate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_error_transactions_to_incorportate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.DateOfCalculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_calulation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_payment_details_now</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_variable</name>
        <label>Assign case variable</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Analysis_details_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_payment_fields</name>
        <label>Assign payment fields</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>case.RedressPaidDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Redress_paid_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.FundsReceived__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funds_received</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_boolean</name>
        <label>Assign value boolean</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AmountDiscrepancy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_payment_details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>clientAtLoss</name>
        <choiceText>Client at loss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client at loss</stringValue>
        </value>
    </choices>
    <choices>
        <name>clientBetterOff</name>
        <choiceText>Client better off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client better off</stringValue>
        </value>
    </choices>
    <choices>
        <name>no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>noImpact</name>
        <choiceText>No impact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No impact</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Analysis_details_required</name>
        <label>Analysis details required?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_payment_details_now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Analysis_update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_case.ChangeApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>case.ChangeApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_analysis_details</targetReference>
            </connector>
            <label>Analysis update required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_funds_received_match_P_L_outcome</name>
        <label>Does funds received match P&amp;L outcome?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_value_boolean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Values do not match</defaultConnectorLabel>
        <rules>
            <name>Values_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.PLOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Funds_received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_payment_fields</targetReference>
            </connector>
            <label>Values match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_payment_details_now</name>
        <label>Update payment details?</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_payment_details_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>clientAtLoss</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>case.PLOutcome__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_payment_details</targetReference>
            </connector>
            <label>Update payment details</label>
        </rules>
    </decisions>
    <description>To update profit and loss details and move between stages</description>
    <environments>Default</environments>
    <interviewLabel>Case | Update profit and loss details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Update profit and loss details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>380</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_screen</targetReference>
        </faultConnector>
        <inputReference>case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_screen</name>
        <label>Fault screen</label>
        <locationX>754</locationX>
        <locationY>1532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;There&#39;s been an error when saving this record. Please raise a ticket.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_analysis_details</name>
        <label>Input analysis details</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_analysis_fields</targetReference>
        </connector>
        <fields>
            <name>P_L_Analysis</name>
            <fieldText>P&amp;L Analysis</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>P_L_Analysis_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_case.WhoIsAtFault__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_case.Team__c</objectFieldReference>
                </fields>
                <fields>
                    <name>What_should_have_happened</name>
                    <defaultValue>
                        <stringValue>{!Get_case.WhatShouldHaveHappened__c}</stringValue>
                    </defaultValue>
                    <fieldText>What should have happened?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_actually_happened</name>
                    <defaultValue>
                        <stringValue>{!Get_case.WhatActuallyHappened__c}</stringValue>
                    </defaultValue>
                    <fieldText>What actually happened?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Post_error_transactions_to_incorportate</name>
                    <defaultValue>
                        <stringValue>{!Get_case.PostErrorTransactionsToIncorporate__c}</stringValue>
                    </defaultValue>
                    <fieldText>Post-error transactions to incorportate</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>P_L_Analysis_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_calulation</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_case.DateOfCalculation__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of calulation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>P_L_outcome</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_case.PLOutcome__c</elementReference>
                    </defaultValue>
                    <fieldText>P&amp;L outcome</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Amount by which the client is detrimented as a result of our error. A negative value indicates the client is in fact better off&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The P&amp;amp;L outcome must match the calculation. &lt;/p&gt;&lt;p&gt;If the client outcome is better off, this must be a negative figure and if the client is worse off, it must be positive. &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!P_L_outcome} &lt; 0 &amp;&amp; {!Client_outcome} = {!clientBetterOff}
||
{!P_L_outcome} &gt; 0 &amp;&amp; {!Client_outcome} = {!clientAtLoss}
||
{!P_L_outcome} = 0 &amp;&amp; {!Client_outcome} = {!noImpact}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Client_outcome</name>
                    <choiceReferences>clientBetterOff</choiceReferences>
                    <choiceReferences>clientAtLoss</choiceReferences>
                    <choiceReferences>noImpact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client outcome</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>380</locationX>
        <locationY>1532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissable</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_payment_details</name>
        <label>Update payment details</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_funds_received_match_P_L_outcome</targetReference>
        </connector>
        <fields>
            <name>AmountsMustMatchText</name>
            <fieldText>&lt;p&gt;The Funds received value doesn&#39;t match the expected calculation value on the P&amp;amp;L outcome.&lt;/p&gt;&lt;p&gt;Please check the value received and update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AmountDiscrepancy</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Redress_paid_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>case.RedressPaidDate__c</elementReference>
            </defaultValue>
            <fieldText>Redress paid date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Funds_received</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>case.FundsReceived__c</elementReference>
            </defaultValue>
            <fieldText>Funds received</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountDiscrepancy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
