unpackaged/main/default/flows/ComplianceAdviceViewRequestedCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <collectionProcessors>
        <name>SortEarliestToLatest</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort, earliest to latest</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>GetEligibleRequestedSnapshots</collectionReference>
        <connector>
            <targetReference>RequestedSnapshotsTable</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ComplianceDateRequested__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Shows a list of snapshots that are eligible for review, and have been requested by compliance consultants for review</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonthDay1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 01)</expression>
    </formulas>
    <formulas>
        <name>DateAndTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>LastMonthDay1</name>
        <dataType>Date</dataType>
        <expression>IF(
    MONTH(TODAY()) = 1,
    DATE(YEAR(TODAY()) - 1, 12, 01),
    DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 01)
)</expression>
    </formulas>
    <interviewLabel>Compliance | Advice | View Requested Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance | Advice | View Requested Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets snapshots eligible for compliance review, that have already been requested.</description>
        <name>GetEligibleRequestedSnapshots</name>
        <label>Get Eligible Requested Snapshots</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SortEarliestToLatest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EligibleForComplianceReview__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPrimarySnapshot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ComplianceCheckStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>RequestedSnapshotsTable</name>
        <label>RequestedSnapshotsTable</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequestedSnapshots</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FF_Session__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requested Snapshots Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetEligibleRequestedSnapshots</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ComplianceDateRequested__c&quot;,&quot;guid&quot;:&quot;column-b6ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date Requested&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Compliance Date Requested&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Partner__c&quot;,&quot;guid&quot;:&quot;column-9341&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Partner&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Planner__c&quot;,&quot;guid&quot;:&quot;column-1c53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Planner&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;RelatedAdviceName__c&quot;,&quot;guid&quot;:&quot;column-8d3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Advice&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Related Advice Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;AdviceRecommendations__c&quot;,&quot;guid&quot;:&quot;column-5de9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Advice Recommendations&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MeetingHeldDate__c&quot;,&quot;guid&quot;:&quot;column-c6b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Meeting held date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;ClientHasVulnerability__c&quot;,&quot;guid&quot;:&quot;column-dc23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vulnerable?&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Client has vulnerability&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;ClientHasConflictOfInterest__c&quot;,&quot;guid&quot;:&quot;column-54f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Conflict of interest?&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Client has conflict of interest&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEligibleRequestedSnapshots</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SnapshotRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_Session__c</objectType>
    </variables>
</Flow>
