unpackaged/main/default/flows/FulfilmentScreenInvestmentMandateUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_text</name>
        <label>Split text</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <actionName>SplitStringInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_tasks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>Get_fulfilment_type_status.Tasks__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SplitStringInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>checkboxValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checkboxValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fulfilment_type</name>
        <label>Fulfilment type</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rebalance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fulfilment.FulfilmentType__r.ReferenceName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REBALANCE</stringValue>
                </rightValue>
            </conditions>
            <label>Rebalance</label>
        </rules>
        <rules>
            <name>Portfolio_switch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fulfilment.Recommendation__r.RecommendationType__r.ReferenceName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORTFOLIO_SWITCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_financial_product</targetReference>
            </connector>
            <label>Portfolio switch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_received_fulfilment</name>
        <label>Have we received fulfilment?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_fulfilment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fulfilment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_fulfilment_type_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow for submission of portfolio switches and rebalances</description>
    <environments>Default</environments>
    <formulas>
        <name>checkboxValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Loop_through_tasks}, &quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Fulfilment - screen - investment mandate updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfilment | screen - investment mandate updates</label>
    <loops>
        <name>Loop_through_tasks</name>
        <label>Loop through tasks</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Split_text.tasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_fulfilment</name>
        <label>Get fulfilment</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_fulfilment_type_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Fulfilment__c</object>
        <outputReference>fulfilment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilmentType__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>PaymentStatus__c</queriedFields>
        <queriedFields>Recommendation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_fulfilment_type_status</name>
        <label>Get fulfilment type status</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Split_text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilment.Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FulfilmentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilment.FulfilmentType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfilmentTypeStatus__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tasks__c</queriedFields>
        <queriedFields>NextStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_financial_product</name>
        <label>Update financial product</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fulfilment.Recommendation__r.DestinationLegacy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OW_Investment_Mandate__c</field>
            <value>
                <elementReference>fulfilment.Recommendation__r.NewInvestmentMandate__c</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fulfilment</name>
        <label>Update fulfilment</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Fulfilment_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateSubmitted__c</field>
            <value>
                <elementReference>Date_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_fulfilment_type_status.NextStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfilment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Collect_details</name>
        <label>Collect details</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_fulfilment</targetReference>
        </connector>
        <fields>
            <name>Date_submitted</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date submitted</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Make sure all tasks are complete!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!tasks.selectedValues} = {!tasks.choicesValues}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>tasks</name>
            <extensionName>runtime_industries_lending:flowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>Split_text.tasksToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>checkboxValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Tasks to complete</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_we_received_fulfilment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkboxValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfilment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfilment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
