unpackaged/main/default/flows/FulfilmentEarliestDatePassed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_the_date_passed</name>
        <label>Has the date passed?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EarliestFulfilmentDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A scheduled flow which runs every day and updates any old process fulfilment which can be submitted from today. This should be deactivated once all v2 fulfilment have been completed.</description>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fulfilment - earliest date passed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zOLDPROCESS Fulfilment | earliest date passed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_fulfilment</name>
        <label>Update fulfilment</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Calculate_status.status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_the_date_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recommendation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Fulfillment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-16</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_status</name>
        <label>Calculate status</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_fulfilment</targetReference>
        </connector>
        <flowName>FulfilmentCalculateStatus</flowName>
        <inputAssignments>
            <name>fulfilment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recStatus</name>
            <value>
                <elementReference>$Record.Recommendation__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
