unpackaged/main/default/flows/FulfilmentConvertCreated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Flow to create new business register records when fulfilment is converted from v2 to v3</description>
    <environments>Default</environments>
    <formulas>
        <name>AdviserName</name>
        <dataType>String</dataType>
        <expression>{!recommendation.Owner:User.FirstName} + &quot; &quot; +  {!recommendation.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>ongoingRevenue</name>
        <dataType>Number</dataType>
        <expression>{!Get_advice.OngoingAdviceFee__c} * {!recommendation.Amount__c} * 12 * 0.01</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>transferRevenue</name>
        <dataType>Number</dataType>
        <expression>{!Get_transfer_fee.PercentageFee__c} * 0.01 * {!recommendation.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Fulfilment | Converted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfilment | Converted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NBR_record</name>
        <label>Create NBR record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Adviser__c</field>
            <value>
                <elementReference>AdviserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedRevenueFromInitialFees__c</field>
            <value>
                <elementReference>Get_initial_advice_fee.FixedFee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedRevenueFromOngoingFees__c</field>
            <value>
                <elementReference>ongoingRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedRevenueFromTransferFees__c</field>
            <value>
                <elementReference>transferRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfilment__c</field>
            <value>
                <elementReference>fId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation__c</field>
            <value>
                <elementReference>recommendation.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessRegisterEntry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_advice</name>
        <label>Get advice</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_NBR_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recommendation.Advice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_advice_fee</name>
        <label>Get initial advice fee</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_transfer_fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TakenFromRecommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recommendation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_initial_advice_fee_model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_advice_fee_model</name>
        <label>Get initial advice fee model</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_transfer_fee_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial advice fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeeModel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recommendation</name>
        <label>Get recommendation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_initial_advice_fee_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </filters>
        <object>Recommendation__c</object>
        <outputReference>recommendation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Advice__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_transfer_fee</name>
        <label>Get transfer fee</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_advice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppliesToRecommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recommendation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FeeModel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_transfer_fee_model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_transfer_fee_model</name>
        <label>Get transfer fee model</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_initial_advice_fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeeModel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_recommendation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation__c</objectType>
    </variables>
</Flow>
