unpackaged/main/default/flows/LeadCreatedSlackAlerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_message</name>
        <label>Send Slack message</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>MortgageLeadAlertsMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>$Setup.OW_business_configuration__c.SlackWorkspaceId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_message_TW</name>
        <label>Send Slack message</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>$Setup.OW_business_configuration__c.SlackWorkspaceId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>SlackChannelID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>TaylorWessingLeadAlertMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Lead_Type</name>
        <label>Lead Type</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Taylor_Wessing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taylor Wessing Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Slack_channel_ID_TW</targetReference>
            </connector>
            <label>Taylor Wessing</label>
        </rules>
        <rules>
            <name>Mortgage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OW_mortgage_lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Slack_channel_ID</targetReference>
            </connector>
            <label>Mortgage</label>
        </rules>
    </decisions>
    <description>Slack notifications off the back of lead creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.FinServ__Employer__c}),&quot;&quot;,&quot;Employer: &quot;&amp;{!$Record.FinServ__Employer__c})</expression>
    </formulas>
    <interviewLabel>Lead | Lead created | Slack Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | Lead created | Slack Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Slack_channel_ID</name>
        <label>Get Slack channel ID</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Slack_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MORTGAGE_LEAD_ALERT</stringValue>
            </value>
        </filters>
        <object>slackv2__Message_Destination__c</object>
        <outputAssignments>
            <assignToReference>SlackChannelID</assignToReference>
            <field>slackv2__Channel_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Slack_channel_ID_TW</name>
        <label>Get Slack channel ID</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Slack_message_TW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROJ_FIN_WELLBEING_TAYLOR_WESSING</stringValue>
            </value>
        </filters>
        <object>slackv2__Message_Destination__c</object>
        <outputAssignments>
            <assignToReference>SlackChannelID</assignToReference>
            <field>slackv2__Channel_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>({!$Record.RecordType.DeveloperName} = &quot;OW_mortgage&quot; &amp;&amp; ISBLANK({!$Record.OW_parent_lead__c}))
||
ISPICKVAL({!$Record.LeadSource}, &quot;Taylor Wessing Partnership&quot;)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Lead_Type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MortgageLeadAlertsMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New mortgage lead!!
Source: {!$Record.LeadSource}
{!CompanyName}
:mortgage_wanker:</text>
    </textTemplates>
    <textTemplates>
        <name>TaylorWessingLeadAlertMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Taylor Wessing lead! :birthday_party_parrot:</text>
    </textTemplates>
    <variables>
        <name>SlackChannelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
