unpackaged/main/default/flows/LiabilityViewAuditHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_Liability</name>
        <label>get Liability</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <actionName>NovaServiceAuditHistory.getLiabilityAuditHistory</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>liabilityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NovaServiceAuditHistory.getLiabilityAuditHistory</nameSegment>
        <outputParameters>
            <assignToReference>LiabilityOverviewResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>getOverviewResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CallOutExceptionMessage</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_liability_row</name>
        <label>Get liability row</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>NovaServiceAuditHistory.getLiabilityAuditRecord</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_callout_sucessful</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>auditRecordId</name>
            <value>
                <elementReference>AuditHistoryList.selectedAuditRow.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NovaServiceAuditHistory.getLiabilityAuditRecord</nameSegment>
        <outputParameters>
            <assignToReference>liabilityTest</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>getOverviewResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CallOutExceptionMessage</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No row has been selected. Please click previous and select an option to view the audit history details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_callout_sucessful</name>
        <label>Is callout sucessful?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_handling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Successful_callout</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOverviewResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOverviewResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Detailed_Changes</targetReference>
            </connector>
            <label>Successful callout</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success</name>
        <label>Is Success?</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_handling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOverviewResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOverviewResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Changes_List</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_row_selected</name>
        <label>Was a row selected?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Row not selected</defaultConnectorLabel>
        <rules>
            <name>Row_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditHistoryList.selectedAuditRow.id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_liability_row</targetReference>
            </connector>
            <label>Row selected</label>
        </rules>
    </decisions>
    <description>Business use: view a list of each audit change on the record. Once clicked, a detailed display of the before and after values of each field is shown. 
Tech use: Utilises web components and external services to fetch the audit history from the nova service and pass into a web componenet for accurate display of the data.</description>
    <environments>Default</environments>
    <interviewLabel>Liability | View Audit History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Liability | View Audit History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Changes_List</name>
        <label>Display Changes List</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_a_row_selected</targetReference>
        </connector>
        <fields>
            <name>AuditHistoryList</name>
            <extensionName>c:auditHistoryList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>auditRows</name>
                <value>
                    <elementReference>LiabilityOverviewResponse.history</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Detailed_Changes</name>
        <label>Display Detailed Changes</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_Liability</targetReference>
        </connector>
        <fields>
            <name>DisplayRowInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Viewing updates made on &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!AuditHistoryList.selectedAuditRow.platformModifiedAt}, &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;by &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!AuditHistoryList.selectedAuditRow.platformLastModifiedBy}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAuditRowDetail</name>
            <extensionName>c:auditDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedAuditRow</name>
                <value>
                    <elementReference>AuditHistoryList.selectedAuditRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>AuditHistoryList.selectAuditRowObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>auditRecordResponseRole</name>
                <value>
                    <elementReference>liabilityTest.oneOfRoleAuditRecordResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>auditRecordResponseLiability</name>
                <value>
                    <elementReference>liabilityTest.oneOfLiabilityAuditRecordResponse</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back to list</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;No row has been selected. Please click previous and select an option to view the audit history details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuditHistoryErrorToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Please select a row</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Liability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_handling</name>
        <label>Error handling</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowName>ExceptionHandlingNovaServiceErrors</flowName>
        <inputAssignments>
            <name>Calloutexceptionmessage</name>
            <value>
                <elementReference>CallOutExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowError</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>apiException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallOutExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A variable to store the error message, which can be set by actions throughout the flow, meaning we can have a single error screen.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOverviewResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabilityOverviewResponse</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_AuditHistoryOverviewResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liabilityTest</name>
        <apexClass>ExternalService__NovaServiceAuditHistory_getLiabilityAuditRecord_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
