unpackaged/main/default/flows/LiabilityClose.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>UpdateLiability</name>
        <label>Update Liability</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>NovaServiceLiabilities.softDeleteLiability</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>platformId</name>
            <value>
                <elementReference>GetLiability.PlatformId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>deleteLiabilityBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NovaServiceLiabilities.softDeleteLiability</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_delete_body</name>
        <label>Assign delete body</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>deleteLiabilityBody.notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotesActual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deleteLiabilityBody.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>deleteLiabilityBody.closureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosureDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLiability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToDiscoveryMistake</name>
        <label>Assign to Discovery Mistake</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>deleteLiabilityBody.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery mistake</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLiability</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRemortgaged</name>
        <choiceText>Remortgaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remortgaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRepaid</name>
        <choiceText>Repaid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repaid</stringValue>
        </value>
    </choices>
    <choices>
        <name>giftedChoice</name>
        <choiceText>Gifted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gifted</stringValue>
        </value>
    </choices>
    <choices>
        <name>soldChoice</name>
        <choiceText>Sold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Household_in_Discovery</name>
        <label>Is Household in Discovery</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>CloseLiabilityDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household not in discovery</defaultConnectorLabel>
        <rules>
            <name>Household_in_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household.Fact_Find_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>Household in Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_successful</name>
        <label>Is successful?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateLiability.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Closes an open liability, and captures closed reason, closed date, and notes where applicable.</description>
    <dynamicChoiceSets>
        <name>AssetStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status__c</picklistField>
        <picklistObject>Asset__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LiabilityStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status__c</picklistField>
        <picklistObject>Liability__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NotesActual</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!NotesRequired}), {!NotesOptional}, {!NotesRequired})</expression>
    </formulas>
    <formulas>
        <name>StatusFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!GetLiability.LiabilityType__r.Category__c},&quot;Mortgage&quot;),{!StatusMortgage},{!StatusOther})</expression>
    </formulas>
    <interviewLabel>Liability | Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Liability | Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Household_in_Discovery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLiability.Household__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLiability</name>
        <label>Get Liability</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Liability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignToDiscoveryMistake</targetReference>
        </connector>
        <fields>
            <name>DiscoverConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This client is in discovery so closing this liability will mean it is removed. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Are you sure you want this removed? If you&#39;d like to keep it, close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, remove liability</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloseLiabilityDetails</name>
        <label>Close Liabillity Details</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>ConfirmDetails</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure you want to close off this liability?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If so, please select a status and provide further details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StatusMortgage</name>
            <choiceReferences>choiceRemortgaged</choiceReferences>
            <choiceReferences>choiceRepaid</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetLiability.LiabilityType__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Mortgage</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StatusOther</name>
            <choiceReferences>choiceRepaid</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetLiability.LiabilityType__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Liabilities</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotesRequired</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetLiability.ClosureNotes__c</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Notes cannot exceed 1000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!NotesRequired}) &lt; 1000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>StatusMortgage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceRemortgaged</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StatusMortgage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceOther</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StatusOther</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceRemortgaged</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StatusOther</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceOther</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotesOptional</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetLiability.ClosureNotes__c</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Notes cannot exceed 1000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!NotesOptional}) &lt; 1000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>StatusMortgage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceRepaid</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>StatusOther</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceRepaid</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClosureDate</name>
            <dataType>Date</dataType>
            <fieldText>Date Closed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date cannot be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>Today() &gt;= {!ClosureDate}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Close Liability</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmDetails</name>
        <label>Confirm Details</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>Assign_delete_body</targetReference>
        </connector>
        <fields>
            <name>AreYouSureText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Are you sure you want to close off this liability?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close Liability</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LiabilitySavedToast</name>
            <extensionName>c:displayToastFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Liability closed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLiability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_errors</name>
        <label>Handle errors</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <flowName>ExceptionHandlingNovaServiceErrors</flowName>
        <inputAssignments>
            <name>Calloutexceptionmessage</name>
            <value>
                <elementReference>UpdateLiability.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowError</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>deleteAssetBody</name>
        <apexClass>ExternalService__NovaServiceAssets_SoftDeleteAssetBody</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deleteLiabilityBody</name>
        <apexClass>ExternalService__NovaServiceLiabilities_AdminSoftDeleteLiabilityBody</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
