unpackaged/main/default/flows/OpportunityMortgageChangeApplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshPage</name>
        <label>Refresh page</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignNewPrimaryApplicationProcessStage</name>
        <label>Assign New Primary Application Process Stage</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewPrimaryApplicationProcessStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MortgageApplicationsTable.firstSelectedRow.MortgageOpportunityProcessStage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPrimaryMortgageApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MortgageApplicationsTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreviousPrimaryApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPrimaryApplicationProcessStageSelected</name>
        <label>Assign New Primary Application Process Stage</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewPrimaryApplicationProcessStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPrimaryMortgageApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MortgageApplicationsTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePreviousPrimaryApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPreviousPrimaryApplication</name>
        <label>Assign Previous Primary Application</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PreviousPrimaryApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.OW_mortgage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousPrimaryApplicationProcessStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.MortgageProcessStage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMortgageApplications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApplicationMortgageProcessStageIsNull</name>
        <label>Application Mortgage Process Stage is Null?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AssignNewPrimaryApplicationProcessStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MortgageApplicationsTable.firstSelectedRow.MortgageOpportunityProcessStage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewPrimaryApplicationProcessStageSelected</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <description>Process to control changing primary mortgage application mid mortgage opportunity.</description>
    <dynamicChoiceSets>
        <name>MortgageProcessStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MortgageProcessStage__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity | Mortgage | Change Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Mortgage | Change Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMortgageApplications</name>
        <label>Get Mortgage Applications</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MortgAppTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPreviousPrimaryApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>RefreshPage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MortgageProcessStage__c</field>
            <value>
                <elementReference>NewPrimaryApplicationProcessStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_mortgage__c</field>
            <value>
                <elementReference>NewPrimaryMortgageApplication</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreviousPrimaryApplication</name>
        <label>Update Previous Primary Application</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousPrimaryApplication</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MortgageOpportunityProcessStage__c</field>
            <value>
                <elementReference>PreviousPrimaryApplicationProcessStage</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <screens>
        <name>MortgAppTable</name>
        <label>MortgAppTable</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ApplicationMortgageProcessStageIsNull</targetReference>
        </connector>
        <fields>
            <name>MortgageApplicationsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ResidentialLoanApplication</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mortgage Applications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetMortgageApplications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7ca0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_lender__c&quot;,&quot;guid&quot;:&quot;column-4abe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lender&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-2281&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OW_mortgage_type__c&quot;,&quot;guid&quot;:&quot;column-24ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mortgage type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;InterestRate&quot;,&quot;guid&quot;:&quot;column-1310&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Interest Rate&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;AmortizationTerm&quot;,&quot;guid&quot;:&quot;column-2719&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Loan Duration in Months&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewPrimaryApplicationProcessStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPrimaryMortgageApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousPrimaryApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousPrimaryApplicationProcessStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
