unpackaged/main/default/flows/OW_atm_before_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Checks the account record type so that this flow only runs for households.</description>
        <name>Account_record_type</name>
        <label>Account record type</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesHousehold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_child_ATM_records</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_records_found</name>
        <label>Any records found?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>None found</defaultConnectorLabel>
        <rules>
            <name>Some_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_child_ATM_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_child_ATMs</targetReference>
            </connector>
            <label>Some found</label>
        </rules>
    </decisions>
    <description>Runs when an account team member record is deleted from a household, deleting associated records on the  the record is saved on creation or update. Primarily used to replicate account team membership across the person accounts linked to a given household.</description>
    <interviewLabel>ACT - before delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATM - before delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_child_ATMs</name>
        <label>Delete child ATMs</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputReference>Search_for_child_ATM_records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Search_for_child_ATM_records</name>
        <label>Search for child ATM records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_parent_atm_record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_record_type</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
