unpackaged/main/default/flows/OW_account_Prospect_to_onboarding_actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>adviceType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW_CUSTOMER_FULL_REVIEW</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Account | Prospect to onboarding actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Prospect to onboarding actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_onboarding_advice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_onboarding_advice</name>
        <label>Create onboarding advice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>OW_create_what_next_email_task</targetReference>
        </connector>
        <flowName>AdviceCreateAutomatic</flowName>
        <inputAssignments>
            <name>adviceTypeDeveloperName</name>
            <value>
                <stringValue>ONBOARDING_ACCUMULATION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>household</name>
            <value>
                <elementReference>household</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OW_create_what_next_email_task</name>
        <label>Create what next email task</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>OW_listen_to_discovery_task</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>send_what_next_email_process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>household.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OW_listen_to_discovery_task</name>
        <label>Create Listen to Discovery task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>listen_to_discovery_meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>household.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>household</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
