unpackaged/main/default/flows/OW_account_case_sub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Event_type_known</name>
        <label>Event type known</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Event_type_known_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_household</targetReference>
            </connector>
            <label>Event type known</label>
        </rules>
    </decisions>
    <description>Subscription of the account object to changes with cases</description>
    <environments>Default</environments>
    <interviewLabel>Account | case sub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | case sub</label>
    <loops>
        <name>Loop_clients</name>
        <label>Loop clients</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>clients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Person_party_state_updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Household_party_state_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_household</name>
        <label>Get household</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_clients_in_household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseInput.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_type_known</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_clients_in_household</name>
        <label>Get clients in household</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_clients</targetReference>
        </connector>
        <flowName>AccountGetPeopleInHousehold</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>Get_household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>role</name>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>clients</assignToReference>
            <name>personAccounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Household_party_state_update</name>
        <label>Household party state update</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>OW_account_party_state_manager</flowName>
        <inputAssignments>
            <name>eventType</name>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partyId</name>
            <value>
                <elementReference>Get_household.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Person_party_state_updates</name>
        <label>Person party state updates</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_clients</targetReference>
        </connector>
        <flowName>OW_account_party_state_manager</flowName>
        <inputAssignments>
            <name>eventType</name>
            <value>
                <elementReference>eventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partyId</name>
            <value>
                <elementReference>Loop_clients.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the details of the clients in the household</description>
        <name>clients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores the event type that should be passed through to the party state manage sub-flow</description>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
