unpackaged/main/default/flows/OW_employment_change_logged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_update_collection</name>
        <label>Add to update collection</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ffEmploymentUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_unvalidated_FF_employment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employment_specified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_triggering_record_to_update_collection</name>
        <label>Add triggering record to update collection</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>ffEmploymentUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_latest_update_on_employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_employment_ID</name>
        <label>Set employment ID</label>
        <locationX>138</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>employmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_latest_update_on_employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_employment_ID_found</name>
        <label>Set employment ID</label>
        <locationX>402</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>employmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_employment_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_employment_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_triggering_record_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_overwritten</name>
        <label>Set to overwritten</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Check_for_unvalidated_FF_employment.Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overwritten</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_FF_records_to_update</name>
        <label>Any FF records to update?</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FF_records_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ffEmploymentUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_update</name>
        <label>Client update?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Employment_specified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_client_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Validated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_unvalidated_FF_employment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_found</name>
        <label>Employment found?</label>
        <locationX>534</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Any_FF_records_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_employmentfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_employment_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_employment_ID_found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_specified</name>
        <label>Employment specified?</label>
        <locationX>336</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Check_for_employment_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_employment_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_to_overwrite</name>
        <label>Records to overwrite?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Employment_specified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_overwrite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_unvalidated_FF_employment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_overwritten</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will run whenever an FF employment record is created. This will check whether any unvalidated FF employment records need overwriting due to the creation of this new update.</description>
    <environments>Default</environments>
    <formulas>
        <name>dontCaptureChange</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Employment__r.OW_stop_internal_change_processing__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Employment | change created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employment | change logged (FF)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Checks for an existing employment record using the match ID in case it has been created but not yet specified on the FF records being submitted by a client.</description>
        <name>Check_for_employment_record</name>
        <label>Check for employment record</label>
        <locationX>534</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employment_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Match_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__Employment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks for an unvalidated FF employment record for the same employment so that this can be overwritten with the latest changes. 

Only checks for 1 record as this flow runs on creation of every FF employment record so there should never be more than 1 unvalidated record at a time.</description>
        <name>Check_for_unvalidated_FF_employment</name>
        <label>Check for unvalidated FF employment</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_to_overwrite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Match_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Match_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Match_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Employment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Validated__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_latest_update_on_employment</name>
        <label>Set latest update on employment</label>
        <locationX>336</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Any_FF_records_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OW_latest_update__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OW_stop_internal_change_processing__c</field>
            <value>
                <elementReference>dontCaptureChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Internal_User_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__Employment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_records</name>
        <label>Update FF records</label>
        <locationX>204</locationX>
        <locationY>2159</locationY>
        <inputReference>ffEmploymentUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_update</targetReference>
        </connector>
        <filterFormula>{!$Record.FF_Session__r.RecordType.DeveloperName} &lt;&gt; &quot;Snapshot&quot;</filterFormula>
        <object>FF_Employment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>employmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ffEmploymentUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_Employment__c</objectType>
    </variables>
</Flow>
