unpackaged/main/default/flows/OW_ff_session_new_client_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_record_to_update_collection_variable</name>
        <label>Add record to update collection variable</label>
        <locationX>2030</locationX>
        <locationY>2088</locationY>
        <assignmentItems>
            <assignToReference>ffGainAndIsasToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FF_external_gain_isa_temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_gains_and_losses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_FF_session_ff_account</name>
        <label>Link to FF session</label>
        <locationX>534</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>Check_for_account_changes.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_for_account_changes.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_FF_session_ff_asset</name>
        <label>Link to FF session</label>
        <locationX>1326</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>Check_for_asset_changes.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_for_asset_changes.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_FF_session_ff_employment</name>
        <label>Link to FF session</label>
        <locationX>1062</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>Check_for_employment_changes.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_for_employment_changes.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_FF_session_ff_fp</name>
        <label>Link to FF session</label>
        <locationX>798</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Check_for_financial_product_changes.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_for_financial_product_changes.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_FF_session_ff_liability</name>
        <label>Link to FF session</label>
        <locationX>1590</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>Check_for_liability_changes.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_for_liability_changes.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FF_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_household_ID_and_last_updated</name>
        <label>Set household ID and last updated</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>household.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>household.Last_Client_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>household.Stop_Internal_User_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stopInternalUserUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validations_outstanding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_re_used_variables</name>
        <label>Set re-used variables</label>
        <locationX>796</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>sessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Household_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ff_session_external_id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_account_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_that_validations_are_now_outstanding</name>
        <label>Set that validations are now outstanding</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>household.Fact_Find_Validations_Outstanding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>household.Profile_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated by Client (Validations Outstanding)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Profile_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_session_on_gains_and_ISAs</name>
        <label>Update session on gains and ISAs</label>
        <locationX>2030</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>FF_external_gain_isa_temp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_gains_and_losses.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FF_external_gain_isa_temp.FF_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_update_collection_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AR_record_found</name>
        <label>AR record found</label>
        <locationX>2074</locationX>
        <locationY>2640</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_record_AR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Annual_Review_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AR_record</targetReference>
            </connector>
            <label>Found record AR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_found_ff_account</name>
        <label>Changes found?</label>
        <locationX>796</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Check_for_financial_product_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_ff_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_account_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_account_changes.FF_Session__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_FF_session_ff_account</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_found_ff_asset</name>
        <label>Changes found?</label>
        <locationX>1579</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Check_for_liability_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_ff_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_asset_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_FF_session_ff_asset</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_found_ff_employment</name>
        <label>Changes found?</label>
        <locationX>1320</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Check_for_asset_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_ff_employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_employment_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_FF_session_ff_employment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_found_ff_fp</name>
        <label>Changes found</label>
        <locationX>1059</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Check_for_employment_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_ff_fp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_financial_product_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_financial_product_changes.FF_Session__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_FF_session_ff_fp</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_found_ff_liability</name>
        <label>Changes found?</label>
        <locationX>1832</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>Get_Gains_Losses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_ff_liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_liability_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_FF_session_ff_liability</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gains_Losses_Found</name>
        <label>Gains &amp; Losses Found?</label>
        <locationX>2074</locationX>
        <locationY>1728</locationY>
        <defaultConnector>
            <targetReference>Get_Annual_Review_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found_Gains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gains_Losses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_gains_and_losses</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_type</name>
        <label>Profile type</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Create_full_profile_validation_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Full</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Household_Account__r.Fact_Find_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_household</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validations_outstanding</name>
        <label>Validations outstanding?</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Set_that_validations_are_now_outstanding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Household_Account__r.Fact_Find_Validations_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_household</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When an FF session for a client update is created, we want ensure validation tasks are triggered and record that validations are outstanding and updates have been made. 

Shortly after the FF session for a client update is created, we want to check for the client change record (an FF record for a given object) that should be linked to it based on the session external ID and establish that link. This linking is delayed in case the session record is not written to Salesforce until after the FF record.</description>
    <environments>Default</environments>
    <formulas>
        <name>stopInternalUserUpdate</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK( {!$Record.Household_Account__r.Stop_Internal_User_Update__c} ), 
1, 
{!$Record.Household_Account__r.Stop_Internal_User_Update__c} + 1 )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FF session | new client update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FF session | new client update</label>
    <loops>
        <description>As there can be multiple gains and losses records returned as part of an annual review, we need to loop through them all and add a session to all of them.</description>
        <name>Loop_gains_and_losses</name>
        <label>Loop gains and losses</label>
        <locationX>1942</locationX>
        <locationY>1848</locationY>
        <collectionReference>Get_Gains_Losses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_session_on_gains_and_ISAs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_G_L</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Checks the FF account object for any changes that should be linked to this FF session.</description>
        <name>Check_for_account_changes</name>
        <label>Check for account changes</label>
        <locationX>796</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changes_found_ff_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Person_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks the FF asset object for any changes that should be linked to this FF session.</description>
        <name>Check_for_asset_changes</name>
        <label>Check for asset changes</label>
        <locationX>1579</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changes_found_ff_asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Asset__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks the FF employment object for any changes that should be linked to this FF session.</description>
        <name>Check_for_employment_changes</name>
        <label>Check for employment changes</label>
        <locationX>1320</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changes_found_ff_employment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Employment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check for account changes
Checks the FF FP object for any changes that should be linked to this FF session.</description>
        <name>Check_for_financial_product_changes</name>
        <label>Check for financial product changes</label>
        <locationX>1059</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changes_found_ff_fp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Financial_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks the FF liability object for any changes that should be linked to this FF session.</description>
        <name>Check_for_liability_changes</name>
        <label>Check for liability changes</label>
        <locationX>1832</locationX>
        <locationY>1368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changes_found_ff_liability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Liability__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Annual_Review_Questions</name>
        <label>Get Annual Review Questions</label>
        <locationX>2074</locationX>
        <locationY>2520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FF_Annual_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gains_Losses</name>
        <label>Get Gains &amp; Losses</label>
        <locationX>2074</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gains_Losses_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ff_session_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FF_External_Gains_ISAs__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FF_Session__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AR_record</name>
        <label>Update AR record</label>
        <locationX>1942</locationX>
        <locationY>2760</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Annual_Review_Questions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FF_Session__c</field>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputAssignments>
        <object>FF_Annual_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Commits the update.</description>
        <name>Update_FF_account</name>
        <label>Update FF account</label>
        <locationX>534</locationX>
        <locationY>768</locationY>
        <inputReference>Check_for_account_changes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_asset</name>
        <label>Update FF asset</label>
        <locationX>1326</locationX>
        <locationY>1488</locationY>
        <inputReference>Check_for_asset_changes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_employment</name>
        <label>Update FF employment</label>
        <locationX>1062</locationX>
        <locationY>1248</locationY>
        <inputReference>Check_for_employment_changes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_FP</name>
        <label>Update FF FP</label>
        <locationX>798</locationX>
        <locationY>1008</locationY>
        <inputReference>Check_for_financial_product_changes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Liability</name>
        <label>Update FF Liability</label>
        <locationX>1590</locationX>
        <locationY>1728</locationY>
        <inputReference>Check_for_liability_changes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_G_L</name>
        <label>Update G&amp;L</label>
        <locationX>1942</locationX>
        <locationY>2304</locationY>
        <connector>
            <targetReference>Get_Annual_Review_Questions</targetReference>
        </connector>
        <inputReference>ffGainAndIsasToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_household</name>
        <label>Update household</label>
        <locationX>50</locationX>
        <locationY>1080</locationY>
        <inputReference>household</inputReference>
    </recordUpdates>
    <start>
        <locationX>297</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_household_ID_and_last_updated</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Client_Update&quot;</filterFormula>
        <object>FF_Session__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_delay</name>
            <connector>
                <targetReference>Set_re_used_variables</targetReference>
            </connector>
            <label>1 minute delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_full_profile_validation_task</name>
        <label>Create full profile validation task</label>
        <locationX>270</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Update_household</targetReference>
        </connector>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>$Record.Household_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>validate_full_profile_client_updates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>$Record.Household_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>externalSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FF_external_gain_isa_temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_External_Gains_ISAs__c</objectType>
    </variables>
    <variables>
        <name>ffGainAndIsasToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FF_External_Gains_ISAs__c</objectType>
    </variables>
    <variables>
        <name>household</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
