unpackaged/main/default/flows/OW_lead_created_after_save_add_to_campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Create campaign member record to link this lead to the campaign.</description>
        <name>Add_campaign_member_to_collection</name>
        <label>Add campaign member to collection</label>
        <locationX>470</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>campaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lead_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_campaign_member_variables</name>
        <label>Set campaign member variables</label>
        <locationX>470</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>campaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_campaign_member_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_employer</name>
        <label>Set employer</label>
        <locationX>338</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>lead.FinServ__Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.OW_account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FinServ__Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.OW_account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reassign_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_ID</name>
        <label>Set lead ID</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_owner</name>
        <label>Set lead owner</label>
        <locationX>206</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.AssignTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_owner_email_domain</name>
        <label>Set lead owner</label>
        <locationX>470</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.AssignTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_source_assignment</name>
        <label>Set lead source</label>
        <locationX>338</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_campaigns.Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Linked_to_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_lead_field</name>
        <label>Set parent lead field</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>lead.OW_parent_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_parent_lead_details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_campaigns</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>queueObjectPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if any campaigns were found in the search based on Calendly slug</description>
        <name>Campaign_s_found_2</name>
        <label>Campaign(s) found?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Lead_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found_calendly_slug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_campaigns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_campaigns</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_updated</name>
        <label>Lead updated?</label>
        <locationX>182</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>Insert_campaign_member_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not updated</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_ID</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linked_to_account</name>
        <label>Linked to account?</label>
        <locationX>470</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Reassign_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_linked_to_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_campaigns.OW_account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinServ__Employer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_employer</targetReference>
            </connector>
            <label>Campaign linked to account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a parent lead external ID is specified so that lead linking can be performed if so.</description>
        <name>Parent_lead_specified</name>
        <label>Parent lead specified?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Search_for_campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No parent lead</defaultConnectorLabel>
        <rules>
            <name>Parent_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OW_parent_lead_external_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parent_lead_details</targetReference>
            </connector>
            <label>Parent lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reassign_lead</name>
        <label>Reassign lead?</label>
        <locationX>470</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Loop_campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calendly_link_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_campaigns.CalendlySlug__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CalendlySlug__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_campaigns.CalendlySlug__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_campaigns.AssignTo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_owner</targetReference>
            </connector>
            <label>Calendly link owner</label>
        </rules>
        <rules>
            <name>Email_domain_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_campaigns.EmailDomain__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_campaigns.EmailDomain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emailDomain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>queueObjectPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_owner_email_domain</targetReference>
            </connector>
            <label>Email domain owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_lead_source</name>
        <label>Set lead source</label>
        <locationX>470</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Linked_to_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_campaigns.Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_source_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Will automatically add new leads to a campaign where a match can be found.</description>
    <environments>Default</environments>
    <formulas>
        <name>emailDomain</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Email}, LEN({!$Record.Email}) - FIND(&quot;@&quot;, {!$Record.Email}) + 1)</expression>
    </formulas>
    <interviewLabel>Lead - created | after save | add to campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - created | after save | add to campaign</label>
    <loops>
        <description>Loops any campaigns found in the search based on lead source and will create campaign membership for these.</description>
        <name>Loop_campaigns</name>
        <label>Loop campaigns</label>
        <locationX>118</locationX>
        <locationY>1031</locationY>
        <collectionReference>Search_for_campaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_campaign_member_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lead_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_campaign_member_records</name>
        <label>Insert campaign member records</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <inputReference>campaignMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_parent_lead_details</name>
        <label>Get parent lead details</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_parent_lead_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_external_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_parent_lead_external_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Searches for a campaigns that this lead should be attributed to.</description>
        <name>Search_for_campaigns</name>
        <label>Search for campaigns</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_s_found_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND ((5 AND 6) OR (7 AND 8) OR (9 AND 10) OR 11)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CalendlySlug__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CalendlySlug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CalendlySlug__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailDomain__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EmailDomain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_lead_sources__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OW_lead_sources__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>[{!$Record.LeadSource}]</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_campaign_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CalendlySlug__c</queriedFields>
        <queriedFields>AssignTo__c</queriedFields>
        <queriedFields>OW_account__c</queriedFields>
        <queriedFields>EmailDomain__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>OW_lead_sources__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Insert_campaign_member_records</targetReference>
        </connector>
        <inputReference>lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_lead_specified</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OW_campaign_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OW_parent_lead_external_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CalendlySlug__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Stores any campaign member records that need to be inserted throughout this flow.</description>
        <name>campaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable to store updates made to the lead that is being processed in this flow</description>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
