unpackaged/main/default/flows/OW_loa_create_loas_for_financial_products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_FP_to_collection</name>
        <label>Add FP to collection</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>financialProductsForLOAing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>financialProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_FPs_needing_LOAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FPforupdate_to_collection</name>
        <label>Add FP to collection</label>
        <locationX>600</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>FPsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Identify_FPs_needing_LOAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_one_to_output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FPs_to_collection</name>
        <label>Add FPs to collection</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>financialProductsForLOAing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_financial_products_without_LOAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_FPs_needing_LOAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LOA_to_collection</name>
        <label>Add LOA to collection</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>LOAsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOAforAdding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Create_LOA_box</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_one_to_output</name>
        <label>Add one to output</label>
        <locationX>600</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>loa_created_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DB_Triage_needed_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_LOA</name>
        <label>Create LOA</label>
        <locationX>600</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>LOAforAdding.Household_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_FPs_needing_LOAs.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAforAdding.LOA_Financial_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identify_FPs_needing_LOAs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAforAdding.MainLOAStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LOAforAdding.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOAName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LOA_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_triage_flag</name>
        <label>Set triage flag</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>db_triage_needed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_FPs_needing_LOAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tick_Create_LOA_box</name>
        <label>Tick Create LOA box</label>
        <locationX>600</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Identify_FPs_needing_LOAs.Create_LOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Identify_FPs_needing_LOAs.OW_stop_internal_change_processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stopInternalChangeProcessing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FPforupdate_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_FPs_to_update_0</name>
        <label>Any FPs to update?</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FPs_to_update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_financial_products_without_LOAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_FPs_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_LOAs_to_create</name>
        <label>Any LOAs to create?</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LOAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOAsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LOAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DB_Triage_needed_decision</name>
        <label>DB Triage needed?</label>
        <locationX>600</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Identify_FPs_needing_LOAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_db_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre LOA DB Pension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.Date_Client_Confirmed_Understanding__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_triage_flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP_known</name>
        <label>FP known?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_financial_products_without_LOAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FP not known</defaultConnectorLabel>
        <rules>
            <name>FP_known_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financialProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_FP_to_collection</targetReference>
            </connector>
            <label>FP known</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_LOA</name>
        <label>Ready for LOA?</label>
        <locationX>754</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Identify_FPs_needing_LOAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>((1 AND 6) OR (7 AND (8 OR 9))) AND (2 OR 3) AND 4 AND (5 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.Date_terms_of_business_last_accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__JointOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__JointOwner__r.Date_terms_of_business_last_accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.Work_Benefit_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pre_loa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.OW_role_in_primary_household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.OW_role_in_primary_household__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.Household__r.FinServ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.Household__r.FinServ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identify_FPs_needing_LOAs.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FP_Defined_Benefit_Pension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LOA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triage_task_needed</name>
        <label>Triage task needed?</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_triage_needed_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>db_triage_needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_triage_task_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create&#39;s LOAs for financial products where all owners have signed TOB, and sets the status of the LOA appropriately. Can take a single financial product as an input and create the LOA for that or take a household ID and create LOAs for any financial products ready for an LOA against that household.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedStatus</name>
        <dataType>String</dataType>
        <expression>IF ( OR( ISBLANK( {!Identify_FPs_needing_LOAs.Public_Provider_Name__c} ), 
       {!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} = &quot;Unknown&quot;) , &quot;Awaiting Provider Policy Numbers&quot;,
     IF ( ISBLANK( {!Identify_FPs_needing_LOAs.FinServ__FinancialAccountNumber__c} ), &quot;Awaiting Policy Numbers&quot;,
          &quot;Send to Provider&quot; 
     )
)</expression>
    </formulas>
    <formulas>
        <name>LOAName</name>
        <dataType>String</dataType>
        <expression>LEFT( IF ( CONTAINS({!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c}, &quot;Pension&quot;), IF(ISBLANK({!Identify_FPs_needing_LOAs.Employer_Name__c}), 
{!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} + &quot; &quot; + {!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c} + &quot; | &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.LastName} + &quot;, &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.FirstName}, {!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} + &quot; (&quot; + {!Identify_FPs_needing_LOAs.Employer_Name__c} + &quot;) &quot; + {!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c} + &quot; | &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.LastName} + &quot;, &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.FirstName}), IF( CONTAINS({!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c}, &quot;ISA&quot;),{!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} + &quot; &quot; + {!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c} + &quot; | &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.LastName} + &quot;, &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.FirstName}, IF( OR( CONTAINS({!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c}, &quot;Life&quot;), CONTAINS({!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c}, &quot;Family&quot;) ), {!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} + &quot; Protection&quot; + &quot; | &quot; + {!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.LastName} + &quot;, &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.FirstName}, {!Identify_FPs_needing_LOAs.Public_Provider_Name__r.Name} + &quot; &quot; +{!Identify_FPs_needing_LOAs.FinServ__RecordTypeName__c} + &quot; | &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.LastName} + &quot;, &quot; +{!Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__r.FirstName} ))) , 80 )</expression>
    </formulas>
    <formulas>
        <name>stopInternalChangeProcessing</name>
        <dataType>Number</dataType>
        <expression>{!Identify_FPs_needing_LOAs.OW_stop_internal_change_processing__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LOA - Create LOAs for financial products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOA - Create LOAs for financial products</label>
    <loops>
        <name>Identify_FPs_needing_LOAs</name>
        <label>Identify FPs needing LOAs</label>
        <locationX>380</locationX>
        <locationY>830</locationY>
        <collectionReference>financialProductsForLOAing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ready_for_LOA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_LOAs_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LOAs</name>
        <label>Create LOAs</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Update_FPs</targetReference>
        </connector>
        <inputReference>LOAsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_financial_products_without_LOAs</name>
        <label>Get financial products without LOAs</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_FPs_to_update_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_LOA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__Household__c</queriedFields>
        <queriedFields>Work_Benefit_2__c</queriedFields>
        <queriedFields>FinServ__FinancialAccountNumber__c</queriedFields>
        <queriedFields>FinServ__PrimaryOwner__c</queriedFields>
        <queriedFields>FinServ__JointOwner__c</queriedFields>
        <queriedFields>Create_LOA__c</queriedFields>
        <queriedFields>Public_Provider_Name__c</queriedFields>
        <queriedFields>Employer_Name__c</queriedFields>
        <queriedFields>FinServ__RecordTypeName__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Household__c</queriedFields>
        <queriedFields>OW_stop_internal_change_processing__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FPs</name>
        <label>Update FPs</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Triage_task_needed</targetReference>
        </connector>
        <inputReference>FPsToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FP_known</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_triage_task_0</name>
        <label>Create triage task</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <flowName>OW_task_create_from_task_information</flowName>
        <inputAssignments>
            <name>household_id</name>
            <value>
                <elementReference>Identify_FPs_needing_LOAs.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>task_type</name>
            <value>
                <stringValue>send_db_triage_doc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>what_id</name>
            <value>
                <elementReference>Identify_FPs_needing_LOAs.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>db_triage_needed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>financialProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <description>Financial products who are ready to have LOAs created</description>
        <name>financialProductsForLOAing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>financialProductToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>FPsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>HouseholdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loa_created_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LOAforAdding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOA__c</objectType>
    </variables>
    <variables>
        <name>LOAsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOA__c</objectType>
    </variables>
</Flow>
