unpackaged/main/default/flows/OW_rtq_manually_trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Request RTQ emails apex class to make a call out to the portal service to send the email.</description>
        <name>Request_RTQ_email_0</name>
        <label>Request RTQ email</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>RequestRTQEmails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirm_RTQ_request_processed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customerIds</name>
            <value>
                <elementReference>customer_ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RequestRTQEmails</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Adds the customer ID to the collection variable</description>
        <name>Add_customer_ID_0</name>
        <label>Add customer ID</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>customer_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_RTQ_email_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We consider the RTQ status of the customer here and launch different paths depending on what this is.</description>
        <name>rtq_status_decision</name>
        <label>RTQ status</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>RTQ_should_be_triggered_automatically</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete</defaultConnectorLabel>
        <rules>
            <name>Complete_Expired_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rtq_status_decision_0</targetReference>
            </connector>
            <label>Pending / Complete / Expired</label>
        </rules>
        <rules>
            <name>RTQ_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_RTQ_information</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>We consider the RTQ status of the customer here and launch different paths depending on what this is.</description>
        <name>rtq_status_decision_0</name>
        <label>RTQ status</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Confirm_RTQ_request_processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (not used)</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_resending_of_email</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Complete_Expired_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customer.OW_rtq_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_most_recent_RTQ</targetReference>
            </connector>
            <label>Complete / Expired</label>
        </rules>
    </decisions>
    <description>Will walk the colleague through the process for getting a new RTQ for a given customer.</description>
    <environments>Default</environments>
    <interviewLabel>RTQ - manually trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTQ - manually trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the most recent RTQ details so the colleague can confirm they want to send a new RTQ.</description>
        <name>Get_most_recent_RTQ</name>
        <label>Get most recent RTQ</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_creation_of_new_RTQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_person_account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OW_rtq__c</object>
        <sortField>OW_completed_by_client__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>A simple are you sure check on whether to proceed.</description>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_RTQ</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_message</name>
            <fieldText>&lt;p&gt;Are you sure you want to start a new RTQ for this customer?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to continue. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not want to, you can leave this component alone or click previous to return to the previous screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>A simple are you sure check on whether to proceed.</description>
        <name>Are_you_sure_0</name>
        <label>Are you sure?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_customer_ID_0</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_message_0</name>
            <fieldText>&lt;p&gt;Are you sure you want to email this customer about their RTQ again?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to continue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not want to, you can leave this component alone or click previous to return to the previous screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Check that we want to do a new RTQ for this customer.</description>
        <name>Confirm_creation_of_new_RTQ</name>
        <label>Confirm creation of new RTQ</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
        <fields>
            <name>RTQ_already_completed_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;RTQ {!customer.OW_rtq_status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The details of the last RTQ for this customer are below. If you would like to start a new RTQ for this customer and alert them by email, click next. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Last RTQ&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;RTQ reference: {!Get_most_recent_RTQ.Name}&lt;/p&gt;&lt;p&gt;Completed: {!Get_most_recent_RTQ.OW_completed_by_client__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen will display a message asking the user to confirm that we want to send the RTQ email to the customer again.</description>
        <name>Confirm_resending_of_email</name>
        <label>Confirm resending of email</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_you_sure_0</targetReference>
        </connector>
        <fields>
            <name>Confirm_send_email_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;RTQ {!customer.OW_rtq_status__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This customer has an open RTQ that needs to be completed. To resend the RTQ email, please click next. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For customers new to the portal, this will include their registration link. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen will display a message confirming that the RTQ has been processed.</description>
        <name>Confirm_RTQ_request_processed</name>
        <label>Confirm RTQ request processed</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirm_request_processed_message</name>
            <fieldText>&lt;p&gt;That&#39;s all done for you! &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays when the RTQ status is null. This holding screen will confirm that we can&#39;t do anything with the RTQ.</description>
        <name>No_RTQ_information</name>
        <label>No RTQ information</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cant_trigger_rtq_message_0</name>
            <fieldText>&lt;p&gt;We cannot work with the RTQ for this account as the RTQ status is blank. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This could be because this is not a customer person account or because this customer has not yet been migrated onto the new RTQ process. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are unsure about this, please contact the administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays when the RTQ status of the customer is incomplete and so we do not want manual triggering of the RTQ as this is done as part of an automatic process.</description>
        <name>RTQ_should_be_triggered_automatically</name>
        <label>RTQ should be triggered automatically</label>
        <locationX>1018</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cant_trigger_rtq_message</name>
            <fieldText>&lt;p&gt;RTQ {!customer.OW_rtq_status__c}&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The RTQ process for this customer has not yet been started.&lt;/li&gt;&lt;li&gt;This will happen automatically when their fact find is marked as complete by a planner (when the household is in discovery and has a profile status of up-to-date).&lt;/li&gt;&lt;li&gt;You cannot manually start the RTQ process.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>rtq_status_decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_RTQ</name>
        <label>Create RTQ</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Confirm_RTQ_request_processed</targetReference>
        </connector>
        <flowName>OW_create_rtq</flowName>
        <inputAssignments>
            <name>person_id</name>
            <value>
                <elementReference>customer.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Stores the customer account record details</description>
        <name>customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores the customer ID. This is stored as a collection variable as this is the format accepted by the Apex class that send the email.</description>
        <name>customer_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
