unpackaged/main/default/flows/OW_task_update_owner_to_queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_owner_to_planner_queue</name>
        <label>Update owner to planner queue</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G4J0000031n6O</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Calendly_Event_Slug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_owner_to_specialist_queue_0</name>
        <label>Update owner to specialist queue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G4J0000031n6P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Calendly_Event_Slug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_queue</name>
        <label>Which queue?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly_Event_Slug__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_to_planner_queue</targetReference>
            </connector>
            <label>Planner</label>
        </rules>
        <rules>
            <name>Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly_Event_Slug__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_to_specialist_queue_0</targetReference>
            </connector>
            <label>Specialist</label>
        </rules>
    </decisions>
    <description>This flow is a temporary fix to a problem where Zapier cannot create tasks and assign them to queues. This flow allows the inactive planner and specialist queue users to be used but reassigns the task to the queue users.</description>
    <interviewLabel>Task - update owner to queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - update owner to queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputReference>task</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_queue</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Calendly_Event_Slug__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Calendly_Event_Slug__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planner</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054J000005ZzXsQAK</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
