unpackaged/main/default/flows/TaskCompleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_taskRequest_to_collection</name>
        <label>Add taskRequest to collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TaskRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1_Loop_through_triggered_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_requets_varaibles</name>
        <label>Assign task request variables</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>taskRequest.householdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FinServ__Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.taskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Loop_through_triggered_tasks.OW_task_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.whatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedAdviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Advice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedAmlKycId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_AML_KYC_Check__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedAnnualReviewId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Annual_Review__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedLoaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_LOA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedMortgageApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OW_mortgage_application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.relatedProviderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.whoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRequest.RelatedFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedFee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_taskRequest_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_follow_on_tasks</name>
        <label>Any follow on tasks?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_triggered_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1_Loop_through_triggered_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Runs when a task is completed, checking for follow on tasks that should be generated and triggering those if any are found.</description>
    <environments>Default</environments>
    <interviewLabel>Task | Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task | Completed</label>
    <loops>
        <name>Loop_1_Loop_through_triggered_tasks</name>
        <label>Loop 1 | Loop through triggered tasks</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_triggered_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_task_requets_varaibles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Request_follow_ons_be_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_task_info_record</name>
        <label>Get task info record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_triggered_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_task_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OW_task_information_name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OW_task_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OW_task_information__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_triggered_tasks</name>
        <label>Get triggered tasks</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_follow_on_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TriggeredByTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_task_info_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TriggeredByTask__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OW_task_information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_task_info_record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OW_task_information_name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Request_follow_ons_be_created</name>
        <label>Request follow ons be created</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <flowName>TaskCreateFromRequests</flowName>
        <inputAssignments>
            <name>householdId</name>
            <value>
                <elementReference>$Record.FinServ__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskRequests</name>
            <value>
                <elementReference>TaskRequests</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>taskRequest</name>
        <apexClass>TaskRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRequests</name>
        <apexClass>TaskRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
